{# src/Busybee/DatabaseBundle/Resources/views/Field/list_content.html.twig #}

{% trans_default_domain 'BusybeeDatabaseBundle' %}


{% include "BusybeePaginationBundle:Default:index.html.twig" %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<thead>
				  <tr>
					<th width="7%">&nbsp;</th>
					<th width="93%">{{ 'table.list.name'| trans }}</th>
				  </tr>
				</thead>
				<tbody>


				{% for tdata in listdata %}

				  <tr>
						<td><a href="{{ path('database_table_edit', {'table_id': tdata.id} ) }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
						<td>{{ tdata.name| trans }}</td>
				  </tr>

				{% endfor %}
				</tbody>
			  </table>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
					<a class="btn btn-primary" href="{{ path('database_table_new') }}" role="button">{{ 'table.list.create'| trans }}</a>
		</div>
	</div>
</div>