{# src/Busybee/PaginationBundle/Resources/views/Default/index.html.twig #}

{% trans_default_domain 'BusybeePaginationBundle' %}

<div class="small col-md-12">
	<div class="row well">
		<div class="col-md-6 text-left">
			{{ form_row(form.current_search) }}
			{{ form_row(form.current_sort) }}
			{{ form_widget(form.start_search) }}
			&nbsp;Total:&nbsp;{{ pagination.getTotal }}
		</div>
		<div class="col-md-6 text-right">
			{{ form_row(form.last_search, {value: pagination.getSearch }) }}
			{{ form_row(form.offset, {value: pagination.getOffset}) }}
			{{ form_row(form.limit) }}&nbsp;
			{{ form_row(form.total, {value: pagination.getTotal}) }}
			{% if pagination.getTotal > 10 %}
				{{ form_widget(form.prev) }}&nbsp;
				{{ form_widget(form.next) }}
			{% else %}
				{% do form.prev.setRendered %}
				{% do form.next.setRendered %}
			{% endif %}
		</div>
	</div>				
</div>
