{# src/Busybee/PaginationBundle/Resources/views/Default/index.html.twig #}

{% trans_default_domain 'BusybeePaginationBundle' %}

{% set form = pagination.getForm %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}


{% if form_array is not defined %}
    {% set form_array = [] %}
{% endif %}
{{ form_start(form, form_array) }}
<div class="container-fluid well">
    <div class="row">
        <div class="col-sm-3">
            <div class="input-group">
                {{ form_widget(form.currentSearch) }}
                <div class="input-group-btn">
                    <button class="btn btn-success halflings halflings-search" type="submit"
                            name="paginator[startSearch]"
                            id="paginator_startSearch" style="height: 34px; margin-top: -1px; ">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            {{ form_widget(form.currentSort) }}
        </div>
        {% if pagination.getTotal > pagination.getLimit %}
            <div class="col-sm-offset-4 col-sm-2">
                {{ form_widget(form.lastSearch, {value: pagination.getSearch }) }}
                {{ form_widget(form.offSet, {value: pagination.getOffSet}) }}
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-info halflings halflings-backward" type="submit" name="paginator[prev]"
                                id="paginator_prev" style="height: 34px; margin-top: -1px; ">
                        </button>
                    </div>
                    {{ form_widget(form.limit) }}
                    <div class="input-group-btn">
                        <button class="btn btn-info halflings halflings-forward" type="submit" name="paginator[next]"
                                id="paginator_next" style="height: 34px; margin-top: -1px; ">
                        </button>
                    </div>
                </div>
                {{ form_widget(form.total, {value: pagination.getTotal}) }}
            </div>
        {% elseif pagination.getTotal > 10 %}
            <div class="col-sm-offset-4 col-sm-2">
                {{ form_widget(form.limit) }}
            </div>
        {% else %}
            {% do form.limit.setRendered %}
            <input type="hidden" name="paginator[limit]" id="paginator_limit" value="{{ pagination.getLimit }}"/>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-12 text-right">
            {% set pages = pagination.getTotalPages %}

            {% transchoice pages with {'%total%': pagination.getTotal, '%current%': pagination.getCurrentPage, '%pages%': pages, '%first%': pagination.getFirstRecord, '%last%': pagination.getLastRecord} %}
            pagination.figures
            {% endtranschoice %}

            {#   {{ 'pagination.figures'|trans({'%total%': pagination.getTotal, '%current%': pagination.getCurrentPage, '%pages%': pagination.getTotalPages, '%first%': pagination.getFirstRecord, '%last%': pagination.getLastRecord} ) }} #}
        </div>
    </div>
</div>
{{ form_end(form) }}
