{# src/Busybee/PersonBundle/Resources/views/Form/person.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% form_theme form
	"BusybeeFormBundle:Template:jquery.collection.html.twig"
	"BusybeePersonBundle:Form:phoneCollection.html.twig"
	"BusybeeFormBundle:Template:bootstrap.html.twig"
%}

<div class="panel panel-primary busybee-panel">
    {%  include "BusybeePersonBundle:Person:panelHeader.html.twig" %}
	<div class="panel-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
                    {% include 'BusybeePersonBundle:Person:phones.html.twig' %}
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-12 well">
							{{ form_row(form.email) }}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 well">
							{{ form_row(form.email2) }}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 well">
                            {{ form_row(form.website) }}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 well">
                            {{ form_row(form.address1) }}
							<span>
								<button title="{{ 'address.erase'|trans }}" id="erasePersonAddress1" type="button" class="btn btn-danger halflings halflings-erase" style="float: right; " ></button>
								<button title="{{ 'address.refresh'|trans }}" id="refreshPersonAddress1" type="button" class="refreshPersonAddress btn btn-info halflings halflings-refresh" style="float: right; " ></button>
								<button title="{{ 'address.add'|trans }}" id="addPersonAddress1" type="button" class="addPersonAddress  btn btn-primary halflings halflings-plus-sign" style="float: right; " ></button>
							</span><br/>
                            {% include 'BusybeeHomeBundle:Default:flash.html.twig' with {'flashClass': 'fadeAlert', 'transDomain': 'BusybeePersonBundle'} %}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 well">
                            {{ form_row(form.address2) }}
							<span>
								<button title="{{ 'address.erase'|trans }}" id="erasePersonAddress2" type="button" class="btn btn-danger halflings halflings-erase" style="float: right; " ></button>
								<button title="{{ 'address.refresh'|trans }}" id="refreshPersonAddress2" type="button" class="refreshPersonAddress btn btn-info halflings halflings-refresh" style="float: right; " ></button>
								<button title="{{ 'address.add'|trans }}" id="addPersonAddress2" type="button" class="addPersonAddress  btn btn-primary halflings halflings-plus-sign" style="float: right; " ></button>
							</span><br/>
                            {% include 'BusybeeHomeBundle:Default:flash.html.twig' with {'flashClass': 'fadeAlert', 'transDomain': 'BusybeePersonBundle'} %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


