{# src/Busybee/PersonBundle/Resources/views/Person/edit.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% form_theme form "BusybeeFormBundle:Template:bootstrap.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	{% include 'BusybeeHomeBundle:AutoComplete:style.html.twig' %}
    {% include 'BusybeeHomeBundle:Toggle:style.html.twig' %}
{% endblock stylesheets %}


{% block title %}{{ parent() }}{% if id == 'Add' %}{{ 'person.people.title'|trans }}{% else %}{{ 'person.people.title'|trans }}{% endif %}{% endblock title %}
{% block headerTitle %}{% if id == 'Add' %}{{ 'person.people.title'|trans }}{% else %}{{ 'person.people.title'|trans }}{% endif %}{% endblock headerTitle %}
{% block headerLead %}{% if id == 'Add' %}{{ 'person.people.description'|trans }}{% else %}{{ 'person.people.description'|trans }}{% endif %}{% endblock headerLead %}

{% set tabs = get_parameter('person') %}
{% block contentContainer %}
{{ all_form_errors(fullForm, "div", "alert alert-danger fadeAlert") }}
{% set form_path = [] %}
{% set form_path = form_path|merge({'id': id}) %}
{% if currentSearch is not empty %}
	{% set form_path = form_path|merge({'currentSearch': currentSearch}) %}
{% endif %}
{{ form_start(form, {'action': path('person_edit', form_path)}) }}
<div id="personTabs">
	<ul class="nav nav-tabs" role="tablist">
		{% for name,tab in tabs %}
			{% set translation = 'BusybeePersonBundle' %}
			{% if tab.translation is defined %}{% set translation = tab.translation %}{% endif %}
            {% set disabled = '' %}
            {% if name == 'staff' and form.staff.person is not defined %}{% set disabled = ' class=disabled' %}{% endif %}
            {% if name == 'student' and form.student.person is not defined %}{% set disabled = ' class=disabled' %}{% endif %}
            {% if name == 'user' and form.user.person is not defined %}{% set disabled = ' class=disabled' %}{% endif %}
			<li{{ disabled }}><a href="#{{ name }}" role="tab" data-toggle="tab">{{ tab.label|trans({}, translation) }}</a></li>
		{% endfor %}
	</ul>
	{% set active = ' active' %}
	<div class="tab-content">
		{% for name,tab in tabs %}
			{% set translation = 'BusybeePersonBundle' %}
			{% if tab.translation is defined %}{% set translation = tab.translation %}{% endif %}
            {% if name == 'staff' and form.staff.person is not defined %}
                <div class="tab-pane" id="{{ name }}" >
                    {%  include 'BusybeeFormBundle:Forms:emptyTab.html.twig' with {'name': 'person.staff.title'|trans({'%name%': form.vars.value.formatName}) }  %}
                </div>
            {% elseif name == 'student' and form.student.person is not defined %}
                <div class="tab-pane" id="{{ name }}" >
                    {%  include 'BusybeeFormBundle:Forms:emptyTab.html.twig' with {'name': 'person.student.title'|trans({'%name%': form.vars.value.formatName}) }  %}
                </div>
            {% elseif name == 'user' and form.user.person is not defined %}
                <div class="tab-pane" id="{{ name }}" >
                    {%  include 'BusybeeFormBundle:Forms:emptyTab.html.twig' with {'name': 'person.user.title'|trans({'%name%': form.vars.value.formatName}) }  %}
                </div>
            {% else %}
			<div class="tab-pane{{ active }}" id="{{ name }}" >
				{% if tab.message is defined %}
				<div class="container-fluid">
					<div class='row' id="{{ tab.message }}" style="display: none;">
					</div>
				</div>
				{% endif %}
                {% include tab.include %}
			</div>
            {% endif %}
			{% set active = '' %}
		{% endfor %}
	</div>
</div>
{{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
	{{ parent() }}
    {% include 'BusybeeHomeBundle:Scripts:fadeAlert.html.twig' %}
    {% include 'BusybeeHomeBundle:Toggle:script.html.twig' %}
    {% include "BusybeeFormBundle:Scripts:jquery.collection.js.html.twig" %}
    {% include 'BusybeePersonBundle:Person:script.html.twig' %}
    {% include 'BusybeeHomeBundle:Scripts:monitorForm.html.twig' with {'route': 'person_manage'} %}
	<script>

	</script>
{% endblock javascripts %}
