{# src/Busybee/PersonBundle/Resources/views/Person/edit.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% form_theme form "BusybeeFormBundle:Template:bootstrap.html.twig" %}

{% block title %}{{ parent() }}{% if id == 'Add' %}{{ 'person.staff.add.title'|trans }}{% else %}{{ 'person.staff.edit.title'|trans }}{% endif %}{% endblock title %}
{% block headerTitle %}{% if id == 'Add' %}{{ 'person.staff.add.title'|trans }}{% else %}{{ 'person.staff.edit.title'|trans }}{% endif %}{% endblock headerTitle %}
{% block headerLead %}{% if id == 'Add' %}{{ 'person.staff.add.description'|trans }}{% else %}{{ 'person.staff.edit.description'|trans }}{% endif %}{% endblock headerLead %}

{% block contentContainer %}
{{ form_start(form) }}
<div id="personTabs">
	<ul class="nav nav-tabs" role="tablist">
		<li><a href="#person" role="tab" data-toggle="tab">{{ 'person.tab.person'|trans }}</a></li>
		<li><a href="#address1" role="tab" data-toggle="tab">{{ 'person.tab.address1'|trans }}</a></li>
		<li><a href="#address2" role="tab" data-toggle="tab">{{ 'person.tab.address2'|trans }}</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="person" >
			<div class="container-fluid">
				<div class='row' id="personMessage" style="display: none;">
				</div>
			</div>
			{{ include('BusybeePersonBundle:Person:person.html.twig') }}
		</div>
		<div class="tab-pane" id="address1" >
			<div class="container-fluid">
				<div class='row' id="addressMessageaddress1" style="display: none;">
				</div>
			</div>
			{% include 'BusybeePersonBundle:Address:edit.html.twig' with {'form': form.add1, 'address': address1, 'classSuffix': 'address1'} %}
			{% do form.address1.setRendered %}
		</div>
		<div class="tab-pane" id="address2" >
			<div class="container-fluid">
				<div class='row' id="addressMessageaddress2" style="display: none;">
				</div>
			</div>
			{% include 'BusybeePersonBundle:Address:edit.html.twig' with {'form': form.add2, 'addressTitle': 'address2.title', 'address': address2, 'classSuffix': 'address2'} %}
			{% do form.address2.setRendered %}
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-6 well">
			<div class="form-group text-right">
				{{ form_widget(form.save) }}
				{{ form_widget(form.cancel) }}
			</div>
		</div>
	</div>
</div>
{{ form_end(form) }}
{% endblock contentContainer %}


{% block javascripts %}
	{{ parent() }}
	{% include 'BusybeePersonBundle:Address:script.html.twig' with {'classSuffix': 'address1'} %}
	{% include 'BusybeePersonBundle:Locality:script.html.twig' with {'classSuffix': 'address1'} %}
	{% include 'BusybeePersonBundle:Address:script.html.twig' with {'classSuffix': 'address2'} %}
	{% include 'BusybeePersonBundle:Locality:script.html.twig' with {'classSuffix': 'address2'} %}
{% endblock javascripts %}
