{# src/Busybee/PersonBundle/Resources/views/Person/edit.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% form_theme form "BusybeeFormBundle:Template:bootstrap.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	{% include 'BusybeeHomeBundle:AutoComplete:style.html.twig' %}
{% endblock stylesheets %}


{% block title %}{{ parent() }}{% if id == 'Add' %}{{ 'person.people.title'|trans }}{% else %}{{ 'person.people.title'|trans }}{% endif %}{% endblock title %}
{% block headerTitle %}{% if id == 'Add' %}{{ 'person.people.title'|trans }}{% else %}{{ 'person.people.title'|trans }}{% endif %}{% endblock headerTitle %}
{% block headerLead %}{% if id == 'Add' %}{{ 'person.people.description'|trans }}{% else %}{{ 'person.people.description'|trans }}{% endif %}{% endblock headerLead %}

{% set tabs = get_parameter('person') %}

{% block contentContainer %}
{{ all_form_errors(fullForm, "div", "alert alert-danger fadeAlert") }}
{{ form_start(form) }}
<div id="personTabs">
	<ul class="nav nav-tabs" role="tablist">
		{% for name,tab in tabs %}
			{% set translation = 'BusybeePersonBundle' %}
			{% if tab.translation is defined %}{% set translation = tab.translation %}{% endif %}
            {% set disabled = '' %}
            {% if name == 'staff' and form.staff.person is not defined %}{% set disabled = ' class=disabled' %}{% endif %}
            {% if name == 'careGiver' and form.careGiver.person is not defined %}{% set disabled = ' class=disabled' %}{% endif %}
            {% if name == 'student' and form.student.person is not defined %}{% set disabled = ' class=disabled' %}{% endif %}
			<li{{ disabled }}><a href="#{{ name }}" role="tab" data-toggle="tab">{{ tab.label|trans({}, translation) }}</a></li>
		{% endfor %}
	</ul>
	{% set active = ' active' %}
	<div class="tab-content">
		{% for name,tab in tabs %}
			{% set translation = 'BusybeePersonBundle' %}
			{% if tab.translation is defined %}{% set translation = tab.translation %}{% endif %}
            {% if name == 'staff' and form.staff.person is not defined %}
                <div class="tab-pane" id="{{ name }}" >
                    {%  include 'BusybeeFormBundle:Forms:emptyTab.html.twig' with {'name': 'person.staff.title'|trans({'%name%': form.vars.value.formatName}) }  %}
                </div>
            {% elseif name == 'careGiver' and form.careGiver.person is not defined %}
                <div class="tab-pane" id="{{ name }}" >
                    {%  include 'BusybeeFormBundle:Forms:emptyTab.html.twig' with {'name': 'person.careGiver.title'|trans({'%name%': form.vars.value.formatName}) }  %}
                </div>
            {% elseif name == 'student' and form.student.person is not defined %}
                <div class="tab-pane" id="{{ name }}" >
                    {%  include 'BusybeeFormBundle:Forms:emptyTab.html.twig' with {'name': 'person.student.title'|trans({'%name%': form.vars.value.formatName}) }  %}
                </div>
            {% else %}
			<div class="tab-pane{{ active }}" id="{{ name }}" >
				{% if tab.message is defined %}
				<div class="container-fluid">
					<div class='row' id="{{ tab.message }}" style="display: none;">
					</div>
				</div>
				{% endif %}
				{% include(tab.include) %}
			</div>
            {% endif %}
			{% set active = '' %}
		{% endfor %}
	</div>
</div>
{{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
	{{ parent() }}
    {% include 'BusybeeHomeBundle:Scripts:fadeAlert.js.twig' %}
    {% include "BusybeeFormBundle:Scripts:jquery.collection.js.html.twig" %}
    <script type="text/javascript" src="{{ asset('js/bootstrap-checkbox.min.js') }}"></script>
    {% include 'BusybeePersonBundle:Person:script.html.twig' %}
    {% include 'BusybeeHomeBundle:Scripts:monitorForm.js.twig' with {'route': 'person_manage'} %}
	<script>
        $(".yes-no").checkboxpicker({
            iconCls: "halflings"
        });
        $('#person_staffQuestion').checkboxpicker().on('change', function() {
            var checked = $('#person_staffQuestion').prop('checked');
            if (checked) {
                $('.staffMember').prop('disabled', false);
                $('#person_studentQuestion').prop('disabled', true);
            } else {
                $('.staffMember').prop('disabled', true);
                $('#person_studentQuestion').prop('disabled', false);
            }
        });
        $('#person_careGiverQuestion').checkboxpicker().on('change', function() {
            var checked = $('#person_careGiverQuestion').prop('checked');
            if (checked) {
                $('.careGiver').prop('disabled', false);
                $('#person_studentQuestion').prop('disabled', true);
            } else {
                $('.careGiver').prop('disabled', true);
                $('#person_studentQuestion').prop('disabled', false);
            }
        });
        $('#person_studentQuestion').checkboxpicker().on('change', function() {
            var checked = $('#person_studentQuestion').prop('checked');
            if (checked) {
                $('.student').prop('disabled', false);
                $('#person_staffQuestion').prop('disabled', true);
                $('#person_careGiverQuestion').prop('disabled', true);
            } else {
                $('.student').prop('disabled', true);
                $('#person_staffQuestion').prop('disabled', false);
                $('#person_careGiverQuestion').prop('disabled', false);
            }
        });
        $(document).ready(function(){
            var staff_checked = $('#person_staffQuestion').prop('checked');
            if (staff_checked) {
                $('.staffMember').prop('disabled', false);
            } else {
                $('.staffMember').prop('disabled', true);
            }
            var careGiver_checked = $('#person_careGiverQuestion').prop('checked');
            if (careGiver_checked) {
                $('.careGiver').prop('disabled', false);
            } else {
                $('.careGiver').prop('disabled', true);
            }
            var student_checked = $('#person_studentQuestion').prop('checked');
            if (student_checked) {
                $('.student').prop('disabled', false);
            } else {
                $('.student').prop('disabled', true);
            }

		});
	</script>
{% endblock javascripts %}
