{# src/Busybee/PersonBundle/Resources/views/Person/index.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% block title %}{{ parent() }}{{ 'person.people.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'person.people.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'person.people.description'|trans }}{% endblock headerLead %}



{% block contentContainer %}
	{% include 'PaginationBundle:Default:index.html.twig' %}

	<div class="panel panel-primary busybee-panel">
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'people.title'|trans}} <button title='{{ 'person.title.add'|trans}}' type="button" class="halflings halflings-plus-sign btn btn-primary" onClick="window.open('{{ path('person_edit', {'id': 'Add'}) }}','_self')" style="float: right;"></button>
                <button title='{{ 'person.title.import'|trans}}' type="button" class="halflings halflings-import btn btn-primary" onClick="window.open('{{ path('people_import') }}','_self')" style="float: right;"></button> </h3>
		</div>
		<div class="panel-body">
			<div class="container-fluid well">
				<div class="row">
					<div class="col-md-12 col-sm-12" id="peopleError">

					</div>
				</div>
				<div class="row row-header">
					<div class="col-sm-2 col-md-2" style="display: inline-block;">
						{% if pagination.getSortByName == 'Family Name' %}
							<span class="halflings halflings-sort-by-alphabet"></span> {{ 'person.familyName'|trans }}
						{% else %}
							{{ 'person.familyName'|trans }}
						{% endif %}
					</div>
					<div class="col-sm-2 col-md-2" style="display: inline-block;">
						{% if pagination.getSortByName == 'Given Name' %}
							<span class="halflings halflings-sort-by-alphabet"></span> {{ 'person.givenName'|trans }}
						{% else %}
							{{ 'person.givenName'|trans }}
						{% endif %}
					</div>
					<div class="col-md-3 hidden-sm hidden-xs" style="display: inline-block;">
                        {% if pagination.getSortByName == 'Email' %}
							<span class="halflings halflings-sort-by-alphabet"></span> {{ 'person.email'|trans }}
                        {% else %}
                            {{ 'person.email'|trans }}
                        {% endif %}
					</div>
                    <div class="col-md-2 col-sm-2 text-center" style="display: inline-block;">
                       {{ 'person.actions'|trans }}
                    </div>
                    <div class="col-md-3 hidden-sm hidden-xs text-center">
                        {{ 'person.category.title'|trans }}
                        <div class="row ">
                            <div class="col-sm-3 text-center">
                                <span style="font-size: 9px;">{{ 'person.category.staff'|trans }}</span>
                            </div>
                            <div class="col-sm-3 text-center">
                                <span style="font-size: 9px;">{{ 'person.category.student'|trans }}</span>
                            </div>
                            <div class="col-sm-3 text-center">
                                <span style="font-size: 9px;">{{ 'person.category.caregiver'|trans }}</span>
                            </div>
                            <div class="col-sm-3 text-center">
                                <span style="font-size: 9px;">{{ 'person.category.user'|trans }}</span>
                            </div>
                        </div>
                    </div>
				</div>



			{% for person in pagination.getResult %}
				<div class="row row-striped">
					<div class="col-sm-2 col-md-2 form-inline">
						{{ person.surname }}
					</div>
					<div class="col-sm-2 col-md-2 form-inline">
						{{ person.firstName }}
					</div>
					<div class="col-md-3 hidden-sm hidden-xs" style="display: inline-block;">
                        {{ person.email }}
					</div>
					<div class="col-md-2 col-sm-2 text-center form-inline">

						<button title='{{ 'person.title.edit'|trans}}' type="button" class="halflings halflings-edit btn btn-warning" onClick="window.open('{{ path('person_edit', {'id': person.id}) }}','_self')"></button>
                    </div>
                    <div class="col-md-3 hidden-sm hidden-xs">
                        <div class="row">
                            <div class="col-sm-3">
                                {% if isStaff(person) and canDeleteStaff(person)  %}
                                    <button id="staffToggle{{ person.id }}" title='{{ 'person.staff.toggle'|trans}}' type="button" class="staffToggle halflings halflings-ok  btn btn-success"></button>
                                {% elseif canBeStaff(person) and not isStaff(person) %}
                                    <button id="staffToggle{{ person.id }}" title='{{ 'person.staff.toggle'|trans}}' type="button" class="staffToggle halflings halflings-remove  btn btn-danger"></button>
                                {% elseif not isStaff(person) %}
                                    <button id="staffToggle{{ person.id }}" title='{{ 'person.staff.toggle'|trans}}' type="button" class="staffToggle halflings halflings-remove btn btn-default" disabled></button>
                                {% else %}
                                    <button id="staffToggle{{ person.id }}" title='{{ 'person.staff.toggle'|trans}}' type="button" class="staffToggle halflings halflings-ok btn btn-default" disabled></button>
                                {% endif %}
                            </div>
                            <div class="col-sm-3">
                                {% if isStudent(person) and canDeleteStudent(person, get_parameter('person'))  %}
                                    <button id="studentToggle{{ person.id }}" title='{{ 'person.student.toggle'|trans}}' type="button" class="studentToggle halflings halflings-ok  btn btn-success"></button>
                                {% elseif canBeStudent(person) and not isStudent(person) %}
                                    <button id="studentToggle{{ person.id }}" title='{{ 'person.student.toggle'|trans}}' type="button" class="studentToggle halflings halflings-remove  btn btn-danger"></button>
                                {% elseif not isStudent(person) %}
                                    <button id="studentToggle{{ person.id }}" title='{{ 'person.student.toggle'|trans}}' type="button" class="studentToggle halflings halflings-remove btn btn-default" disabled></button>
                                {% else %}
                                    <button id="studentToggle{{ person.id }}" title='{{ 'person.student.toggle'|trans}}' type="button" class="studentToggle halflings halflings-ok btn btn-default" disabled></button>
                                {% endif %}
                            </div>
                            <div class="col-sm-3">
                                {% if isCareGiver(person) and canDeleteCareGiver(person)  %}
                                    <button id="careGiverToggle{{ person.id }}" title='{{ 'person.caregiver.toggle'|trans}}' type="button" class="careGiverToggle halflings halflings-ok  btn btn-success"></button>
                                {% elseif canBeCareGiver(person) and not isCareGiver(person) %}
                                    <button id="careGiverToggle{{ person.id }}" title='{{ 'person.caregiver.toggle'|trans}}' type="button" class="careGiverToggle halflings halflings-remove  btn btn-danger"></button>
                                {% elseif not isCareGiver(person) %}
                                    <button id="careGiverToggle{{ person.id }}" title='{{ 'person.caregiver.toggle'|trans}}' type="button" class="careGiverToggle halflings halflings-remove btn btn-default" disabled></button>
                                {% else %}
                                    <button id="careGiverToggle{{ person.id }}" title='{{ 'person.caregiver.toggle'|trans}}' type="button" class="careGiverToggle halflings halflings-ok btn btn-default" disabled></button>
                                {% endif %}
                            </div>
                            <div class="col-sm-3">
                                {% if isUser(person) and canDeleteUser(person)  %}
                                    <button id="userToggle{{ person.id }}" title='{{ 'person.user.toggle'|trans}}' type="button" class="userToggle halflings halflings-ok  btn btn-success"></button>
                                {% elseif canBeUser(person) and not isUser(person) %}
                                    <button id="userToggle{{ person.id }}" title='{{ 'person.user.toggle'|trans}}' type="button" class="userToggle halflings halflings-remove  btn btn-danger"></button>
                                {% elseif not isUser(person) %}
                                    <button id="userToggle{{ person.id }}" title='{{ 'person.user.toggle'|trans}}' type="button" class="userToggle halflings halflings-remove btn btn-default" disabled></button>
                                {% else %}
                                    <button id="userToggle{{ person.id }}" title='{{ 'person.user.toggle'|trans}}' type="button" class="userToggle halflings halflings-ok btn btn-default" disabled></button>
                                {% endif %}
                            </div>
                        </div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% include 'BusybeeHomeBundle:Scripts:fadeAlert.js.twig' %}
	<script type="text/javascript">
        $(".careGiverToggle").on('click', function() {
            var id = $(this).prop('id');
            id = id.substring(15);
            var route = "{{ path('person_toggle_caregiver', {'id': '__id__'}) }}";
            route = route.replace('__id__', id);
            $.ajax({
                url: route,
                type: "POST",
                success: function(data){
                    $("#peopleError").html(data.message);
                    if (data.status == "removed"){
                        $("#careGiverToggle" + id).removeClass().addClass("careGiverToggle halflings halflings-remove btn btn-danger");
                    }
                    if (data.status == "added"){
                        $("#careGiverToggle" + id).removeClass().addClass("careGiverToggle halflings halflings-ok btn btn-success");
                    }
                    $(".fadeAlert").fadeOut(5000);
                }
            })
        });
        $(".studentToggle").on('click', function() {
            var id = $(this).prop('id');
            id = id.substring(13);
            var route = "{{ path('person_toggle_student', {'id': '__id__'}) }}";
            route = route.replace('__id__', id);
            $.ajax({
                url: route,
                type: "POST",
                success: function(data){
                    $("#peopleError").html(data.message);
                    if (data.status == "removed"){
                        $("#studentToggle" + id).removeClass().addClass("studentToggle halflings halflings-remove btn btn-danger");
                    }
                    if (data.status == "added"){
                        $("#studentToggle" + id).removeClass().addClass("studentToggle halflings halflings-ok btn btn-success");
                    }
                    $(".fadeAlert").fadeOut(5000);
                }
            })
        });
        $(".staffToggle").on('click', function() {
            var id = $(this).prop('id');
            id = id.substring(11);
            var route = "{{ path('person_toggle_staff', {'id': '__id__'}) }}";
            route = route.replace('__id__', id);
            $.ajax({
                url: route,
                type: "POST",
                success: function(data){
                    $("#peopleError").html(data.message);
                    if (data.status == "removed"){
                        $("#staffToggle" + id).removeClass().addClass("staffToggle halflings halflings-remove btn btn-danger");
                    }
                    if (data.status == "added"){
                        $("#staffToggle" + id).removeClass().addClass("staffToggle halflings halflings-ok btn btn-success");
                    }
                    $(".fadeAlert").fadeOut(5000);
                }
            })
        });
        $(".userToggle").on('click', function() {
            var id = $(this).prop('id');
            id = id.substring(10);
            var route = "{{ path('person_toggle_user', {'id': '__id__'}) }}";
            route = route.replace('__id__', id);
            $.ajax({
                url: route,
                type: "POST",
                success: function(data){
                    $("#peopleError").html(data.message);
                    if (data.status == "removed"){
                        $("#userToggle" + id).removeClass().addClass("userToggle halflings halflings-remove btn btn-danger");
                    }
                    if (data.status == "added"){
                        $("#userToggle" + id).removeClass().addClass("userToggle halflings halflings-ok btn btn-default");
                        $("#userToggle" + id).prop('disabled', true);
                    }
                    $(".fadeAlert").fadeOut(5000);
                }
            })
        })
	</script>
{% endblock javascripts %}

