{% trans_default_domain "BusybeePersonBundle" %}

{% if header is not defined %}
    {% set header = 'person.manage.title' %}
{% endif %}

<div class="panel-heading">
    <h3 class="panel-title">{{ header|trans({'%name%': form.vars.value.formatName}) }}
        {% if app.request.get('closeWindow') is not empty %}
            {{ closeButton()|raw }}
        {% else %}
            {% if app.request.get('returnRoute') is not empty %}
                {{ returnButton({'title': 'person.return', 'transDomain': 'BusybeePersonBundle', 'windowOpen': {'route': app.request.get('returnRoute')}})|raw }}
            {% else %}
                {{ returnButton({'title': 'person.return', 'transDomain': 'BusybeePersonBundle', 'windowOpen': {'route': path('person_manage')}})|raw }}
            {% endif %}
        {% endif %}
        {% if id != 'Add' %}
            {{ addButton({'title': 'person.add.title', 'transDomain': 'BusybeePersonBundle', 'windowOpen': {'route': path('person_edit', {'id': 'Add'})}})|raw }}
		{% endif %}
        {{ resetButton({'type': 'button', 'javascript': {'function': 'resetForm', 'options': []}, 'title': 'person.reset.button', 'transDomain': 'BusybeePersonBundle'})|raw }}
        {{ saveButton()|raw }}
		{% if form.dob.vars.data is not empty %}
            {% set difference = date('now').diff(date(form.dob.vars.data)) %}
			{% set years = difference.y %}
			<span class="personIdentifier">{{ 'person.label.identifier'|trans({'%identifier%': identifier}) }}<br>{{ 'person.label.age'|trans({'%years%': difference.y, '%months%': difference.m, '%days%': difference.d}) }}</span>
        {% else %}
            <span class="personIdentifier">{{ 'person.label.identifier'|trans({'%identifier%': identifier}) }}</span>
        {% endif %}
	</h3>
</div>
