{# src/Busybee/PersonBundle/Resources/views/Form/person.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% form_theme form "BusybeeFormBundle:Template:bootstrap.html.twig" %}

<div class="panel panel-primary busybee-panel">
	<div class="panel-heading">
		<h3 class="panel-title">{{ 'person.title'|trans}}
		<button title='{{ 'person.return'|trans}}' type="button" class="halflings halflings-hand-left btn btn-primary" onClick="window.open('{{ path('person_manage') }}','_self')" style="float: right"></button>
		{% if id != 'Add' %}
			<button title='{{ 'person.add.title'|trans}}' type="button" class="halflings halflings-plus-sign btn btn-primary" onClick="window.open('{{ path('person_edit', {'id': 'Add'}) }}','_self')" style="float: right"></button>
		{% endif %}
		</h3>
	</div>
	<div class="panel-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4 well">
					{{ form_row(form.surname) }}
				</div>
				<div class="col-sm-4 well">
					{{ form_row(form.firstName) }}
				</div>
				<div class="col-sm-4 well">
					{{ form_row(form.photo) }}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2 well">
					{{ form_row(form.title) }}
				</div>
				<div class="col-sm-4 well">
					{{ form_row(form.preferredName) }}
				</div>
				<div class="col-sm-2 well">
					{{ form_row(form.gender) }}
				</div>
				<div class="col-sm-4 well">
					{{ form_row(form.officialName) }}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 well">
					{{ form_row(form.email) }}
				</div>
				<div class="col-sm-4 well">
					{{ form_row(form.email2) }}
				</div>
				<div class="col-sm-4 well">
					{{ form_row(form.dob) }}
				</div>
			</div>
		</div>
	</div>
</div>
