{# src/Busybee/PersonBundle/Resources/views/Person/Phones.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% form_theme form
	"BusybeeFormBundle:Template:jquery.collection.html.twig"
	"BusybeePersonBundle:Form:phoneCollection.html.twig"
	"BusybeeFormBundle:Template:bootstrap.html.twig"
%}


<div class="panel panel-info busybee-panel">
	<div class="panel-heading">
		<h3 class="panel-title">{{ form_label(form.phone) }}</h3>
	</div>
	<div class="panel-body">
		<p class="alert alert-warning">{{ 'phone.save'|trans  }}</p>
        {% if phones is defined %}
					<p class="alert alert-info"><strong>{{ 'Linked Phone Numbers'|trans }}</strong><br/>
                    {% for phone in phones %}
						{{ formatPhone(phone)|raw }}<br />
                    {% endfor %}</p>
        {% endif %}
		{{ form_widget(form.phone) }}
	</div>
</div>
{% do form.phone.setRendered %}
