{# src/Busybee/PersonBundle/Resources/views/Person/script.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

	<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript">
        $(".addPersonAddress").click(function(e){

            window.open("{{ path('address_manage', {'id': 'Add'}) }}","Address","width=820,height=600");
        });

        $(".refreshPersonAddress").click(function() {
            $.ajax({
                url: "{{ path('address_fetch') }}",
                type: "POST",
                success: function(data){
                    $( "#person_address1_list" ).autocomplete('option', 'source', data.options);
                    $( "#person_address2_list" ).autocomplete('option', 'source', data.options);

                    var id1 = $("#person_address1").val();
                    var id2 = $("#person_address2").val();

                    options = data.options; // Or whatever source information you're working with
                    var label1 = "";
                    var label2 = "";
                    for (index = 0; index < options.length; ++index) {
                        option = options[index];

                        if (option.value == id1)
                        {
                            label1 = option.label ;
                        }
                        if (option.value == id2)
                        {
                            label2 = option.label ;
                        }
                    }

                    $("#person_address1_list").val(label1);
                    $("#person_address2_list").val(label2)
                }
            })
        });

        $( "#person_address1_list" ).on( "autocompleteselect", function( event, ui ) {
            event.preventDefault();
            var id = ui.item.value;
            var label = ui.item.label;
            $("#person_address1").val(id);
            $("#person_address1_list").val(label);
        } );

        $( "#person_address2_list" ).on( "autocompleteselect", function( event, ui ) {
            event.preventDefault();
            var id = ui.item.value;
            var label = ui.item.label;
            $("#person_address2").val(id);
            $("#person_address2_list").val(label);
        } );

        $( document ).ready(function() {
            $.ajax({
                url: '{{ path('address_fetch') }}',
                type: 'POST',
                success: function (data) {
                    $('.beeAddressList').autocomplete({
                        source: data.options,
                        minLength: 2,
                        delay: 250,
                        disabled: false
                    });
                    var id1 = $("#person_address1").val();
                    var id2 = $("#person_address2").val();

                    options = data.options; // Or whatever source information you're working with
                    var label1 = "";
                    var label2 = "";
                    for (index = 0; index < options.length; ++index) {
                        option = options[index];

                        if (option.value == id1)
                        {
                            label1 = option.label ;
                        }
                        if (option.value == id2)
                        {
                            label2 = option.label ;
                        }
                    }

                    $("#person_address1_list").val(label1);
                    $("#person_address2_list").val(label2)
                }
            });

        });

        $("#erasePersonAddress1").click(function() {
            $("#person_address1").val("");
            $("#person_address1_list").val("{{ 'person.placeholder.address'|trans }}");
        });

        $("#erasePersonAddress2").click(function() {
            $("#person_address2").val("");
            $("#person_address2_list").val("{{ 'person.placeholder.address'|trans }}");
        });

        $( "#person_address1_list" ).on( "focus", function() {
            $("#person_address1_list").val("");
        } );

        $( "#person_address2_list" ).on( "focus", function() {
            $("#person_address2_list").val("");
        } );

        $(".phoneNumberList").collection({
            'name_prefix': '{{ form.phone.vars.full_name }}',
            'allow_up': false,
            'allow_down': false,
            'add': '<button title="{{ 'contact.phone.add'|trans}}" type="button" class="halflings halflings-plus-sign btn btn-primary" style="float: right;"></button>',
            'remove': '<button title="{{ 'contact.phone.delete'|trans}}" type="button" class="halflings halflings-remove-sign btn btn-warning" style="float: right;"></button>',
            add_at_the_end: true
        });


    </script>