{# src/Busybee/PersonBundle/Resources/views/Person/user.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% form_theme form
	"BusybeeFormBundle:Template:bootstrap.html.twig"
%}

<div class="panel panel-primary busybee-panel">
    {% include "BusybeePersonBundle:Person:panelHeader.html.twig"  with {'header': 'person.user.title'} %}
	<div class="panel-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6 well">
                    {{ form_row(form.user.username) }}
                    {{ form_row(form.user.usernameCanonical) }}
                    {{ form_widget(form.user.person) }}
                    {{ form_widget(form.user.email) }}
                    {{ form_row(form.user.emailCanonical) }}
                    {{ form_widget(form.user.password) }}
				</div>
				<div class="col-sm-6 well">
                    {{ form_row(form.user.locale) }}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 well">
                    {{ form_widget(form.user.directroles) }}
				</div>
				<div class="col-sm-6 well">
                    {{ form_row(form.user.groups) }}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 well">
                    {{ form_row(form.user.enabled) }}
				</div>
				<div class="col-sm-3 well">
                    {{ form_row(form.user.locked) }}
				</div>
				<div class="col-sm-3 well">
                    {{ form_row(form.user.expired) }}
				</div>
				<div class="col-sm-3 well">
                    {{ form_row(form.user.credentials_expired) }}
				</div>
			</div>
		</div>
	</div>
</div>

