{% trans_default_domain "BusybeeHomeBundle" %}

{% set sections = get_section() %}
{% set header = '' %}
{% for name,link in sections %}
    {% if header != name %}
        {% set header = name %}
        {% set prompt = 'section.header.' ~ header %}
        <h4 class="sectionHeader">{{ prompt|trans }}</h4>
        {% set keys = link|keys %}
    {% endif %}
    {% for key in keys %}
        {% set data = link[key] %}
        {% if routeExists(data['route']) %}
            <div class="{{ data['linkClass'] }}">{{ miscButton({class: 'btn btn-link btn-sm', title: data['label']|trans, prompt: data['label']|trans, style: 'float: left;', windowOpen: {route: path(data['route'], data['params'])}})|raw }}</div>
        {% else %}
            <div class="{{ data['linkClass'] }}">{{ 'system.route.missing'|trans({'%{route}': data['route']}) }}</div>
        {% endif %}
    {% endfor %}
{% endfor %}
