{# src/Busybee/ProgramBundle/Resources/views/Subject/index.html.twig #}

{% trans_default_domain "BusybeeAVETMISSBundle" %}

{% extends "BusybeeTemplateBundle:Default:template.html.twig" %}

{% form_theme form "BusybeeTemplateBundle:Template:bootstrap.html.twig" %}

{% block title %}{{ parent() }}{{ 'course.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'course.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'course.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
    {{ form_start(form) }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-6 well">
                {{ form_row(form.identifier) }}
            </div>
            <div class="col-sm-6 col-md-6 well">
                <div class="alert alert-success" style="margin: 0" ;>
                    {{ form_row(form.course) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7 col-md-7 well">
                <div class="row">
                    <div class="col-sm-9">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_row(form.version) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-md-5 well">
                {{ form_row(form.nominalHours) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 well">
                {{ form_row(form.recognitionIdentifier) }}
                <div id="rId"></div>
            </div>
            <div class="col-sm-6 col-md-6 well">
                {{ form_row(form.levelEducationIdentifier) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 well">
                {{ form_row(form.FOEIdentifier) }}
            </div>
            <div class="col-sm-6 col-md-6 well">
                {{ form_row(form.ANZSCOIdentifier) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 well">
                {{ form_row(form.VETFlag) }}
            </div>
            <div class="col-sm-6 col-md-6 well">
                <div class="form-group text-right">
                    {{ form_widget(form.save) }}
                    {{ form_widget(form.cancel) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/bootstrap-checkbox.min.js') }}"></script>
    <script>
        $('.courseForm').change(function () {
            $('.courseList').prop('disabled', true);
        });
        $('.courseList').change(function () {

            var id = $(this).val();

            window.open("{{ path('avetmiss_course_manage') }}?id=" + id, "_self");

        });
        $('#avetmiss_course_recognitionIdentifier').change(function () {
            var desc = '';
            if ($(this).val() == 11) {
                var desc = "{{ get_setting('AVETMISS.Recognition.Identifier.description.11') }}";
            }
            if ($(this).val() == 12) {
                var desc = "{{ get_setting('AVETMISS.Recognition.Identifier.description.12') }}";
            }
            if ($(this).val() == 13) {
                var desc = "{{ get_setting('AVETMISS.Recognition.Identifier.description.13') }}";
            }
            if ($(this).val() == 14) {
                var desc = "{{ get_setting('AVETMISS.Recognition.Identifier.description.14') }}";
            }
            if ($(this).val() == 15) {
                var desc = "{{ get_setting('AVETMISS.Recognition.Identifier.description.15') }}";
            }
            if ($(this).val() == 16) {
                var desc = "{{ get_setting('AVETMISS.Recognition.Identifier.description.16') }}";
            }
            $('#rId').html('<span class="field-help">---------------------------<br/>' + desc + '</span>');
        });
        $('.yes-no').checkboxpicker({
            iconCls: 'glyphicons'
        });
    </script>
{% endblock javascripts %}