{% trans_default_domain "BusybeeInstituteBundle" %}

{% extends "@BusybeeHome/Default/template.html.twig" %}

{% form_theme form
"@BusybeeForm/Template/bootstrap.html.twig"
"@BusybeeForm/Template/jquery.collection.html.twig"
'@BusybeeInstitute/Department/staffCollection.html.twig'
'@BusybeeInstitute/Department/courseCollection.html.twig' %}

{% block title %}{{ 'department.edit.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'department.edit.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'department.edit.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
    {{ all_form_errors(fullForm, "div", "alert alert-danger fadeAlert") }}
    {{ form_start(form) }}
    {% set h3Content = '' %}
    {% set h3Content = h3Content ~ resetButton({'windowOpen': {'route': path('department_edit', {'id': app.request.get('id')})}})|raw %}
    {% set h3Content = h3Content ~ saveButton()|raw %}
    {% set h3Content = h3Content ~ form_widget(form.departmentList, {'value': app.request.attributes.get('id')}) %}
    {% include '@BusybeeHome/Page/panelStart.html.twig' with {'header': 'department.edit.title', 'transDomain': 'BusybeeInstituteBundle', 'panelParagraph': ''} %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 well">
                <div class="row">
                    <div class="col-sm-12 well">
                        {{ form_row(form.name) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 well">
                        {{ form_row(form.nameShort) }}
                    </div>
                    <div class="col-sm-6 well">
                        {{ form_row(form.type) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 well">
                        {% set h3Content = '' %}
                        {% include '@BusybeeHome/Page/panelStart.html.twig' with {'header': 'department.course.title', 'transDomain': 'BusybeeInstituteBundle', 'panelParagraph': form.courses.vars.attr.help, 'panelStyle': 'info'} %}
                        {% for error in form.courses.parent.vars.errors %}
                            {% set printMe = error.messageTemplate|replace({'department.course.unique': 'print_me'}) %}
                            {% if printMe == 'print_me' %}
                                <p class="alert alert-danger"><span
                                            class="glyphicons glyphicons-exclamation-sign"></span>{{ error.message }}
                                </p>
                            {% endif %}
                        {% endfor %}
                        {{ form_widget(form.courses) }}
                        {% include '@BusybeeHome/Page/panelEnd.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 well">
                {% set h3Content = '' %}
                {% include '@BusybeeHome/Page/panelStart.html.twig' with {'header': 'department.staff.title', 'transDomain': 'BusybeeInstituteBundle', 'panelParagraph': form.staff.vars.attr.help, 'panelStyle': 'info'} %}
                {% for error in form.staff.parent.vars.errors %}
                    {% set printMe = error.messageTemplate|replace({'department.staff.uniquestaff': 'print_me'}) %}
                    {% if printMe == 'print_me' %}
                        <p class="alert alert-danger"><span
                                    class="glyphicons glyphicons-exclamation-sign"></span>{{ error.message }}</p>
                    {% endif %}
                {% endfor %}
                {{ form_widget(form.staff) }}
                {% include '@BusybeeHome/Page/panelEnd.html.twig' %}
            </div>
        </div>
    </div>
    {% include '@BusybeeHome/Page/panelEnd.html.twig' %}
    {{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% set route = 'department_edit' %}
    {% include '@BusybeeHome/Scripts/monitorForm.html.twig' %}
    {% include '@BusybeeHome/Scripts/fadeAlert.html.twig' %}
    {% include '@BusybeeForm/Scripts/jquery.collection.js.html.twig' %}
    {% include '@BusybeeInstitute/Department/staffCollection.js.html.twig' %}
    {% include '@BusybeeInstitute/Department/courseCollection.js.html.twig' %}
{% endblock javascripts %}
