{# src/Busybee/InstituteBundle/Resources/views/Role/edit_content.html.twig #}

{% trans_default_domain 'BusybeeInstituteBundle' %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			{% if error is defined %}
				<div class="alert alert-info" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			<div class="well">
				<p class="lead">{{ 'institute.edit.name_header'|trans}}</p>
				{{ form_row(form.name) }}
				{{ form_row(form.identifier) }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="well">
				<p class="lead">{{ 'institute.edit.address_header'|trans}}</p>
				<div class="well">
					{{ form_row(form.address_line_one) }}
					{{ form_row(form.address_line_two) }}
				</div>
				{{ form_row(form.locality) }}
				<div class="well">
					<div class="row">
						<div class="col-md-6">
							<div>
								{{ form_row(form.state) }}
							</div>
						</div>
						<div class="col-md-6">
							<div>
								{{ form_row(form.postcode) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="well">
				<p class="lead">{{ 'institute.edit.contact_header'|trans}}</p>
				{{ form_row(form.phone) }}
				{{ form_row(form.facsimile) }}
				{{ form_row(form.email) }}
				{{ form_row(form.contact) }}
			</div>
		</div>
	</div>
	<div class="row marketing">
		<div class="col-md-12">
			<div class="well text-center">
				{% if form.save is defined %}{{ form_widget(form.save) }}{% endif %}
				{% if form.save_and_add is defined %}{{ form_widget(form.save_and_add) }}{% endif %}
				{% if form.delete is defined %}{{ form_widget(form.delete) }}{% endif %}
				{% if form.cancel is defined %}{{ form_widget(form.cancel) }}{% endif %}
			</div>
		</div>
	</div>
</div>
