{# src/Busybee/InstituteBundle/Resources/views/CampusresourceEdit.html.twig #}

{% trans_default_domain "BusybeeInstituteBundle" %}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'BusybeeHomeBundle:Toggle:style.html.twig' %}
{% endblock stylesheets %}

{% block title %}{{ parent() }}{{ 'campus.resource.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'campus.resource.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'campus.resource.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
{{ form_start(form) }}
    {% set h3Content = returnButton({'windowOpen': {'route': path('campus_resource_manage')}}) %}
    {% if app.request.attributes.get('id') != 'Add' %}{% set h3Content = h3Content ~ addButton({'windowOpen': {'route': path('campus_resource_edit', {'id': 'Add'})}}) %}{% endif %}
    {% set h3Content = h3Content ~ resetButton() %}
    {% set h3Content = h3Content ~ saveButton() %}
    {% set h3Content = h3Content ~ form_widget(form.changeRecord, {'value': app.request.attributes.get('id')}) %}
    {% include '@BusybeeHome/Page/panelStart.html.twig' with {'header': 'campus.resource.title', 'transDomain': 'BusybeeInstituteBundle'} %}
	<div class=container-fluid">
		<div class="row">
			<div class="col-sm-4 col-md-4 well">
                {{ form_row(form.name) }}
			</div>
			<div class="col-sm-4 col-md-4 well">
                {{ form_row(form.type) }}
			</div>
			<div class="col-sm-4 col-md-4 well">
                {{ form_row(form.campus, {'value': form.campus.vars.data }) }}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-4 well">
                {{ form_row(form.staff1, {'value': form.staff1.vars.data }) }}
			</div>
			<div class="col-sm-4 col-md-4 well">
                {{ form_row(form.staff2, {'value': form.staff2.vars.data }) }}
			</div>
			<div class="col-sm-4 col-md-4 well">
                {{ form_row(form.capacity) }}
			</div>
			</div>
		<div class="row">
			<div class="col-sm-4 col-md-4 well">
                {{ form_row(form.studentComputers) }}
			</div>
			<div class="col-sm-4 col-md-4 well">
                {{ form_row(form.computer) }}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-4 well">
                {{ form_row(form.projector) }}
			</div>
			<div class="col-sm-4 col-md-4 well">
                {{ form_row(form.tv) }}
			</div>
			<div class="col-sm-4 col-md-4 well">
                {{ form_row(form.dvd) }}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-4 well">
                {{ form_row(form.hifi) }}
			</div>
			<div class="col-sm-4 col-md-4 well">
                {{ form_row(form.speakers) }}
			</div>
			<div class="col-sm-4 col-md-4 well">
                {{ form_row(form.iwb) }}
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 col-md-6 well">
                {{ form_row(form.comment) }}
			</div>
			<div class="col-sm-4 col-md-4 well">
                {{ form_row(form.phoneExt) }}
			</div>
			<div class="col-sm-2 col-md-2 well">
                {{ form_row(form.phoneInt) }}
			</div>
		</div>
	</div>
    {% include '@BusybeeHome/Page/panelEnd.html.twig' %}
{{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% include 'BusybeeHomeBundle:Toggle:script.html.twig' %}
	{% include 'BusybeeHomeBundle:Scripts:monitorForm.js.twig' with {'route': 'campus_resource_edit'} %}
{% endblock javascripts %}