{# src/Busybee/PersonBundle/Resources/views/Person/addresses.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% if addresses is defined %}
    <p class="alert alert-info">
        <strong>{{ 'Linked Family Addresses'|trans }}</strong>
        {% for address in addresses %}
            {{ formatAddress(address)|raw }}
        {% endfor %}</p>
{% endif %}

<div class="row">
    <div class="col-sm-12 well">
        {{ form_row(form.address1) }}
        <span>
			<button title="{{ 'address.erase'|trans }}" id="erasePersonAddress1" type="button"
                    class="btn btn-warning halflings halflings-erase" style="float: right; "></button>
			<button title="{{ 'address.refresh'|trans }}" id="refreshPersonAddress1" type="button"
                    class="refreshPersonAddress btn btn-info halflings halflings-refresh"
                    style="float: right; "></button>
			<button title="{{ 'address.add'|trans }}" id="addPersonAddress1" type="button"
                    class="addPersonAddress  btn btn-primary halflings halflings-plus-sign"
                    style="float: right; "></button>
		</span><br/>
        {% include '@BusybeeTemplate/Default/flash.html.twig' with {'flashClass': 'fadeAlert', 'transDomain': 'BusybeePersonBundle'} %}
    </div>
</div>
<div class="row">
    <div class="col-sm-12 well">
        {{ form_row(form.address2) }}
        <span>
			<button title="{{ 'address.erase'|trans }}" id="erasePersonAddress2" type="button"
                    class="btn btn-warning halflings halflings-erase" style="float: right; "></button>
			<button title="{{ 'address.refresh'|trans }}" id="refreshPersonAddress2" type="button"
                    class="refreshPersonAddress btn btn-info halflings halflings-refresh"
                    style="float: right; "></button>
			<button title="{{ 'address.add'|trans }}" id="addPersonAddress2" type="button"
                    class="addPersonAddress  btn btn-primary halflings halflings-plus-sign"
                    style="float: right; "></button>
		</span><br/>
        {% include '@BusybeeTemplate/Default/flash.html.twig' with {'flashClass': 'fadeAlert', 'transDomain': 'BusybeePersonBundle'} %}
    </div>
</div>
