{# src/Busybee/PersonBundle/Resources/views/Person/edit.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% extends "@BusybeeTemplate/Default/template.html.twig" %}

{% form_theme form
"@BusybeeTemplate/Template/bootstrap.html.twig"
"@BusybeeTemplate/Template/jquery.collection.html.twig"
"@BusybeePhone/Phone/phoneCollection.html.twig"
"@BusybeeStudent/Person/gradeCollection.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% include '@BusybeeTemplate/AutoComplete/style.html.twig' %}
    {% include 'BusybeeTemplateBundle:Toggle:style.html.twig' %}
{% endblock stylesheets %}


{% block title %}{{ parent() }}{% if id == 'Add' %}{{ 'person.person.title'|trans }}{% else %}{{ 'person.person.title'|trans }}{% endif %}{% endblock title %}
{% block headerTitle %}{% if id == 'Add' %}{{ 'person.person.title'|trans }}{% else %}{{ 'person.person.title'|trans }}{% endif %}{% endblock headerTitle %}
{% block headerLead %}{% if id == 'Add' %}{{ 'person.person.description'|trans }}{% else %}{{ 'person.person.description'|trans }}{% endif %}{% endblock headerLead %}

{% block contentContainer %}
    {{ all_form_errors(fullForm, "div", "alert alert-danger fadeAlert") }}
    {% set form_path = [] %}
    {% set form_path = form_path|merge({'id': id}) %}
    {{ form_start(form, {'action': path('person_edit', form_path)}) }}
    <div id="peopleError"></div>
    <div id="formTabs">
        <ul class="nav nav-tabs" role="tablist">
            {% for name,tab in tabs.getTabs %}
                {% set translation = 'BusybeePersonBundle' %}
                {% if tab.translation is defined %}{% set translation = tab.translation %}{% endif %}
                {% set disabled = '' %}
                {% if name == 'staff' and not isStaff() %}{% set disabled = ' class=disabled' %}{% endif %}
                {% if name == 'student' and not isStudent() %}{% set disabled = ' class=disabled' %}{% endif %}
                {% if name == 'immigration' and not isStudent() %}{% set disabled = ' class=disabled' %}{% endif %}
                {% if name == 'grades' and not isStudent() %}{% set disabled = ' class=disabled' %}{% endif %}
                {% if name == 'user' and not isUser() %}{% set disabled = ' class=disabled' %}{% endif %}
                <li{{ disabled }} role="presentation"><a href="#{{ name }}" role="tab"
                                                         data-toggle="tab">{{ tab.label|trans({}, translation) }}</a>
                </li>
            {% endfor %}
        </ul>
        {% set active = ' active' %}
        <div class="tab-content">
            {% for name,tab in tabs.getTabs %}
                {% set translation = 'BusybeePersonBundle' %}
                {% if tab.translation is defined %}{% set translation = tab.translation %}{% endif %}
                {% if name == 'staff' and not isStaff() %}
                    <div class="tab-pane" id="{{ name }}">
                        {% include 'BusybeeTemplateBundle:Forms:emptyTab.html.twig' with {'name': 'person.staff.title'|trans({'%name%': form.vars.value.formatName}) } %}
                    </div>
                {% elseif name == 'student' and not isStudent() %}
                    <div class="tab-pane" id="{{ name }}">
                        {% include 'BusybeeTemplateBundle:Forms:emptyTab.html.twig' with {'name': 'person.student.title'|trans({'%name%': form.vars.value.formatName}) } %}
                    </div>
                {% elseif name == 'immigration' and not isStudent() %}
                    <div class="tab-pane" id="{{ name }}">
                        {% include 'BusybeeTemplateBundle:Forms:emptyTab.html.twig' with {'name': 'person.student.title'|trans({'%name%': form.vars.value.formatName}) } %}
                    </div>
                {% elseif name == 'grades' and not isStudent() %}
                    <div class="tab-pane" id="{{ name }}">
                        {% include 'BusybeeTemplateBundle:Forms:emptyTab.html.twig' with {'name': 'person.student.title'|trans({'%name%': form.vars.value.formatName}) } %}
                    </div>
                {% elseif name == 'user' and not isUser() %}
                    <div class="tab-pane" id="{{ name }}">
                        {% include 'BusybeeTemplateBundle:Forms:emptyTab.html.twig' with {'name': 'person.user.title'|trans({'%name%': form.vars.value.formatName}) } %}
                    </div>
                {% else %}
                    <div class="tab-pane{{ active }}" id="{{ name }}">
                        {% if tab.message is defined %}
                            <div class="container-fluid">
                                <div class='row' id="{{ tab.message }}" style="display: none;">
                                </div>
                            </div>
                        {% endif %}
                        {% include tab.include %}
                    </div>
                {% endif %}
                {% set active = '' %}
            {% endfor %}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% include 'BusybeeTemplateBundle:Scripts:fadeAlert.html.twig' %}
    {% include 'BusybeeTemplateBundle:Toggle:script.html.twig' %}
    {% include "BusybeeTemplateBundle:Scripts:jquery.collection.js.html.twig" %}
    {% include 'BusybeePersonBundle:Person:script.html.twig' %}
    {% include 'BusybeeTemplateBundle:Scripts:monitorForm.html.twig' with {'route': 'person_manage'} %}
    {% include '@BusybeeTemplate/Scripts/formTabSubmitScript.html.twig' with {'route': 'person_edit'} %}
{% endblock javascripts %}
