{# src/Busybee/PersonBundle/Resources/views/Person/preperence.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% extends "BusybeeFormBundle:Default:template.html.twig" %}

{% form_theme form
"BusybeeFormBundle:Template:bootstrap.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}


{% block title %}{{ parent() }}{{ 'person.preference.title'|trans({'%name%': manager.person.formatName}) }}{% endblock title %}
{% block headerTitle %}{{ 'person.preference.title'|trans({'%name%': manager.person.formatName}) }}{% endblock headerTitle %}
{% block headerLead %}{{ 'person.preference.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
    {{ form_start(form) }}
    {% set h3Content = saveButton() %}
    {% include '@BusybeeForm/Page/panelStart.html.twig' with {header: 'person.preference.header', transDomain: 'BusybeePersonBundle'} %}
    <div class="row">
        <div class="col-sm-offset-6 col-sm-6 well">
            {{ form_row(form.language, {value: manager.user.locale}) }}
        </div>
    </div>
    {% include '@BusybeeForm/Page/panelEnd.html.twig' %}
    {{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}
