{# src/Busybee/DisplayBundle/Resources/views/Menu/sign-in-form.html.twig #}

{% trans_default_domain "BusybeeDisplayBundle" %}

{% if config.signin %}
<form class="navbar-form navbar-right" action="{{ path('busybee_security_check') }}" method="post">
	<div class="form-group">
		<input type="text" id="username" class="form-control input-sm" name="_username" value="{{ last_username|default("") }}" placeholder="Username" />
	</div>
	<div class="form-group">
		<input type="password" id="password" name="_password" class="form-control input-sm" placeholder="Password" />
	</div>
	<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
	<button type="submit" class="btn btn-success">{{ 'Sign In'|trans }}</button>
</form>   
{% else %}
	<form class="navbar-form navbar-right">
		<div class="form-group">
			<a class="btn btn-warning" href="{{ path('busybee_security_login') }}" role="button">{{ 'Sign In'|trans }}</a>
		</div>
	</form>
{% endif %}