{% trans_default_domain "BusybeeHomeBundle" %}

{% for flashMessage in app.session.flashbag.get('error') %}

<div class="alert alert-danger" role="alert">
	{{ flashMessage|trans }}
</div>

{% endfor %}
{% for flashMessage in app.session.flashbag.get('danger') %}

<div class="alert alert-danger" role="alert">
	{{ flashMessage|trans }}
</div>

{% endfor %}
{% for flashMessage in app.session.flashbag.get('warning') %}

<div class="alert alert-warning" role="alert">
	{{ flashMessage|trans }}
</div>

{% endfor %}
{% for flashMessage in app.session.flashbag.get('info') %}

<div class="alert alert-info" role="alert">
	{{ flashMessage|trans }}
</div>

{% endfor %}
{% for flashMessage in app.session.flashbag.get('success') %}

<div class="alert alert-success" role="alert">
	{{ flashMessage|trans }}
</div>

{% endfor %}
