{% if transDomain is not defined %}
    {% set transDomain = 'BusybeeHomeBundle' %}
{% endif %}

{% trans_default_domain transDomain %}

{%  if flashClass is defined %}
    {% set flashClass = " " ~ flashClass %}
{% else %}
    {% set flashClass = "" %}
{% endif %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger{{ flashClass }}" role="alert">
        {% include 'BusybeeHomeBundle:Default:flashSplit.html.twig' with {'theMessage': flashMessage} %}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('danger') %}
    <div class="alert alert-danger{{ flashClass }}" role="alert">
        {% include 'BusybeeHomeBundle:Default:flashSplit.html.twig' with {'theMessage': flashMessage} %}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('warning') %}
    <div class="alert alert-warning{{ flashClass }}" role="alert">
        {% include 'BusybeeHomeBundle:Default:flashSplit.html.twig' with {'theMessage': flashMessage} %}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="alert alert-info{{ flashClass }}" role="alert">
        {% include 'BusybeeHomeBundle:Default:flashSplit.html.twig' with {'theMessage': flashMessage} %}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success{{ flashClass }}" role="alert">
        {% include 'BusybeeHomeBundle:Default:flashSplit.html.twig' with {'theMessage': flashMessage} %}
    </div>
{% endfor %}
