{# src/Busybee/HomeBundle/Resources/views/Default/index.html.twig #}

{% trans_default_domain "BusybeeHomeBundle" %}

<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}Busybee {{ 'Home'|trans }}{% endblock title %}</title>

{% block stylesheets %}
	<link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
	<link href="{{ asset('css/bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet" />
	<link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
{% endblock stylesheets %}

</head>

<body>
	
	{% block menuContainer %}
	{{ include('BusybeeHomeBundle:Menu:main-menu.html.twig') }}
	{% endblock menuContainer %}
	
    <div class="container theme-showcase" role="main">
	
		<div class="jumbotron">
			<img src="{{ asset('img/bee.png') }}" height="150" alt="Busybee" style="float: right;" />
			<h1>{% block headerTitle %}{{ 'homePage.heading'|trans }}{% endblock headerTitle %}</h1>
			<p class="lead">{% block headerLead %}{{ 'homePage.lead'|trans }}.{% endblock headerLead %}</p>
		</div>

		{{ include('BusybeeHomeBundle:Default:flash.html.twig') }}
	
		{% block contentContainer %}
<p>{{ 'homePage.para1'|trans }}</p>
<p>{{ 'homePage.para2'|trans }}</p>
<p>{{ 'homePage.para3'|trans }}</p>

<p>Craig Rayner</p>	
	
		{% endblock contentContainer %}
    </div> <!-- /container -->


{% block javascripts %}
	{% include "BusybeeHomeBundle:Default:scripts.html.twig" %}
{% endblock javascripts %}

</body>
</html>
