{# src/Busybee/HomeBundle/Resources/views/Default/index.html.twig #}

{% trans_default_domain "BusybeeHomeBundle" %}

<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}Busybee {{ 'Home'|trans }}{% endblock title %}</title>

{% block stylesheets %}
	<link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
	<link href="{{ asset('css/bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet" />
	<link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
{% endblock stylesheets %}

</head>

<body>
	
	{% block menuContainer %}
	{{ include('BusybeeHomeBundle:Menu:main-menu.html.twig') }}
	{% endblock menuContainer %}
	
    <div class="container theme-showcase" role="main">
	
		<div class="jumbotron">
			<img src="{{ asset('img/bee.png') }}" height="150" alt="Busybee" style="float: right;" />
			<h1>{% block headerTitle %}Busybee{% endblock headerTitle %}</h1>
			<p class="lead">{% block headerLead %}Busybee{% endblock headerLead %}</p>
		</div>

		{{ include('BusybeeHomeBundle:Default:flash.html.twig') }}
	
		{% block contentContainer %}
		
	
		{{ include('BusybeeHomeBundle:Default:buttons.html.twig') }}
	
		{{ include('BusybeeHomeBundle:Default:tables.html.twig') }}
	
		{{ include('BusybeeHomeBundle:Default:thumbnails.html.twig') }}
	
		{{ include('BusybeeHomeBundle:Default:labels.html.twig') }}
	
		{{ include('BusybeeHomeBundle:Default:badges.html.twig') }}
	
		{{ include('BusybeeHomeBundle:Default:dropdowns.html.twig') }}
	
		{{ include('BusybeeHomeBundle:Default:navs.html.twig') }}
	
		{{ include('BusybeeHomeBundle:Default:navBars.html.twig') }}
	
		{{ include('BusybeeHomeBundle:Default:alerts.html.twig') }}
	
		{{ include('BusybeeHomeBundle:Default:progressBars.html.twig') }}
	
		{{ include('BusybeeHomeBundle:Default:listGroups.html.twig') }}
	
		{{ include('BusybeeHomeBundle:Default:panels.html.twig') }}
	
		{{ include('BusybeeHomeBundle:Default:wells.html.twig') }}
	
		{{ include('BusybeeHomeBundle:Default:carousel.html.twig') }}
	
		{% endblock contentContainer %}
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{% block javascripts %}
	{% javascripts
		'%kernel.root_dir%/../vendor/components/jquery/jquery.min.js' 
		'%kernel.root_dir%/../vendor/twbs/bootstrap/dist/js/bootstrap.min.js' 
		'js/ie10-viewport-bug-workaround.js'
		'%kernel.root_dir%/../vendor/imsky/holder/holder.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock javascripts %}
</body>
</html>
