{# src/General/SecurityBundle/Resources/views/Role/edit_content.html.twig #}

{% trans_default_domain 'BusybeeSecurityBundle' %}

<div class="row marketing">
	<div class="col-lg-2">&nbsp;</div>
	<div class="col-lg-8">
		{{ form_start(form) }}
		<div class="form-group well">
			{{ form_label(form.role) }}{% if form.role.vars.errors is not empty %}
					<div class="alert alert-warning" role="alert">
						{{ form.role.vars.errors }}
					</div>{% endif %}{{ form_widget(form.role, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group well">
			{{ form_row(form.childrenRoles) }}
		</div>
		<div class="form-group well text-center">
			{{ form_widget(form.save) }}
			{{ form_widget(form.save_and_add) }}
			{% if form.delete is defined %}{{ form_widget(form.delete) }}{% endif %}
			{{ form_widget(form.cancel) }}
		</div>
		{{ form_end(form) }}
	</div>
	<div class="col-lg-2">&nbsp;</div>
</div>