{# src/Busybee/PersonBundle/Resources/views/Student/person.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% form_theme form "BusybeeFormBundle:Template:bootstrap.html.twig" %}

<div class="panel panel-primary busybee-panel">
	<div class="panel-heading">
		<h3 class="panel-title">{{ 'student.person.title'|trans }}
			<button title='{{ 'student.return'|trans }}' type="button" class="halflings halflings-hand-left btn btn-primary" onClick="window.open('{{ path('student_manage') }}','_self')" style="float: right"></button>
            {% if id != 'Add' %}
				<button title='{{ 'student.title.add'|trans }}' type="button" class="halflings halflings-plus-sign btn btn-primary" onClick="window.open('{{ path('student_edit', {'id': 'Add'}) }}','_self')" style="float: right"></button>
            {% endif %}
			<button title='{{ 'form.cancel'|trans({}, 'BusybeeHomeBundle') }}' type="button" onClick="location.href='{{ path('student_edit', {'id': id}) }}'" class="halflings halflings-remove-circle btn btn-info" style="float: right"></button>
			<button title='{{ 'form.save'|trans({}, 'BusybeeHomeBundle')}}' type="submit" class="halflings halflings-save btn btn-success" style="float: right"></button>
		</h3>
	</div>
	<div class="panel-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4 well">
                    {{ form_row(form.person) }}
					<span><button type="button" title="{{ 'person.title.add'|trans }}" onclick="window.open('{{ path('person_edit', {'id': 'Add'}) }}','_self')" style="float: right;" class="formChanged btn btn-primary halflings-plus-sign halflings"></button></span>
				</div>
				<div class="col-sm-4 well">
                    {{ form_row(form.startAtSchool) }}
				</div>
				<div class="col-sm-4 well">
                    {{ form_row(form.startAtThisSchool) }}
				</div>
			</div>
		</div>
	</div>
</div>
