{# src/Busybee/InstituteBundle/Resources/views/Calendar/years.html.twig #}

{% trans_default_domain "BusybeeCalendarBundle" %}

{% extends "BusybeeTemplateBundle:Default:template.html.twig" %}

{% block title %}{{ parent() }}{{ 'years.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'years.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'years.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
    {% set h3Content = addButton({'windowOpen': {'route': path('year_edit', {'id': 'Add'})}}) %}
    {% include '@BusybeeTemplate/Page/panelStart.html.twig' with {'transDomain': 'BusybeeCalendarBundle', 'header': 'years.list'} %}
    <div class="container-fluid">
        {% if Years|length > 0 %}
        <div class="row row-header">
            <div class="col-sm-2 col-md-2">
                {{ 'calendar.header.name'|trans }}
            </div>
            <div class="col-sm-3 col-md-3">
                {{ 'calendar.header.firstDay'|trans }}
            </div>
            <div class="col-sm-3 col-md-3">
                {{ 'calendar.header.lastDay'|trans }}
            </div>
            <div class="col-sm-4 col-md-4">
                {{ 'calendar.header.action'|trans }}
            </div>
        </div>
        {% for Year in Years %}
            <div class="row row-striped{% if Year.status == 'current' %} alert-success{% endif %}">
                <div class="col-sm-2 col-md-2">
                    {{ Year.name }}
                </div>
                <div class="col-sm-3 col-md-3">
                    {{ Year.firstDay|date("D, jS F Y") }}
                </div>
                <div class="col-sm-3 col-md-3">
                    {{ Year.lastDay|date|date("D, jS F Y") }}
                </div>
                <div class="col-sm-4 col-md-4">
                    {{ editButton({'style': '', 'windowOpen': {'route': path('year_edit', {'id': Year.id})}, 'title': 'year.edit.title', 'class': 'btn btn-warning halflings halflings-edit', 'transDomain': 'BusybeeCalendarBundle'})|raw }}
                    {% set additional = 'onclick="confirmDelete(\'' ~ path('year_delete', {'id': Year.id}) ~ '\')"' %}
                    {% if not manager.canDelete(Year) %}{% set additional = additional ~ ' disabled' %}{% endif %}
                    {{ deleteButton({'additional': additional, 'style': ''})|raw }}
                    {{ miscButton({'title': 'year.calendar.button', 'type': 'button', 'class': 'halflings halflings-calendar btn btn-info', 'style': '', 'transDomain': 'BusybeeCalendarBundle', 'windowOpen': {'route': path('year_calendar', {'id': Year.id, 'closeWindow': true}), 'target': 'window.calendar', 'params': 'width=1200,height=900'}})|raw }}
                </div>
            </div>
        {% endfor %}
        {% else %}
        <p class="alert alert-warning">{{ 'years.empty'|trans }}<p>
            {% endif %}
    </div>
    {% include '@BusybeeTemplate/Page/panelEnd.html.twig' %}
{% endblock contentContainer %}


{% block javascripts %}
    {{ parent() }}
    <script>
        function confirmDelete(delUrl) {
            if (confirm("{{ 'years.delete.confirm'|trans }}")) {
                document.location = delUrl;
            }
        }
    </script>
{% endblock javascripts %}