{% trans_default_domain "BusybeeCalendarBundle" %}

{% include '@BusybeeCalendar/Calendar/calendarMenu.html.twig' with {'header': 'calendar.year.title'} %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 well">
            {{ form_row(form.name) }}
        </div>
        <div class="col-sm-4 well">
            {{ form_row(form.firstDay) }}
        </div>
        <div class="col-sm-4 well">
            {{ form_row(form.lastDay) }}
        </div>
        <div class="col-sm-2 well">
            {{ form_row(form.status) }}
            {{ form_row(form.downloadCache, {value: ''}) }}
        </div>
    </div>
</div>
{% include '@BusybeeTemplate/Page/panelEnd.html.twig' %}
