{# src/Busybee/RecordBundle/Resources/views/Display/list.html.twig #}
{% extends "BusybeeDisplayBundle:Bootstrap:jumbotron.html.twig" %}

{% trans_default_domain 'BusybeeRecordBundle' %}

{% block title %}Busybee - {{ 'record.list.title'|trans({'%name%': pagination.getTitle }) }}{% endblock title %}

{% block stylesheets %}

{{ parent() }}

{% stylesheets 'bundles/busybeedisplay/jqueryui/themes/base/jquery-ui.min.css' 
		filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

{% endblock stylesheets %}

{% block header %}
<div class="jumbotron">
	<div class="container">
		<h1 class="text-center">{{ 'record.list.title'|trans({'%name%': pagination.getTitle }) }}</h1>
	</div>
</div>
{% endblock header %}

{% block container %}
<!-- Field List Container -->
{% include 'BusybeeDisplayBundle:Bootstrap:flashmessage.html.twig' %}
<div class="form_error container"></div>
{{ form_start(form) }}
	<div id="form_body" class="container">
		{% include "BusybeeRecordBundle:Display:list_content.html.twig" %}
	</div>
{{ form_end(form) }}
{% endblock container %}

{% block javascripts %}
{{ parent() }}

{% javascripts
		'bundles/busybeedisplay/jqueryui/*.min.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% include "BusybeeDisplayBundle:Form:initAjaxForm.html.twig" %}

{% endblock javascripts %}