{# src/Busybee/DatabaseBundle/Resources/views/Enumerator/edit_content.html.twig #}

{% trans_default_domain 'BusybeeDatabaseBundle' %}


<div class="container">
	<div class="row">
		<div class="col-md-12 ">
			<div class="row market">
				<div class="col-sm-4 ">
					<div class="form-actions well">
						{{ form_row(form.name) }}
					</div>
				</div>
				<div class="col-sm-4 ">
					<div class="form-actions well">
						{{ form_row(form.value) }}
					</div>
				</div>
				<div class="col-sm-4 ">
					<div class="form-actions well">
						{{ form_row(form.prompt) }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-sm-12">
					<div class="form-actions well text-center ">
						{% if form.save is defined %}{{ form_widget(form.save) }}{% endif %}
						{% if form.save_and_add is defined %}{{ form_widget(form.save_and_add) }}{% endif %}
						{% if form.delete is defined %}{{ form_widget(form.delete) }}{% endif %}
						{% if form.cancel is defined %}{{ form_widget(form.cancel) }}{% endif %}
						{% if form._token is defined %}{{ form_widget(form._token) }}{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
