{# src/Busybee/PersonBundle/Resources/views/Person/addresses.html.twig #}

{% trans_default_domain "BusybeeAddressBundle" %}

{% if addresses is defined %}
    <p class="alert alert-info">
        <strong>{{ 'Linked Family Addresses'|trans }}</strong>
        {% for address in addresses %}
            {{ formatAddress(address)|raw }}
        {% endfor %}</p>
{% endif %}

<div class="row">
    <div class="col-sm-12 well">
        {{ form_row(form.address1) }}
        <span>
            {{ deleteButton({additional: {id: "erasePersonAddress1"}, title: 'address.button.erase', transDomain: 'BusybeeAddressBundle', colour: 'warning'})|raw }}
            {{ resetButton({title: 'address.button.refresh', transDomain: 'BusybeeAddressBundle', additional: {id: 'refreshPersonAddress1'}, colour: 'info', mergeClass: 'refreshPersonAddress'})|raw }}
            {{ addButton({colour: 'primary', mergeClass: 'addPersonAddress', additional: {id: 'addPersonAddress1'}, transDomain: 'BusybeeAddressBundle', title: 'address.button.add'})|raw }}
		</span><br/>
        {% include '@BusybeeTemplate/Default/flash.html.twig' with {flashClass: 'fadeAlert', transDomain: 'BusybeePersonBundle'} %}
    </div>
</div>
<div class="row">
    <div class="col-sm-12 well">
        {{ form_row(form.address2) }}
        <span>
            {{ deleteButton({additional: {id: "erasePersonAddress2"}, title: 'address.button.erase', transDomain: 'BusybeeAddressBundle', colour: 'warning'})|raw }}
            {{ resetButton({title: 'address.button.refresh', transDomain: 'BusybeeAddressBundle', additional: {id: 'refreshPersonAddress2'}, colour: 'info', mergeClass: 'refreshPersonAddress'})|raw }}
            {{ addButton({colour: 'primary', mergeClass: 'addPersonAddress', additional: {id: 'addPersonAddress2'}, transDomain: 'BusybeeAddressBundle', title: 'address.button.add'})|raw }}
		</span><br/>
        {% include '@BusybeeTemplate/Default/flash.html.twig' with {flashClass: 'fadeAlert', transDomain: 'BusybeePersonBundle'} %}
    </div>
</div>
