{# src/Busybee/PersonBundle/Resources/views/Address/edit.html.twig #}

{% trans_default_domain "BusybeeAddressBundle" %}

{% form_theme form "@BusybeeTemplate/Template/bootstrap.html.twig" %}

<div class="panel panel-primary busybee-panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'address.title'|trans }}
            {% if manager.canDelete() and id != 'Add' %}
                {{ deleteButton({title: 'address.action.delete', transDomain: 'BusybeeAddressBundle', windowOpen: {route: path('address_delete', {'id': id})}})|raw }}
            {% endif %}
            {{ resetButton({title: 'address.action.reset', transDomain: 'BusybeeAddressBundle', colour: 'info'})|raw }}
            {{ addButton({title: 'address.action.add', transDomain: 'BusybeeAddressBundle', colour: 'primary', mergeClass: 'formChanged', windowOpen: {route: path('address_manage', {'id': 'Add'})}})|raw }}
            {{ closeButton({class: 'formChanged btn btn-warning halflings-folder-close halflings', title: 'address.action.close', transDomain: 'BusybeeAddressBundle'})|raw }}
            {{ saveButton({title: 'address.action.save', transDomain: 'BusybeeAddressBundle'})|raw }}
        </h3>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class='row'>
                <div class="col-sm-6 well well-success">
                    {{ form_row(form.addressList) }}
                </div>
                <div class='col-sm-6 well'>
                    {{ form_row(form.propertyName) }}
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-2 well'>
                    {{ form_row(form.buildingType) }}
                </div>
                <div class='col-sm-2 well'>
                    {{ form_row(form.buildingNumber) }}
                </div>
                <div class='col-sm-2 well'>
                    {{ form_row(form.streetNumber) }}
                </div>
                <div class='col-sm-6 well'>
                    {{ form_row(form.streetName) }}
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-6 well'>
                    <div class="alert alert-info">
                        {{ 'address.manage.help'|trans }}
                    </div>
                </div>
                <div class='col-sm-6 well'>
                    {% set locValue = form.locality.vars.value %}
                    {% if locValue is empty %}{% set locValue = form.locality.vars.data %}{% endif %}
                    {{ form_row(form.locality, {'value': locValue}) }}
                    <span>
                        {{ resetButton({title: 'locality.button.refresh', transDomain: 'BusybeeLocalityBundle', additional: {id: 'refreshAddressLocality'}, colour: 'info', type: 'button'})|raw }}
                        {{ addButton({additional: {id: 'addAddressLocality'}, colour: 'primary', transDomain: 'BusybeeLocalityBundle', title: 'locality.button.add'})|raw }}
					</span><br/>
                    {% include '@BusybeeTemplate/Default/flash.html.twig' with {flashClass: 'fadeAlert', transDomain: 'BusybeeAddressBundle'} %}
                </div>
            </div>
        </div>
    </div>
</div>

