{# src/General/HomeBundle/Resources/views/acknowledgement.html.twig #}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% trans_default_domain 'BusybeeHomeBundle' %}

{% block title %}Busybee {{ 'acknowledgement.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'acknowledgement.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'acknowledgement.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}

    {% for name,version in versions %}
        {% if version['value'] is not defined %}
            {% set show = 1 %}
            <div class="row row-striped acknowledgement">
                <div class="col-sm-12">
                    {% for vName,value in version %}
                        <div class="row row-hover">
                            <div class="col-sm-3">
                                {% if show == 1 %}
                                    {{ name }}
                                {% endif %}
                                {% set show = 0 %}
                            </div>
                            <div class="col-sm-3">
                                {{ vName }}
                            </div>
                            <div class="col-sm-6{% if value['flag'] %} {{ value['flag'] }}{% endif %}">
                                {{ value['value'] }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="row row-striped acknowledgement">
                <div class="col-sm-6">
                    {{ name }}
                </div>
                <div class="col-sm-6{% if version['flag'] %} {{ version['flag'] }}{% endif %}">
                    {{ version['value'] }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock contentContainer %}

