{# src/General/HomeBundle/Resources/views/home.html.twig #}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% trans_default_domain 'BusybeeHomeBundle' %}

{% block title %}Busybee {{ 'homePage.heading'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'homePage.heading'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'homePage.lead'|trans }}.{% endblock headerLead %}

{% block contentContainer %}
    {% if app.user is defined and app.user is not empty and manager.isTimeTable(app.user) %}
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3" id="displayTimeTable">
                <p class="alert alert-info text-center">Loading TimeTable</p>
            </div>
        </div>
    {% else %}
        <p>{{ 'homePage.para1'|trans }}</p>
        <p>{{ 'homePage.para2'|trans }}</p>
        <p>{{ 'homePage.para3'|trans }}</p>
        <p>Craig Rayner</p>
    {% endif %}
{% endblock contentContainer %}

{% if app.user is defined and app.user is not empty and manager.isTimeTable(app.user) %}
    {% if script is not defined %}
        {% set script = [] %}
    {% endif %}
    {% set script = script|merge(['@BusybeeTimeTable/Display/selectDate.html.twig']) %}
{% endif %}
