{% trans_default_domain "BusybeeTimeTableBundle" %}

{% extends "@BusybeeHome/Popup/template.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block title %}{{ parent() }}{{ 'period.activities.activity.report.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'period.activities.activity.report.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'period.activities.activity.report.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
    <div class="messageWindow"></div>
    {% set header = 'period.report.full.header' %}
    {% set name = {'%day%': manager.period.columnName, '%period%': manager.period.fullName} %}
    {% set panelParagraph = 'period.plan.reportparagraph' %}
    {% set panelParams = {'%start%': manager.period.startTime, '%end%': manager.period.endTime} %}
    {% set transDomain = 'BusybeeTimeTableBundle' %}
    <div class="container-fluid">
        <div class="row well well-warning">
            <h2>{{ header|trans(name) }}</h2>
            <h3>{{ panelParagraph|trans(panelParams) }}</h3>
        </div>
        {% for id,grade in report.grades %}
            <div class="row well">
                <span style="width: 100%">
                    {{ closeButton()|raw }}
                    {{ resetButton({'windowOpen': {'route': path('period_full_report', {'id': app.request.get('id')})}, 'title': 'form.refresh.button', 'transDomain': 'BusybeeHomeBundle'})|raw }}
                </span>
            </div>
            <div class="row well">
                <div class="col-sm-6"><h3>{{ grade.grade }}</h3></div>
                {% if report.missingStudents[id]|length == 0 %}
                    <div class="col-sm-6">
                        <p class="alert alert-success">{{ 'period.grade.missingStudents.none'|trans }}</p>
                    </div>
                {% else %}
                    <div class="col-sm-6">
                        <p class="alert alert-danger">{{ 'period.grade.missingStudents.missing'|trans({'%count%': report.missingStudents[id]|length}) }}</p>
                        <ul>
                            {% for student in report.missingStudents[id] %}
                                <li>{{ student.formatName({'surnameFirst': 1, 'preferredOnly': 0}) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}
