{% trans_default_domain "BusybeeTimeTableBundle" %}

{% extends "@BusybeeHome/Popup/template.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block title %}{{ parent() }}{{ 'period.activities.activity.report.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'period.activities.activity.report.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'period.activities.activity.report.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
    <div class="messageWindow"></div>
    {% set header = 'period.report.full.header' %}
    {% set name = {'%day%': manager.period.columnName, '%period%': manager.period.fullName} %}
    {% set panelParagraph = 'period.plan.panelparagraph' %}
    {% set panelParams = {'%start%': manager.period.startTime, '%end%': manager.period.endTime} %}
    {% set transDomain = 'BusybeeTimeTableBundle' %}
    <div class="row alert alert-primary">
        <h2>{{ header|trans(name) }}</h2>
        <h3>{{ panelParagraph|trans(panelParams) }}</h3>
    </div>
    <div>{{ closeButton()|raw }}
        {{ resetButton({'windowOpen': {'route': path('period_full_report', {'id': app.request.get('id')})}, 'title': 'form.refresh.button', 'transDomain': 'BusybeeHomeBundle'})|raw }}
    </div>
    {{ dump() }}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}
