{% trans_default_domain "BusybeeTimeTableBundle" %}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}


{% form_theme form 'BusybeeFormBundle:Template:bootstrap.html.twig'
'@BusybeeForm/Template/jquery.collection.html.twig'
'@BusybeeTimeTable/Plan/planCollection.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block title %}{{ parent() }}{{ 'period.plan.banner.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'period.plan.banner.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'period.plan.banner.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
    {% block flashMessages %}
        {% include 'BusybeeHomeBundle:Default:flash.html.twig' with {'flashClass': 'fadeAlert', 'transDomain': 'BusybeeTimeTableBundle'} %}
    {% endblock %}
    {{ all_form_errors(fullForm, "div", "alert alert-danger fadeAlert") }}
    {{ form_start(form) }}
    <div class="messageWindow"></div>
    {% set header = 'period.plan.header' %}
    {% set name = {'%day%': form.vars.value.columnName} %}
    {% set panelParagraph = 'period.plan.panelparagraph' %}
    {% set panelParams = {'%start%': form.vars.value.startTime, '%end%': form.vars.value.endTime} %}
    {% set h3Content = closeButton()|raw %}
    {% set h3Content = h3Content ~ resetButton({'windowOpen': {'route': path('period_plan', {'id': app.request.get('id')})}, 'title': 'form.refresh.button', 'transDomain': 'BusybeeHomeBundle'})|raw %}
    {% set h3Content = h3Content ~ form_widget(form.line) %}
    {% set transDomain = 'BusybeeTimeTableBundle' %}
    {% include '@BusybeeHome/Page/panelStart.html.twig' %}
    <div class="row row-header">
        <div class="col-sm-4 text-center">{{ 'period.activities.activity.label'|trans }}</div>
        <div class="col-sm-4 text-center">{{ 'period.activities.activity.details.label'|trans }}</div>
        <div class="col-sm-4 text-center">{{ 'actions'|trans({}, 'BusybeeHomeBundle') }}</div>
    </div>

    {{ form_widget(form.activities) }}
    <div>
        {{ miscButton({'class': 'halflings halflings-list btn btn-info', windowOpen: {route: path('period_full_report', {'id': app.request.get('id')}), 'target': 'FullReport', params: 'width=500,height=650'}, 'title': 'period.report.full.button', transDomain: 'BusybeeTimeTableReport'})|raw }}
        {{ addButton({'title': 'period.plan.title.add', 'transDomain': 'BusybeeTimeTableBundle', 'class': 'halflings halflings-plus-sign btn btn-primary collection-action collection-rescue-add', 'additional': 'data-collection="tt_period_activity_activities"'})|raw }}
        {{ saveButton()|raw }}
        <span style="float: right;">&nbsp;</span>
        <div class="input-group" style="float: right; max-width: 300px;">
            <span class="input-group-btn">
                {{ miscButton({'class': 'btn btn-success halflings halflings-log-in', 'style': '', 'transDomain': 'BusybeeTimeTableBundle', 'title': 'period.activities.duplicate.target', 'javascript': {'function': 'duplicateTo'}})|raw }}
            </span>
            {{ form_widget(form.periods) }}
            <span class="input-group-btn">
                {{ miscButton({'class': 'btn btn-success halflings halflings-log-out', 'style': '', 'transDomain': 'BusybeeTimeTableBundle', 'title': 'period.activities.duplicate.source', 'javascript': {'function': 'duplicateFrom'}})|raw }}
            </span>
        </div>
    </div>
    {{ 'period.activities.activity.details.help'|trans|raw }}
    {% include '@BusybeeHome/Page/panelEnd.html.twig' %}
    {{ form_end(form) }}
{% endblock contentContainer %}


{% block javascripts %}
    {{ parent() }}
    {% include '@BusybeeForm/Scripts/jquery.collection.js.html.twig' %}
    {% include '@BusybeeHome/Scripts/fadeAlert.html.twig' %}
    {% include '@BusybeeTimeTable/Plan/planScript.html.twig' %}
{% endblock javascripts %}
