{% trans_default_domain "BusybeeTimeTableBundle" %}

{% block period_activity_label %}{% endblock %}
{% block period_activity_errors %}{% endblock %}

{% block period_activity_widget %}
    {% spaceless %}
        <div class="row row-border row-hover">
            <div class="col-sm-4">
                {{ form_widget(form.activity) }}
            </div>
            <div class="col-sm-4 small{{ manager.ActivityStatus(value).class }}">
                {% include '@BusybeeTimeTable/Periods/activityDetails.html.twig' with {id: app.request.get('id'), status: manager.ActivityStatus(value), details: manager.ActivityDetails(value)} %}
            </div>
            {% set transDomain = 'BusybeeTimeTableBundle' %}
            <div class="col-sm-4">{{ form_widget(form.period, {'value': app.request.get('id')}) }}
                <div class="collection-actions collection-table row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <div>
                            {% if form.activity.vars.value is not empty %}
                                {{ miscButton({'class': 'halflings halflings-pencil btn btn-primary', 'windowOpen': {'route': path('period_activity_edit', {'activity': form.vars.value.id, 'closeWindow': '_closeWindow'}), 'target': 'PeriodActivity', 'params': 'width=500,height=600'}, 'title': 'period.activities.activity.overwrite.button', 'transDomain': transDomain})|raw }}

                                {{ miscButton({'class': 'halflings halflings-cog btn btn-success', 'windowOpen': {'route': path('activity_edit', {'id': form.activity.vars.value, 'closeWindow': '_closeWindow'}), 'target': 'Activity', 'params': 'width=1200,height=800'}, 'title': 'period.activities.activity.edit.button', 'transDomain': transDomain})|raw }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div>
                            {% set pa_id = '' %}{% if form.vars.value is not empty %}{% set pa_id = form.vars.value.id %}{% endif %}
                            {{ deleteButton({'class': 'removeActivity halflings halflings-erase btn btn-warning collection-remove collection-action', 'style': '', 'additional': 'id="removeActivity' ~ pa_id ~ '"'})|raw }}
                            {{ saveButton({'style': ''})|raw }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock period_activity_widget %}
