{% trans_default_domain "BusybeeTimeTableBundle" %}

{% block period_activity_label %}{% endblock %}
{% block period_activity_errors %}{% endblock %}

{% block period_activity_widget %}
    {% spaceless %}
        <div class="row row-striped{{ manager.ActivityStatus(value).class }}">
            <div class="col-sm-4">{{ form_widget(form.activity) }}</div>
            <div class="col-sm-4 col-sm-offset-4">{{ form_widget(form.period, {'value': app.request.get('id')}) }}
                <div class="collection-actions collection-table">
                    {{ saveButton()|raw }}
                    {{ deleteButton({'class': 'halflings halflings-erase btn btn-warning collection-remove collection-action'})|raw }}
                    <span style="float: right;">&nbsp;</span>
                    {{ upDownButton()|raw }}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock period_activity_widget %}
