{# src/Busybee/PersonBundle/Resources/views/Address/edit.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% form_theme form "BusybeeTemplateBundle:Template:bootstrap.html.twig" %}

<div class="panel panel-primary busybee-panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'address.title'|trans }}
            {% if form.vars.value.canDelete() and id != 'Add' %}
                <button type="button" title="{{ 'address.action.delete'|trans }}"
                        onclick="window.open('{{ path('address_delete', {'id': id}) }}','_self')"
                        class="btn btn-danger halflings halflings-erase" style="float: right"></button>
            {% endif %}
            <button type="reset" title="{{ 'address.action.reset'|trans }}" style="float: right;"
                    class="btn btn-info halflings-refresh halflings"></button>
            <button type="button" title="{{ 'address.action.add'|trans }}"
                    onclick="window.open('{{ path('address_manage', {'id': 'Add'}) }}','_self')" style="float: right;"
                    class="formChanged btn btn-primary halflings-plus-sign halflings"></button>
            <button type="button" title="{{ 'address.action.close'|trans }}" onclick="window.close()"
                    style="float: right;" class="formChanged btn btn-warning halflings-folder-close halflings"></button>
            <button type="submit" title="{{ 'address.action.save'|trans }}" style="float: right;"
                    class="btn btn-success halflings-save halflings"></button>

        </h3>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class='row'>
                <div class="col-sm-6 alert alert-success">
                    {{ form_row(form.addressList) }}
                </div>
                <div class='col-sm-6 well' style="display:none">
                    <div class='form-group text-right'>
                        {{ form_widget(form.save) }}
                        {{ form_widget(form.close) }}
                        {{ form_widget(form.reset) }}
                        {% if form.vars.value.canDelete() and id != 'Add' %}
                            <button type="button"
                                    onclick="window.open('{{ path('address_delete', {'id': id}) }}','_self')"
                                    class="btn btn-danger glyphicons glyphicons-delete">{{ 'form.delete'|trans({}, 'BusybeeHomeBundle') }}</button>
                        {% endif %}
                    </div>
                </div>
                <div class='col-sm-6 well'>
                    {{ form_row(form.propertyName) }}
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-2 well'>
                    {{ form_row(form.buildingType) }}
                </div>
                <div class='col-sm-2 well'>
                    {{ form_row(form.buildingNumber) }}
                </div>
                <div class='col-sm-2 well'>
                    {{ form_row(form.streetNumber) }}
                </div>
                <div class='col-sm-6 well'>
                    {{ form_row(form.streetName) }}
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-6 well'>
                    <div class="alert alert-info">
                        {{ 'address.help.manage'|trans }}
                    </div>
                </div>
                <div class='col-sm-6 well'>
                    {{ form_row(form.locality, {'value': form.locality.vars.data}) }}
                    <span>
						<button title="{{ 'locality.refresh'|trans }}" id="refreshAddressLocality" type="button"
                                class="btn btn-info halflings halflings-refresh" style="float: right; "></button>
						<button title="{{ 'locality.add'|trans }}" id="addAddressLocality" type="button"
                                class="btn btn-primary halflings halflings-plus-sign" style="float: right; "></button>
					</span><br/>
                    {% include '@BusybeeTemplate/Default/flash.html.twig' with {'flashClass': 'fadeAlert', 'transDomain': 'BusybeePersonBundle'} %}
                </div>
            </div>
        </div>
    </div>
</div>

