{# src/Busybee/PersonBundle/Resources/views/Address/index.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% extends "BusybeeTemplateBundle:Default:template.html.twig" %}

{% form_theme form "BusybeeTemplateBundle:Template:bootstrap.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'BusybeeHomeBundle:AutoComplete:style.html.twig' %}
{% endblock stylesheets %}

{% block title %}{{ parent() }}{{ 'address.title'|trans }}{% endblock title %}

{% block menuContainer %}{% endblock %}
{% block titleContainer %}{% endblock %}


{% block contentContainer %}
    {% block flashMessages %}
        {% include 'BusybeeTemplateBundle:Default:flash.html.twig' with {'flashClass': 'fadeAlert', 'transDomain': 'BusybeePersonBundle'} %}
    {% endblock flashMessages %}
    {{ form_start(form) }}
    <div class="container-fluid">
        <div class="row" id="addressMessage" style="display: none;">
        </div>
    </div>
    <div id="addressContent">
        {% include 'BusybeePersonBundle:Address:edit.html.twig' %}
    </div>
    {{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% include 'BusybeeTemplateBundle:Scripts:fadeAlert.html.twig' %}
    {% include 'BusybeePersonBundle:Address:script.html.twig' %}
    {% include 'BusybeeTemplateBundle:Scripts:monitorForm.html.twig' with {'route': 'address_manage'} %}
{% endblock javascripts %}
