{# src/Busybee/CampusBundle/Resources/views/Campus/index.html.twig #}

{% trans_default_domain "BusybeeCampusBundle" %}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% block title %}{{ parent() }}{{ 'campus.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'campus.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'campus.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
{{ form_start(form) }}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 col-md-6 well">
			{{ form_row(form.identifier) }}
		</div>
		<div class="col-sm-6 col-md-6 well">
			{{ form_row(form.name) }}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6 well">
			{{ form_row(form.locality) }}
		</div>
		<div class="col-sm-6 col-md-6 well">
			{{ form_row(form.territory) }}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6 well">
			{{ form_row(form.postcode) }}
		</div>
		<div class="col-sm-6 col-md-6 well">
			{{ form_row(form.country) }}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6 well">
			{{ form_row(form.locationList) }}
		</div>
		<div class="col-sm-6 col-md-6 well">
			<div class="form-group text-right">
				{{ form_widget(form.save) }}
				{{ form_widget(form.cancel) }}
			</div>
		</div>
	</div>
</div>
{{ form_end(form) }}
{% endblock contentContainer %}


{% block javascripts %}
	{{ parent() }}
	<script>
		$('.locationForm').change(function() {
			$('.locationList').prop('disabled', true);
		});
		$('.locationList').change(function() {
			
			var id = $(this).val();
			
			window.open("{{ path('campus_manage') }}?id=" + id, "_self");
			
		});
	</script>
{% endblock javascripts %}