{# src/Busybee/PersonBundle/Resources/views/Locality/edit.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% form_theme form "BusybeeFormBundle:Template:bootstrap.html.twig" %}

	<div class="panel panel-primary busybee-panel">
		<div class="panel-heading">
			{% if addressTitle is not defined %}{% set addressTitle = 'address.title' %}{% endif %}
			<h3 class="panel-title">{{ addressTitle|trans}}</h3>
		</div>
		<div class="panel-body">
			<div class="container-fluid">
				<div class='row'>
					<div class='col-sm-9 well'>
						{{ form_row(form.addressList) }}
					</div>
					<div class='col-sm-3 well'>
						<div class='form-group text-right'>
							{{ form_widget(form.save) }}
						</div>
					</div>
				</div>
				<div class='row'>
					<div class='col-sm-6 well'>
						{{ form_row(form.line1) }}
					</div>
					<div class='col-sm-6 well'>
						{{ form_row(form.line2) }}
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class='row' id="localityMessage" style="display: none;">
				</div>
			</div>
			<div id="localityContent">
				{% include 'BusybeePersonBundle:Locality:edit.html.twig' with {'form': form.locality} %}
			</div>
		</div>
	</div>

