{# src/Busybee/PersonBundle/Resources/views/Address/index.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% form_theme form "BusybeeFormBundle:Template:bootstrap.html.twig" %}

{% block title %}{{ parent() }}{{ 'person.address.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'person.address.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'person.address.description'|trans }}{% endblock headerLead %}



{% block contentContainer %}
{{ form_start(form, {'action': path('address_edit', {'id': id}), 'method': 'POST'}) }}
	<div class="container-fluid">
		<div class='row' id="addressMessage{{ form.vars.name }}" style="display: none;">
		</div>
	</div>
	<div id="addressContent">
		{% include 'BusybeePersonBundle:Address:edit.html.twig' with {'classSuffix': 'address1'} %}
	</div>
{{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
	{{ parent() }}
	{% include 'BusybeePersonBundle:Address:script.html.twig' with {'classSuffix': 'address1'} %}
	{% include 'BusybeePersonBundle:Locality:script.html.twig' with {'classSuffix': 'address1'} %}
{% endblock javascripts %}
