{# src/Busybee/PersonBundle/Resources/views/Address/index.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% form_theme form "BusybeeFormBundle:Template:bootstrap.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'BusybeeHomeBundle:AutoComplete:style.html.twig' %}
{% endblock stylesheets %}

{% block title %}{{ parent() }}{{ 'address.title'|trans }}{% endblock title %}

{% block menuContainer %}{% endblock %}
{% block titleContainer %}{% endblock %}


{% block contentContainer %}
{{ form_start(form) }}
	<div class="container-fluid">
		<div class="row" id="addressMessage" style="display: none;">
		</div>
	</div>
	<div id="addressContent">
		{% include 'BusybeePersonBundle:Address:edit.html.twig' %}
	</div>
{{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
	{{ parent() }}
	{% include 'BusybeeHomeBundle:Scripts:fadeAlert.js.twig' %}
	{% include 'BusybeePersonBundle:Address:script.html.twig' %}
	{% include 'BusybeeHomeBundle:Scripts:monitorForm.js.twig' with {'route': 'address_manage'} %}
{% endblock javascripts %}
