{# src/Busybee/PersonBundle/Resources/views/Locality/index.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% form_theme form "BusybeeFormBundle:Template:bootstrap.html.twig" %}

{% block title %}{{ parent() }}{{ 'person.locality.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'person.locality.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'person.locality.description'|trans }}{% endblock headerLead %}



{% block contentContainer %}
{{ form_start(form, {'action': path('address_edit', {'id': id}), 'method': 'POST'}) }}
	<div class="container-fluid">
		<div class='row' id="addressMessage" style="display: none;">
		</div>
	</div>
	<div id="addressContent">
		{% include 'BusybeePersonBundle:Address:edit.html.twig' %}
	</div>
{{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
	{{ parent() }}
	{% include 'BusybeePersonBundle:Address:script.html.twig' %}
	{% include 'BusybeePersonBundle:Locality:script.html.twig' %}
{% endblock javascripts %}
