{% trans_default_domain "BusybeeStudentBundle" %}

{% extends "BusybeeFormBundle:Default:template.html.twig" %}

{% form_theme form
"BusybeeFormBundle:Template:bootstrap.html.twig"
'@BusybeeActivity/Activity/studentCollection.html.twig' %}

{% block title %}{{ parent() }}{{ 'student.activity.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'student.activity.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{% endblock headerLead %}


{% block contentContainer %}
    {{ all_form_errors(fullForm, "div", "alert alert-danger fadeAlert") }}
    {% set transDomain = 'BusybeeStudentBundle' %}
    {% set route = {} %}
    {% if app.request.get('closeWindow') is not empty %}
        {% set h3Content = closeButton({mergeClass: 'disableOnChange'})|raw %}
        {% set route = route|merge({'closeWindow': '_closeWindow'}) %}
    {% else %}
        {% set h3Content = returnButton({mergeClass: 'disableOnChange', 'windowOpen': {'route': path('activity_list')}})|raw %}
    {% endif %}
    {% if app.request.get('id') != 'Add' %}
        {% set h3Content = h3Content ~ addButton({'windowOpen': {'route': path('activity_edit', {'id': 'Add'}|merge(route))}})|raw %}
    {% endif %}
    {% set h3Content = h3Content ~ resetButton({'windowOpen': {'route': path('activity_edit', {'id': app.request.get('id')}|merge(route))}})|raw %}
    {% set h3Content = h3Content ~ saveButton() %}
    {% set h3Content = h3Content ~ form_widget(form.changeRecord, {'value': app.request.get('id')}) %}
    {{ form_start(form, {'attr':{'id': 'activity_form'}}) }}
    {% include '@BusybeeHome/Page/panelStart.html.twig' with {'header': 'student.activity.title', 'panelParagraph': 'student.activity.description'} %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12 well">
                        {{ form_row(form.name) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 well">
                        {{ form_row(form.nameShort) }}
                    </div>
                    <div class="col-sm-6 well">
                        {{ form_row(form.teachingLoad) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 well">
                        {{ form_row(form.year) }}
                        {{ form_row(form.space) }}
                    </div>
                    <div class="col-sm-6 well">
                        {{ form_row(form.grades) }}
                    </div>
                </div>

                {% if form.students is defined %}
                    {% include '@BusybeeActivity/Activity/tutorList.html.twig' %}
                {% endif %}

                <div class="row">
                    <div class="col-sm-12 well">
                        {{ form_row(form.studentReference) }}
                    </div>
                </div>
            </div>
            {% if form.students is defined %}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12 well">
                            {{ form_row(form.students) }}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-sm-6">
                    {% include '@BusybeeActivity/Activity/tutorList.html.twig' %}
                </div>
            {% endif %}
        </div>
    </div>
    {% include '@BusybeeHome/Page/panelEnd.html.twig' %}
    {{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% include '@BusybeeActivity/Activity/studentScript.html.twig' %}
    {% set route = 'activity_edit' %}
    {% include '@BusybeeHome/Scripts/monitorForm.html.twig' %}
    {% include '@BusybeeHome/Scripts/fadeAlert.html.twig' %}
    {% if app.request.get('closeWindow') is not empty %}
        <script type="application/javascript" language="JavaScript">
            $('#activity_form').submit(function (event) {
                var path = '{{ path('activity_edit', {id: '__id__', closeWindow: '_closeWindow'}) }}';
                path = path.replace('__id__', '{{ app.request.get('id') }}');

                $(this).attr('action', path);
                return true;
            });
        </script>
    {% endif %}
{% endblock javascripts %}