{% extends 'bootstrap_3_layout.html.twig' %}

{% block form_label -%}
	{% if 'image' in block_prefixes and data.pathname is defined and data.pathname is not empty %}<img src="{{ asset( data.pathname|slice(7) ) }}" class="{{ attr.imageClass }}" />{% endif %}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label')|trim}) -%}
    {{- parent() -}}
{%- endblock form_label %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
    {% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger">{% endif %}
    <ul class="list-unstyled">
        {%- for error in errors -%}
            <li><span class="glyphicons glyphicons-exclamation-sign"></span> {{ (translation_domain is same as(false) ? error.message : error.message|trans({}, translation_domain)) }}</li>
        {%- endfor -%}
    </ul>
    {% if form.parent %}</span>{% else %}</div>{% endif %}
    {%- endif %}
	{% for attrname,attrvalue in attr %}
		{% if attrname == 'help' %}
			<br /><span class="field-help">{{ (translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain)) }}</span>
		{% endif %}
	{% endfor %}
{%- endblock form_errors %}

{% block yesno_widget -%}
	{%- set attr = attr|merge({class: (attr.class|default('') ~ ' yes-no form-control')|trim}) -%}
	{%- set attr = attr|merge({"data-off-label": "false", "data-on-label": "false", "data-off-icon-cls": "glyphicons-thumbs-down", "data-on-icon-cls": "glyphicons-thumbs-up"}) -%}

	<div class="yesno-right">
		<input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
	</div>

    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
	<label class="control-label">{{ (translation_domain is same as(false) ? form.vars.label : form.vars.label|trans({}, translation_domain)) }}</label>
		{% if form.vars.help is defined %}<br /><span class="field-help">{{ (translation_domain is same as(false) ? form.vars.help : form.vars.help|trans({}, translation_domain)) }}</span>{% endif %}	
{%- endblock yesno_widget %}


{%- block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrname in ['help', 'imageClass'] -%}
			
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock widget_attributes -%}

{% block choice_row -%}
	{% if expanded %}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
	{% else %}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_widget(form) -}}
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
    </div>
	{% endif %}
{%- endblock choice_row %}

{% block form_row -%}
	{% if form.vars.block_prefixes.1 == 'choice' %}
		{{- block('choice_row') -}}
	{% else %}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_widget(form) -}}
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
    </div>
	{% endif %}
{%- endblock form_row %}

{%- block auto_complete_widget -%}
	{%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
	<input type="hidden" class="{{ hidden.class }}" value="{{ hidden.value }}" name="{{ hidden.name }}" />
    <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock auto_complete_widget -%}