{# src/Busybee/HomeBundle/Resources/views/Popup/template.html.twig #}

{% trans_default_domain "BusybeeHomeBundle" %}

{% extends '@BusybeeForm/Default/headerNotice.html.twig' %}

{% block htmlContent %}
    <!DOCTYPE html >
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{{ get_setting('org.name.long', 'Busybee') }} - {% block title %}{% endblock title %} on Busybee</title>

        {% block stylesheets %}
            {% include 'BusybeeHomeBundle:Popup:style.html.twig' %}
        {% endblock stylesheets %}

    </head>

    <body>

    {% block menuContainer %}
        {% include '@BusybeeHome/Menu/empty-menu.html.twig' %}
    {% endblock menuContainer %}

    <div class="container theme-showcase" role="main">
        <div class="container-fluid" id="contentContainer">
            {% block flashMessages %}
                {% include 'BusybeeFormBundle:Default:flash.html.twig' %}
            {% endblock flashMessages %}
            {% block contentContainer %}

                {{ include('BusybeeFormBundle:Default:buttons.html.twig') }}

                {{ include('BusybeeFormBundle:Default:tables.html.twig') }}

                {{ include('BusybeeFormBundle:Default:thumbnails.html.twig') }}

                {{ include('BusybeeFormBundle:Default:labels.html.twig') }}

                {{ include('BusybeeFormBundle:Default:badges.html.twig') }}

                {{ include('BusybeeFormBundle:Default:dropdowns.html.twig') }}

                {{ include('BusybeeFormBundle:Default:navs.html.twig') }}

                {{ include('BusybeeFormBundle:Default:navBars.html.twig') }}

                {{ include('BusybeeFormBundle:Default:alerts.html.twig') }}

                {{ include('BusybeeFormBundle:Default:progressBars.html.twig') }}

                {{ include('BusybeeFormBundle:Default:listGroups.html.twig') }}

                {{ include('BusybeeFormBundle:Default:panels.html.twig') }}

                {{ include('BusybeeFormBundle:Default:wells.html.twig') }}

                {{ include('BusybeeFormBundle:Default:carousel.html.twig') }}

            {% endblock contentContainer %}
        </div>
    </div> <!-- /container -->

    <div class="container theme-showcase" id="footerContainer">
        {% block footerContainer %}
            {{ include('BusybeeFormBundle:Default:footer.html.twig') }}
        {% endblock footerContainer %}
    </div> <!-- /container footer -->


    {% block javascripts %}
        {% include "BusybeeFormBundle:Default:scripts.html.twig" %}
    {% endblock javascripts %}


    </body>
    </html>
{% endblock htmlContent %}
