{% trans_default_domain "BusybeePersonBundle" %}

{% extends "@BusybeeTemplate/Default/template.html.twig" %}

{% form_theme form
'@BusybeeTemplate/Template/bootstrap.html.twig'
'@BusybeePerson/People/importCollection.html.twig' %}

{% block title %}{{ 'people.matchimport.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'people.matchimport.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'people.matchimport.description'|trans }}{% endblock headerLead %}

{% set manager = form.vars.manager %}
{% block contentContainer %}
    {{ form_start(form) }}
    {% set transDomain = 'BusybeePersonBundle' %}
    {% set h3Content = returnButton({'windowOpen': {'route': path('person_manage')}}) %}
    {% set h3Content = h3Content ~ saveButton() %}
    {% include '@BusybeeTemplate/Page/panelStart.html.twig' with {'header': 'people.matchimport.title', 'panelParagraph': 'people.matchimport.help'} %}
    <div class="container-fluid">
        {{ form_widget(form.fields) }}
        {{ form_row(form.file) }}
        {% do form.fields.setRendered %}
    </div>
    {% include '@BusybeeTemplate/Page/panelEnd.html.twig' %}
    {{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% include 'BusybeeTemplateBundle:Scripts:fadeAlert.html.twig' %}
    {% include '@BusybeeTemplate/Scripts/jquery.collection.js.html.twig' %}
    {% include '@BusybeePerson/People/importScript.html.twig' %}
{% endblock javascripts %}
