{# src/Busybee/PersonBundle/Resources/views/People/importMatch.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% extends "@BusybeeTemplate/Default/template.html.twig" %}

{% block title %}{{ 'people.matchimport.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'people.matchimport.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'people.matchimport.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
    {{ form_start(form) }}
    {% set transDomain = 'BusybeePersonBundle' %}
    {% set h3Content = returnButton({'windowOpen': {'route': path('person_manage')}}) %}
    {% set h3Content = h3Content ~ saveButton() %}
    {% include '@BusybeeTemplate/Page/panelStart.html.twig' with {'header': 'people.matchimport.title', 'panelParagraph': 'people.matchimport.help.help'} %}
    <div class="container-fluid">
        {% set value = 0 %}
        {% for field in form.fields %}
            <div class="row">
                <div class="col-sm-6 well">
                    {{ form_row(field.source, {'value': value|trim}) }}
                    {% set value = value + 1 %}
                </div>
                <div class="col-sm-6 well">
                    {{ form_row(field.destination, {'attr': {'class': 'optionLoader'}}) }}
                    <div id="{{ field.vars.id }}_options" style="display: none">
                    </div>
                </div>
            </div>
        {% endfor %}
        {{ form_row(form.file) }}
    </div>
    {% include '@BusybeeTemplate/Page/panelEnd.html.twig' %}
    {{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% include 'BusybeeTemplateBundle:Scripts:fadeAlert.html.twig' %}
    <script>
        $(".optionLoader").change(function () {
            var id = $(this).attr('id');
            var label = $('#' + id + ' option:selected').text();
            var name = $(this).attr('name');

            id = id.replace('destination', 'options');

            if (label == 'phone.phoneNumber') {
                name = name.replace('destination', 'option');
                var content = '{% include 'BusybeePersonBundle:People:optionPhoneNumber.html.twig' %}';
                content = content.replace(/__id__/g, id.replace('options', 'option'));
                content = content.replace('__name__', name);
                $("#" + id).html(content);
                $("#" + id).show();
            }
            else if (label == 'person.dob') {
                name = name.replace('destination', 'option');
                var content = '{% include 'BusybeePersonBundle:People:optionDoB.html.twig' %}';
                content = content.replace(/__id__/g, id.replace('options', 'option'));
                content = content.replace('__name__', name);
                $("#" + id).html(content);
                $("#" + id).show();
            }
            else {
                $("#" + id).hide(1000);
                $("#" + id).html('&nbsp;');
            }
        });

    </script>
{% endblock javascripts %}

