{% trans_default_domain "BusybeeStudentBundle" %}

{% extends "@BusybeeTemplate/Default/template.html.twig" %}

{% form_theme form
"@BusybeeTemplate/Template/bootstrap.html.twig" %}

{% block headerTitle %}{{ 'student.grade.students.title'|trans({'%name%': manager.grade.fullName}) }}{% endblock headerTitle %}
{% block headerLead %}{{ 'student.grade.students.description'|trans }}{% endblock headerLead %}

{% set links = '' %}


{% block contentContainer %}
    {% set title = 'student.grade.students.title' %}
    {% set panelParagraph = 'student.grade.students.help' %}
    {% set transDomain = 'BusybeeStudentBundle' %}
    {{ form_start(form) }}
    {% set name = manager.grade.fullName %}
    {% include '@BusybeeTemplate/Page/panelStart.html.twig' %}
    <div id="gradeMessage"><!-- Messages go here --></div>
    <div class="row">
        <div class="col-sm-6 well" id="links">
            <!-- -->
        </div>
        <div class="col-sm-6 well">
            {{ form_row(form.defaultStatus) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 well" id="dropRemove" ondrop="dropRemove(event)" ondragover="allowDrop(event)">
            {% include '@BusybeeStudent/Student/removeStudent.html.twig' %}
        </div>
        <div class="col-sm-6 well" id="dropAttach" ondrop="dropAttach(event)" ondragover="allowDrop(event)">
            {% include '@BusybeeStudent/Student/addStudent.html.twig' %}
        </div>
    </div>
    {% include '@BusybeeTemplate/Page/panelEnd.html.twig' %}
    {{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function dropRemove(ev) {
            ev.preventDefault();

            var data = ev.dataTransfer.getData("text");

            var path = "{{ path('remove_student_from_grade', {grade: '__grade__', student: '__student__' }) }}";
            path = path.replace('__grade__', {{ app.request.get('id') }});
            path = path.replace('__student__', data);

            $.ajax({
                url: path,
                type: "POST",
                success: function (data) {
                    $("#dropAttach").html(data.current);
                    $("#dropRemove").html(data.possible);
                    $('#gradeMessage').html(data.message);
                    $('#gradeMessage').fadeIn(2);
                    window.location.hash = '#gradeMessage';
                    window.location.hash = '#contentContainer';
                    $('#gradeMessage').fadeOut(3000);
                }
            })
        }

        function dropAttach(ev) {
            ev.preventDefault();

            if ($('#add_students_to_grade_defaultStatus').val() == "") {
                alert('{{ 'grade.students.status.missing'|trans }}');
                return false;
            }

            var data = ev.dataTransfer.getData("text");

            var path = "{{ path('add_student_to_grade', {grade: '__grade__', student: '__student__' , status: '__status__' }) }}";
            path = path.replace('__grade__', {{ app.request.get('id') }});
            path = path.replace('__student__', data);
            path = path.replace('__status__', $('#add_students_to_grade_defaultStatus').val());


            $.ajax({
                url: path,
                type: "POST",
                success: function (data) {
                    $("#dropAttach").html(data.current);
                    $("#dropRemove").html(data.possible);
                    $('#gradeMessage').html(data.message);
                    $('#gradeMessage').fadeIn(2);
                    window.location.hash = '#gradeMessage';
                    window.location.hash = '#contentContainer';
                    $('#gradeMessage').fadeOut(3000);
                }
            })
        }

        $('#links').html('{{ manager.links|raw }}');
    </script>
{% endblock %}