{# src/Busybee/PersonBundle/Resources/views/Form/person.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% form_theme form "BusybeeFormBundle:Template:bootstrap.html.twig" %}


<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4 well">
			{{ form_row(form.surname) }}
		</div>
		<div class="col-sm-4 well">
			{{ form_row(form.firstName) }}
		</div>
		<div class="col-sm-4 well">
			{{ form_row(form.photo) }}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2 well">
			{{ form_row(form.title) }}
		</div>
		<div class="col-sm-4 well">
			{{ form_row(form.preferredName) }}
		</div>
		<div class="col-sm-2 well">
			{{ form_row(form.gender) }}
		</div>
		<div class="col-sm-4 well">
			{{ form_row(form.officialName) }}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 well">
			{{ form_row(form.email) }}
		</div>
		<div class="col-sm-4 well">
			{{ form_row(form.email2) }}
		</div>
		<div class="col-sm-4 well">
			{{ form_row(form.dob) }}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-8 well">
			{{ form_row(form.website) }}
		</div>
	</div>
</div>
