{# src/Busybee/InstituteBundle/Resources/views/Calendar/calendar.html.twig #}

{% trans_default_domain "BusybeeInstituteBundle" %}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% form_theme form "BusybeeFormBundle:Template:bootstrap.html.twig" %}

{% block title %}{{ parent() }}{{ 'calendar.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'calendar.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'calendar.description'|trans }}{% endblock headerLead %}


{% set tabs = get_parameter('calendar') %}

{% block contentContainer %}
{{ all_form_errors(fullForm, "div", "alert alert-danger fadeAlert") }}
{{ form_start(form, {'action': path('year_edit', {'id': id} ) } ) }}
<div id="calendarTabs">
	<ul class="nav nav-tabs" role="tablist">
		{% for name,tab in tabs %}
			{% set translation = 'BusybeeInstituteBundle' %}
			{% if tab.translation is defined %}{% set translation = tab.translation %}{% endif %}
			<li><a href="#{{ name }}" role="tab" data-toggle="tab">{{ tab.label|trans({}, translation) }}</a></li>
		{% endfor %}
	</ul>
	{% set active = ' active' %}
	<div class="tab-content">
		{% for name,tab in tabs %}
			{% set translation = 'BusybeePersonBundle' %}
			{% if tab.translation is defined %}{% set translation = tab.translation %}{% endif %}
			<div class="tab-pane{{ active }}" id="{{ name }}" >
				{% if tab.message is defined %}
				<div class="container-fluid">
					<div class='row' id="{{ tab.message }}" style="display: none;">
					</div>
				</div>
				{% endif %}
				{% include(tab.include) %}
			</div>
			{% set active = '' %}
		{% endfor %}
	</div>
</div>
{% do form.save.setRendered %}
{% do form.cancel.setRendered %}
{{ form_end(form) }}

{% endblock contentContainer %}


{% block javascripts %}
	{{ parent() }}
	{% for specialDay in form.specialDays %}
		{% include 'BusybeeInstituteBundle:Calendar:specialDay.js.twig' with {'name': specialDay.vars.name} %}
	{% endfor %}
	{% include 'BusybeeInstituteBundle:Calendar:specialDay.js.twig' with {'name': '__name__'} %}
	<script>
		function confirmDayDelete(delUrl) {
			if (confirm("{{ 'specialDay.delete.confirm'|trans }}")) {
				document.location = delUrl;
			}
		}
		function confirmTermDelete(delUrl) {
			if (confirm("{{ 'term.delete.confirm'|trans }}")) {
				document.location = delUrl;
			}
		}
		if ( $(".fadeAlert").length ) {
 	   		$(".fadeAlert").fadeOut(3000);
		}
	</script>
{% endblock javascripts %}