{# src/Busybee/InstituteBundle/Resources/views/Calendar/specialDays.html.twig #}

{% trans_default_domain "BusybeeInstituteBundle" %}

{% form_theme form "BusybeeFormBundle:Template:bootstrap.html.twig" %}

<div class="panel panel-primary busybee-panel">
	<div class="panel-heading">
		<h3 class="panel-title">{{ 'calendar.specialDay.title'|trans({'%year%': form.name.vars.value}) }}
		<button title="{{ 'calendar.year.return'|trans}}" type="button" class="halflings halflings-hand-left btn btn-primary" onClick="window.open('{{ path('calendar_years') }}','_self')" style="float: right"></button>
		{% if id != 'Add' %}
			<button title="{{ 'year.add.title'|trans}}" type="button" class="halflings halflings-plus-sign btn btn-primary" onClick="window.open('{{ path('year_edit', {'id': 'Add'}) }}','_self')" style="float: right"></button>
		{% endif %}
		<button title="{{ 'form.reset'|trans({}, 'BusybeeHomeBundle') }}" type="button" onClick="location.href='{{ path('year_edit', {'id': id}) }}'" class="halflings halflings-remove-circle btn btn-info" style="float: right"></button>
		<button title="{{ 'form.save'|trans({}, 'BusybeeHomeBundle')}}" type="submit" class="halflings halflings-save btn btn-success" style="float: right"></button>
		</h3>
	</div>
	<div class="panel-body">
		{% for specialKey, specialDay in form.specialDays %}
			{% if specialDay.vars.name != '__name__' %}
				{% include 'BusybeeInstituteBundle:Calendar:specialDay.html.twig' with {'form': specialDay, 'key': specialKey} %}
			{% endif %}
		{% endfor %}
		{% include 'BusybeeInstituteBundle:Calendar:specialDay.html.twig' with {'form': form.specialDays.vars.prototype, 'key': '__name__'} %}
		{% if 'calendar.help.specialDays'|trans is not empty %}
			<p class="alert alert-info">{{ 'calendar.help.specialDays'|trans }}</p>
		{% endif %}
	</div>
</div>

{% do form.specialDays.setRendered %}