{# src/Busybee/InstituteBundle/Resources/views/Calendar/years.html.twig #}

{% trans_default_domain "BusybeeInstituteBundle" %}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% block title %}{{ parent() }}{{ 'years.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'years.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'years.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
<div class="panel panel-primary busybee-panel">
	<div class="panel-heading">
		<h3 class="panel-title">{{ 'years.list'|trans}}
			<button title='{{ 'year.add.title'|trans}}' type="button" class="halflings halflings-plus-sign btn btn-primary" onClick="window.open('{{ path('year_edit', {'id': 'Add'}) }}','_self')" style="float: right"></button>
		</h3>
	</div>
	<div class="panel-body">
		{% if Years|length > 0 %}
			<div class="row row-header">
				<div class="col-sm-2 col-md-2">
					{{ 'calendar.header.name'|trans }}
				</div>
				<div class="col-sm-3 col-md-3">
					{{ 'calendar.header.firstDay'|trans }}
				</div>
				<div class="col-sm-3 col-md-3">
					{{ 'calendar.header.lastDay'|trans }}
				</div>
				<div class="col-sm-4 col-md-4">
					{{ 'calendar.header.action'|trans }}
				</div>
			</div>
			{% for Year in Years %}
				<div class="row row-striped{% if Year.status == 'current' %} alert-success{% endif %}">
					<div class="col-sm-2 col-md-2">
						{{ Year.name }}
					</div>
					<div class="col-sm-3 col-md-3">
						{{ Year.firstDay|date("D, jS F Y") }}
					</div>
					<div class="col-sm-3 col-md-3">
						{{ Year.lastDay|date|date("D, jS F Y") }}
					</div>
					<div class="col-sm-4 col-md-4">
						<button title='{{ 'year.edit.title'|trans}}' type="button" class="halflings halflings-edit btn btn-warning" onClick="window.open('{{ path('year_edit', {'id': Year.id}) }}','_self')"></button>
						<button title='{{ 'year.delete.title'|trans}}' type="button" class="halflings halflings-erase btn btn-{% if Year.canDelete %}danger"{% else %}default" disabled{% endif %} onclick="confirmDelete('{{ path('year_delete', {'id': Year.id}) }}')"></button>
						<button title='{{ 'year.calendar.button'|trans}}' type="button" class="halflings halflings-calendar btn btn-info" onClick="window.open('{{ path('year_calendar', {'id': Year.id}) }}','_self')"></button>

					</div>
				</div>
			{% endfor %}
		{% else %}
			<p class="alert alert-warning">{{ 'years.empty'|trans }}<p>
		{% endif %}
	</div>
</div>
{% endblock contentContainer %}


{% block javascripts %}
	{{ parent() }}
	<script>
		function confirmDelete(delUrl) {
			if (confirm("{{ 'years.delete.confirm'|trans }}")) {
				document.location = delUrl;
			}
		}
	</script>
{% endblock javascripts %}