{# src/Busybee/StudentBundle/Resources/views/Person/student.html.twig #}

{% trans_default_domain "BusybeeStudentBundle" %}

<div class="panel panel-primary busybee-panel">
    {% include '@BusybeePerson/Person/panelHeader.html.twig' with {'header': 'person.student.title', 'transDomain': 'BusybeePersonBundle'} %}
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 well">
                    {{ form_widget(form.student.person) }}
                    {{ form_row(form.student.startAtSchool) }}
                </div>
                <div class="col-sm-3 well">
                    {{ form_row(form.student.startAtThisSchool) }}
                </div>
                <div class="col-sm-3 well">
                    {{ form_row(form.student.lastAtThisSchool) }}
                </div>
                <div class="col-sm-3 well">
                    {{ form_row(form.student.house) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 well">
                    {{ form_row(form.student.countryOfBirth) }}
                </div>
                <div class="col-sm-4 well">
                    {{ form_row(form.student.ethnicity) }}
                </div>
                <div class="col-sm-4 well">
                    {{ form_row(form.student.religion) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 well">
                    {{ form_row(form.student.firstLanguage) }}
                </div>
                <div class="col-sm-4 well">
                    {{ form_row(form.student.secondLanguage) }}
                </div>
                <div class="col-sm-4 well">
                    {{ form_row(form.student.thirdLanguage) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 well">
                    {{ form_row(form.student.locker) }}
                </div>
            </div>
        </div>
        {% include '@BusybeeTemplate/Page/panelEnd.html.twig' %}
