{# BusybeeDisplayBundle:Bootstrap:jumbotron-narrow.html.twig' #}
{% extends 'BusybeeDisplayBundle:Bootstrap:base.html.twig' %}

{% block title %}{{ parent() }}Administration{% endblock title %}

{% block stylesheets %}
		
	{{ parent() }}	

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/busybeedisplay/css/jumbotron-narrow.css') }}" rel="stylesheet">
	
{% endblock  stylesheets %}

{% block navigation %}{% endblock navigation %}
{% block header %}{% endblock header %}
{% block container %}
<div class="container">
	
	<div class="header clearfix">
		<nav>
			<ul class="nav nav-pills pull-right">
				<li{% if app.request.get('_route') == 'busybee_admin' %} class="active"{% endif %}><a href="{{ path('busybee_admin') }}">Admin</a></li>
				<li{% if app.request.get('_route') == 'busybee_contact' %} class="active"{% endif %}><a href="{{ path('busybee_contact') }}">Contact</a></li>
				{% if is_granted('ROLE_USER') %}<li role="presentation"><a href="{{ path('busybee_security_logout') }}" target="_self">Logout</a></li>{% endif %}
			</ul>
		</nav>
		<h3 class="text-muted"><a href="{{ path('busybee_home_page') }}">{% block projectname %}Busybee{% endblock projectname %}</a></h3>
	</div>
	

	
	<div class="jumbotron">
		<h1>Jumbotron Narrow Heading</h1>
		<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
		<p>Name = {{ name }}</p>
	</div>
	
	<div class="row marketing">
		<div class="col-lg-6">
			<h4>Subheading</h4>
			<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
			
			<h4>Subheading</h4>
			<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
			
			<h4>Subheading</h4>
			<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
		</div>
		
		<div class="col-lg-6">
			<h4>Subheading</h4>
			<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
			
			<h4>Subheading</h4>
			<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
			
			<h4>Subheading</h4>
			<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
		</div>
	</div>	
	
</div> <!-- /container -->
{% endblock container %}
{% block footer %}{{ parent() }}{% endblock footer %}


