{# src/Busybee/HomeBundle/Resources/views/Default/template.html.twig #}

{% trans_default_domain "BusybeeHomeBundle" %}

{% extends '@BusybeeTemplate/Default/headerNotice.html.twig' %}


{% block htmlContent %}
    <!DOCTYPE html >
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{{ get_setting('org.name.long', 'Busybee Institute') }} - {% block title %}{% endblock title %} on
            Busybee</title>

        {% block stylesheets %}
            {% include 'BusybeeTemplateBundle:Default:style.html.twig' %}
        {% endblock stylesheets %}
    </head>

    <body>

    {% block menuContainer %}
        {{ include('BusybeeHomeBundle:Menu:main-menu.html.twig') }}
    {% endblock menuContainer %}

    <div class="container theme-showcase" role="main">

        {% block titleContainer %}
            <div class="jumbotron hideSection{{ containerThemeOverwrite }}">
                <img src="{{ asset(get_setting('org.logo', 'img/bee.png')) }}" alt="Busybee" id="bee-logo"/>
                <h2>{% block headerTitle %}Busybee - {{ get_setting('org.name.long') }}{% endblock headerTitle %}</h2>
                <p class="lead">{% block headerLead %}Busybee{% endblock headerLead %}</p>
                {% if headerNotices is not empty %}<p>{{ headerNotices|raw }}</p>{% endif %}
            </div>
        {% endblock titleContainer %}


        <div class="container-fluid" id="contentContainer">
            {% block flashMessages %}
                {% include 'BusybeeTemplateBundle:Default:flash.html.twig' %}
            {% endblock flashMessages %}
            {% block contentContainer %}

                {{ include('BusybeeTemplateBundle:Default:buttons.html.twig') }}

                {{ include('BusybeeTemplateBundle:Default:tables.html.twig') }}

                {{ include('BusybeeTemplateBundle:Default:thumbnails.html.twig') }}

                {{ include('BusybeeTemplateBundle:Default:labels.html.twig') }}

                {{ include('BusybeeTemplateBundle:Default:badges.html.twig') }}

                {{ include('BusybeeTemplateBundle:Default:dropdowns.html.twig') }}

                {{ include('BusybeeTemplateBundle:Default:navs.html.twig') }}

                {{ include('BusybeeTemplateBundle:Default:navBars.html.twig') }}

                {{ include('BusybeeTemplateBundle:Default:alerts.html.twig') }}

                {{ include('BusybeeTemplateBundle:Default:progressBars.html.twig') }}

                {{ include('BusybeeTemplateBundle:Default:listGroups.html.twig') }}

                {{ include('BusybeeTemplateBundle:Default:panels.html.twig') }}

                {{ include('BusybeeTemplateBundle:Default:wells.html.twig') }}

                {{ include('BusybeeTemplateBundle:Default:carousel.html.twig') }}

            {% endblock contentContainer %}
        </div>
    </div> <!-- /container -->

    <div class="container theme-showcase" id="footerContainer">
        {% block footerContainer %}
            {{ include('BusybeeTemplateBundle:Default:footer.html.twig') }}
        {% endblock footerContainer %}
    </div> <!-- /container footer -->


    {% block javascripts %}
        {% include "BusybeeTemplateBundle:Default:scripts.html.twig" %}
    {% endblock javascripts %}


    </body>
    </html>
{% endblock htmlContent %}
