{# src/General/ValidationBundle/Resources/views/Validation/list_content.html.twig #}

{% trans_default_domain 'GeneralValidationBundle' %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<thead>
				  <tr>
					<th width="50%">{{ 'validation.list.constraint.name'|trans }}</th>
					<th width="50%">{{ 'validation.list.constraint.group'|trans }}</th>
				  </tr>
				</thead>
				<tbody>
				<tr>
					<td>
						<div class="row">
							<div class="col-sm-5">
								{{ form_row(form.section) }}
							</div>
							<div class="col-sm-5">
								{{ form_row(form.validator) }}
							</div>
							<div class="col-sm-2">
								{{ form_row(form.search) }}
							</div>
						</div>				
					</td>
					<td class="text-center form-actions">{% include "BusybeeDisplayBundle:Form:pagination.html.twig" %}</td>
				</tr>


				{% for vdata in listdata %}

				  <tr>
					<td><a href="{{ path('validation_edit', {'val_id': vdata.id} ) }}">{{ vdata.ConstraintName }}</a></td>
					<td>{{ vdata.ConstraintGroup }}</td>
				  </tr>

				{% endfor %}
				<tr>
					<td cols="2" class="text-center form-actions"><a class="btn btn-primary" href="{{ path('validation_new') }}" role="button">{{ 'validation.list.create'|trans }}</a></td>
				</tr>
				</tbody>
			  </table>
		</div>
	</div>
</div>
