{# src/General/ValidationBundle/Resources/views/Validation/list.html.twig #}
{% extends "BusybeeDisplayBundle:Bootstrap:jumbotron.html.twig" %}

{% trans_default_domain 'GeneralValidationBundle' %}

{% block title %}Busybee - {{ 'validation.list.title'|trans }}{% endblock title %}

{% block header %}
<div class="jumbotron container">
		<h1 class="text-center">{{ 'validation.list.title'|trans }}</h1>
</div>
{% endblock header %}

{% block container %}
<div class="form_error container"></div>
{{ form_start(form) }}
	<div id="form_body" class="container">
		{% include "GeneralValidationBundle:Validation:list_content.html.twig" %}
	</div>
{{ form_end(form) }}
{% endblock container %}

{% block javascripts %}
{{parent() }}
{% include "BusybeeDisplayBundle:Form:initAjaxForm.html.twig" %}
{% endblock javascripts %}