{# src/General/ValidationBundle/Resources/views/Validation/main_content.html.twig #}

{% trans_default_domain 'GeneralValidationBundle' %}

<div class="row well">
	<div class="col-md-6">
		<div class="well">
			{{ form_row(form.ConstraintName) }}
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-9">
					{{ form_widget(form.notblank) }}
					{{ form_widget(form.unique) }}
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="well">
			{{ form_row(form.ConstraintGroup) }}
		</div>
	</div>
</div>


<div class="row well">
	<div class="col-sm-6">
		<div class="well">
			{{ form_row(form.minlength) }}
		</div>
	</div>
	<div class="col-sm-6">
		<div class="well">
			{{ form_row(form.length) }}
		</div>
	</div>
</div>


<div class="row well">
	<div class="col-sm-12">
		<div class="well">
			{{ form_row(form.match) }}
			{{ form_row(form.replace) }}
			{{ form_row(form.format) }}
			{{ form_row(form.enumeration) }}
		</div>
	</div>
</div>