{% extends "@BusybeeTemplate/Default/template.html.twig" %}
{% trans_default_domain "SystemBundle" %}


{% form_theme form "BusybeeTemplateBundle:Template:bootstrap.html.twig"
"@BusybeeTemplate/Template/jquery.collection.html.twig"
"SystemBundle:Bundle:bundle.html.twig" %}

{% block title %}{{ 'system.bundle.manage.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'system.bundle.manage.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'system.bundle.manage.description'|trans }}{% endblock headerLead %}

{% block stylesheets %}{{ parent() }}
    {% include "@BusybeeTemplate/Toggle/style.html.twig" %}
    <style type="text/css">
        .toggle.btn-sm {
            min-width: 40px;
            min-height: 25px;
        }

        .panel-body {
            padding: 0;
        }
    </style>
{% endblock %}

{% block contentContainer %}
    {% set h3Content = '' %}
    {% include '@BusybeeTemplate/Page/panelStart.html.twig' with {header: 'system.bundle.manage.title', transDomain: 'SystemBundle'} %}
    {% block flashMessages %}
        {% include '@BusybeeTemplate/Default/flash.html.twig' with {transDomain: 'SystemBundle', flashClass: 'fadeAlert'} %}
    {% endblock flashMessages %}


    {% if form.vars.manager.anyUpdateRequired() %}
        {% set h3Content = miscButton({class: 'btn btn-warning halflings halflings-arrow-up', title: 'bundle.update.allbutton', transDomain: 'SystemBundle', windowOpen: {route: path('bundle_update', {name: 'All'})}}) %}
        {% include '@BusybeeTemplate/Page/panelStart.html.twig' with {header: 'system.bundle.update.title', transDomain: 'SystemBundle', panelStyle: 'warning', panelParagraph: 'system.bundle.update.description'} %}
        {% include '@BusybeeTemplate/Page/panelEnd.html.twig' %}
    {% endif %}

    {% if form.vars.manager.SQLCount > 0 %}
        {% set desc = 'system.bundle.database.onechange' %}
        {% if form.vars.manager.SQLCount > 1 %}{% set desc = 'system.bundle.database.multichange' %}{% endif %}
        {% set h3Content = miscButton({class: 'btn btn-warning halflings halflings-save', title: 'bundle.update.sqlbutton', transDomain: 'SystemBundle', windowOpen: {route: path('bundle_database_update')}}) %}
        {% include '@BusybeeTemplate/Page/panelStart.html.twig' with {header: 'system.bundle.database.title', transDomain: 'SystemBundle', panelStyle: 'warning', panelParagraph: desc, panelParams: {'%count%': form.vars.manager.SQLCount}} %}
        {% include '@BusybeeTemplate/Page/panelEnd.html.twig' %}
    {% endif %}



    {{ form_start(form, {attr: {id: 'bundleForm'}}) }}
    {% include '@BusybeeTemplate/Page/panelStart.html.twig' with {header: 'system.bundle.defaults.title', transDomain: 'SystemBundle', h3Content: '', panelStyle: 'info', panelParagraph: 'system.bundle.defaults.description'} %}
    <div style="max-width: 100%" class="container">
        <div class="row">
            <div class="col-sm-6 well">
                {{ form_row(form.orgSettingFile) }}
            </div>
            <div class="col-sm-3 well">
                {{ form_row(form.orgSettingDefault) }}
            </div>
            <div class="col-sm-3 well">
                <div>
                    {{ miscButton({class: 'btn btn-warning halflings halflings-erase', title: 'bundles.remove.file', transDomain: 'SystemBundle', windowOpen: {route: path('bundle_default_remove')}})|raw }}
                    {{ saveButton({class: 'btn btn-success halflings halflings-cloud-upload', title: 'form.upload'})|raw }}</div>
            </div>
        </div>
    </div>
    {% include '@BusybeeTemplate/Page/panelEnd.html.twig' %}

    {{ form_widget(form.bundles) }}
    {{ form_end(form) }}

    {% include '@BusybeeTemplate/Page/panelEnd.html.twig' %}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% include "@BusybeeTemplate/Toggle/script.html.twig" %}
    {% include "@BusybeeTemplate/Scripts/jquery.collection.js.html.twig" %}
    <script>
        $('input:checkbox').change(function () {
            if (!$(this).hasClass('noSubmit')) {
                $("#bundleForm").submit();
            }
        });
    </script>
{% endblock %}