{% trans_default_domain "BusybeeTimeTableBundle" %}

{% extends "@BusybeeHome/Popup/template.html.twig" %}

{% block title %}{{ parent() }}{{ 'period.activities.activity.edit.title'|trans }}{% endblock title %}

{% block contentContainer %}
    {% block flashMessages %}
        {% include 'BusybeeFormBundle:Default:flash.html.twig' with {'flashClass': 'fadeAlert', 'transDomain': 'BusybeeTimeTableBundle'} %}
    {% endblock %}
    {{ all_form_errors(fullForm, "div", "alert alert-danger fadeAlert") }}
    <h2>{{ form.vars.value.activity.fullName }}</h2>
    <h3>{{ form.vars.value.period.fullName }} - {{ form.vars.value.period.columnName }}<br/><span
                class="small">{{ form.vars.value.period.startTime }} - {{ form.vars.value.period.endTime }}</span></h3>
    {{ form_start(form) }}
    <div>
        {{ closeButton()|raw }}
        {{ resetButton({'windowOpen': {'route': path('period_activity_edit', {'activity': app.request.get('activity')})}, 'title': 'form.refresh.button', 'transDomain': 'BusybeeHomeBundle'})|raw }}
        {{ saveButton()|raw }}
    </div>
    {{ form_row(form.space) }}
    {{ form_row(form.tutor1) }}
    {{ form_row(form.tutor2) }}
    {{ form_row(form.tutor3) }}
    {{ form_end(form) }}
{% endblock contentContainer %}


{% block javascripts %}
    {{ parent() }}
    {% include '@BusybeeForm/Scripts/fadeAlert.html.twig' %}
{% endblock javascripts %}

