{% trans_default_domain "BusybeeTimeTableBundle" %}
<script type="text/javascript">
    {% for name,col in form.columns %}
    $(".periodList_{{ name }}").collection({
        name_prefix: '{{ col.periods.vars.full_name }}',
        allow_up: false,
        allow_down: false,
        add: '<button title="{{ 'timetable.period.add.title'|trans }}" type="button" class="halflings halflings-plus-sign btn btn-primary" style="float: right;"></button>',
        remove: '<button title="{{ 'timetable.period.remove.title'|trans }}" type="button" class="halflings halflings-erase btn btn-warning" style="float: right;"></button>',
        add_at_the_end: true,
        before_remove: function (collection, element) {
            var source = $(element[0]).find('.PeriodIdentifier');
            var period = source.attr('period');
            var page = source.attr('page');
            var result = removePeriod(period, page);
            if (result === true)
                return true;
            return false;
        }
    });
    {% endfor %}

    function removePeriod(id, page) {
        if (id > 0) {
            var path = '{{ path('period_remove', {'id': '__id__', 'page': '__page__'}) }}';
            path = path.replace('__id__', id);
            path = path.replace('__page__', page);

            $.ajax({
                url: path,
                type: 'POST',
                async: false,
                success: function (data) {
                    if (data['status'] === 'success') {
                        $('.messageWindow').html(data['message']).fadeIn(5).fadeOut(3000);
                        return true;
                    } else if (data['status'] === 'error') {
                        $('.messageWindow').html(data['message']).fadeIn(5).fadeOut(3000);
                        return false;
                    } else if (data['status'] === 'warning') {
                        $('.messageWindow').html(data['message']).fadeIn(5).fadeOut(3000);
                        return false;
                    }
                }
            });
        }
        return true;
    }
</script>
