{# src/Busybee/SecurityBundle/Resources/views/Menu/security.html.twig #}

{% trans_default_domain "BusybeeHomeBundle" %}

<!--			<li><a href="{{ path('busybee_security_user_edit', {'id': '0'}) }}">{{ 'menu.site.security.edit'|trans }}</a></li>  -->
		
				<li class="dropdown-submenu">
					<a tabindex="0">{{ 'menu.site.security.user'|trans }}</a>
			
					<ul class="dropdown-menu">
						<li><a href="{{ path('busybee_security_user_edit', {'id': '0'}) }}">{{ 'menu.site.security.edit'|trans }}</a></li>
{% if is_granted('ROLE_ADMIN') %}
						<li><a href="{{ path("busybee_security_user_register") }}">{{ 'menu.site.security.register'|trans }}</a></li>
						<li><a href="{{ path("busybee_security_user_list") }}">{{ 'menu.site.security.list'|trans }}</a></li>
{% endif %}
<!--						<li class="dropdown-submenu">
							<a tabindex="0">Another sub action</a>
					
							<ul class="dropdown-menu">
								<li><a tabindex="0">Sub action</a></li>
								<li><a tabindex="0">Another sub action</a></li>
								<li><a tabindex="0">Something else here</a></li>
							</ul>
						</li> -->
						
<!--						<li><a tabindex="0">Something else here</a></li>
						<li class="disabled"><a tabindex="-1">Disabled action</a></li>
						<li class="dropdown-submenu">
							<a tabindex="0">Another action</a>
					
							<ul class="dropdown-menu">
								<li><a tabindex="0">Sub action</a></li>
								<li><a tabindex="0">Another sub action</a></li>
								<li><a tabindex="0">Something else here</a></li>
							</ul>
						</li> -->
						
						
					</ul>
				</li>
