{# src/General/SecurityBundle/Resources/views/Security/login_content.html.twig #}

{% trans_default_domain 'BusybeeSecurityBundle' %}

<div class="form_error container"></div>

<form action="{{ path("busybee_security_check") }}" method="post" class="{{ ajaxOn }}">
    {% set h3Content = miscButton({'windowOpen': {'route': path("busybee_security_resetting_request")}, 'transDomain': 'BusybeeSecurityBundle', 'class': 'btn btn-info halflings halflings-question-sign', 'title': 'security.login.forgot', 'type': 'button'}) %}
    {% set h3Content = h3Content ~ miscButton({'transDomain': 'BusybeeSecurityBundle', 'class': 'btn btn-success halflings halflings-log-in', 'title': 'security.login.submit', 'type': 'submit'}) %}
    {% include '@BusybeeHome/Page/panelStart.html.twig' with {'header': 'security.login.title', 'transDomain': 'BusybeeSecurityBundle'} %}
    <div id="form_body" class="container-fluid">
        <div class="row">
            <div class="well col-sm-6">
                <div class="form-group">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required
                           class="form-control"/>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                </div>
            </div>
            <div class="well col-sm-6">
                <div class="form-group">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="password" name="_password" required class="form-control"/>
                </div>
            </div>
        </div>
    </div>
    {% include '@BusybeeHome/Page/panelEnd.html.twig' %}
</form>	
