{# src/Busybee/PersonBundle/Resources/views/People/importMatch.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% block title %}{{ parent() }}{{ 'people.matchimport.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'people.matchimport.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'people.matchimport.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
	<div class="panel panel-primary busybee-panel">
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'people.matchimport.title'|trans}}</h3>
		</div>
		<div class="panel-body">
            {{ form_start(form) }}
            <div class="row">
                {% set value = 0 %}
                {% for field in form.fields %}
                    <div class="col-sm-6 well">
                        {{ form_row(field.source, {'value': value|trim}) }}
                        {% set value = value + 1 %}
                    </div>
                    <div class="col-sm-6 well">
                        {{ form_row(field.destination) }}
                    </div>
                {% endfor %}
                <div class="col-sm-8 well">
                    {{ form_row(form.file) }}
                    <div class="alert alert-info">
                        {{ 'people.matchimport.help.help'|trans }}
                    </div>
                </div>
                <div class="col-sm-4 well">
                    <div class="text-right form-group">
                        {{ form_widget(form.save) }}
                        {{ form_widget(form.return) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
		</div>
	</div>
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% include 'BusybeeHomeBundle:Scripts:fadeAlert.js.twig' %}
{% endblock javascripts %}

