{# src/Busybee/PersonBundle/Resources/views/People/importMatch.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% block title %}{{ parent() }}{{ 'people.matchimport.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'people.matchimport.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'people.matchimport.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
	<div class="panel panel-primary busybee-panel">
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'people.matchimport.title'|trans}}</h3>
		</div>
		<div class="panel-body">
            {{ form_start(form) }}
            {% set value = 0 %}
            {% for field in form.fields %}
                <div class="row">
                    <div class="col-sm-6 well">
                        {{ form_row(field.source, {'value': value|trim}) }}
                        {% set value = value + 1 %}
                    </div>
                    <div class="col-sm-6 well">
                        {{ form_row(field.destination, {'attr': {'class': 'optionLoader'}}) }}
                        <div id="{{ field.vars.id }}_options" style="display: none">
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-sm-8 well">
                    {{ form_row(form.file) }}
                    <div class="alert alert-info">
                        {{ 'people.matchimport.help.help'|trans }}
                    </div>
                </div>
                <div class="col-sm-4 well">
                    <div class="text-right form-group">
                        {{ form_widget(form.save) }}
                        {{ form_widget(form.return) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
		</div>
	</div>
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% include 'BusybeeHomeBundle:Scripts:fadeAlert.js.twig' %}
    <script>
        $(".optionLoader").change( function() {
            var id = $(this).attr('id');
            var label = $('#' + id + ' option:selected').text();
            var name = $(this).attr('name');

            id = id.replace('destination', 'options');

            if (label == 'phone.phoneNumber')
            {
                name = name.replace('destination', 'option');
                var content = '{% include 'BusybeePersonBundle:People:optionPhoneNumber.html.twig' %}';
                content = content.replace(/__id__/g, id.replace('options', 'option'));
                content = content.replace('__name__', name);
                $("#" + id).html(content);
                $("#" + id).show();
            }
            else if (label == 'person.dob') {
                name = name.replace('destination', 'option');
                var content = '{% include 'BusybeePersonBundle:People:optionDoB.html.twig' %}';
                content = content.replace(/__id__/g, id.replace('options', 'option'));
                content = content.replace('__name__', name);
                $("#" + id).html(content);
                $("#" + id).show();
            }
            else{
                $("#" + id).hide(1000);
                $("#" + id).html('&nbsp;');
            }
        });

    </script>
{% endblock javascripts %}

