{% trans_default_domain "BusybeeFamilyBundle" %}

{% block caregiver_label %}{% endblock %}
{% block caregiver_errors %}{% endblock %}

{% block caregiver_widget %}
    {% set panelStyle = 'default' %}
    {% set transDomain = 'BusybeeFamilyBundle' %}
    {% set header = 'family.caregiver.title' %}
    {% set family_id = form.parent.parent.vars.value.getId %}
    {% if family_id is empty %}
        {% set family_id = 'Add' %}
    {% endif %}
    {% set h3Content = cancelButton({'windowOpen': {'route': path('family_edit', {'id': family_id})}})|raw %}
    {% set h3Content = h3Content ~ saveButton()|raw %}
    {% include '@BusybeeHome/Page/panelStart.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 well">
                {{ form_row(form.person) }}
                {{ form_row(form.family) }}
                {{ form_row(form.contactPriority) }}
                <input name="family[careGiver][{{ form.vars.name }}][currentOrder]"
                       value="{{ form.contactPriority.vars.value }}" type="hidden"/>
            </div>
            <div class="col-sm-4 well">
                {{ form_row(form.relationship) }}
            </div>
            <div class="col-sm-offset-1 col-sm-3 collection-actions well">
				<span>
                    {% if form.person.vars.value is defined and form.person.vars.value > 0 %}
                        <button title="{{ 'family.caregiver.edit'|trans }}" style="float: right;" type="button"
                                class=" halflings halflings-edit btn btn-info"
                                onclick="window.open('{{ path('person_edit', {'id': form.person.vars.value}) }}','{{ 'family.caregiver.edit'|trans }}','width=1024,height=900')"></button>
                    {% endif %}
					<button title="{{ 'family.caregiver.remove'|trans }}" type="button"
                            class="collection-remove collection-action halflings halflings-erase btn btn-warning"
                            style="float: right;"></button>
					<button title="{{ 'family.caregiver.add'|trans }}" type="button"
                            class="halflings halflings-plus-sign btn btn-primary collection-add collection-action"
                            style="float: right;"></button>
				</span>
            </div>
        </div>
        <div class="row row-striped">
            <div class="col-sm-4">
                {{ form_row(form.emailContact) }}
            </div>
            <div class="col-sm-4">
                {{ form_row(form.smsContact) }}
            </div>
            <div class="col-sm-4">
                {{ form_row(form.phoneContact) }}
            </div>
        </div>
        <div class="row row-striped">
            <div class="col-sm-4">
                {{ form_row(form.mailContact) }}
            </div>
            <div class="col-sm-4">
                {{ form_row(form.newsletter) }}
            </div>
            <div class="col-sm-4">
                {{ form_row(form.reporting) }}
            </div>
        </div>
        <div class="row row-striped">
            <div class="col-sm-4">
                {{ form_row(form.finance) }}
            </div>
            <div class="col-sm-4">
                {{ form_row(form.pickUpAllowed) }}
            </div>
            <div class="col-sm-4">
                {{ form_row(form.emergencyOnly) }}
            </div>
        </div>
        <div class="row row-striped">
            <div class="col-sm-4 well">
                {{ form_row(form.vehicleRegistration) }}
            </div>
            <div class="col-sm-8 well">
                {{ form_row(form.comment) }}
            </div>
        </div>
    </div>
    {% include '@BusybeeHome/Page/panelEnd.html.twig' %}
{% endblock caregiver_widget %}