{# src/Busybee/FamilyBundle/Resources/views/Family/details.html.twig #}

{% trans_default_domain "BusybeeFamilyBundle" %}

{% form_theme form
	"BusybeeFormBundle:Template:jquery.collection.html.twig"
	"BusybeeFamilyBundle:Family:emergencyContactCollection.html.twig"
	"BusybeePersonBundle:Form:phoneCollection.html.twig"
	"BusybeeFormBundle:Template:bootstrap.html.twig"
%}

<div class="panel panel-primary busybee-panel">
	<div class="panel-heading">
		<h3 class="panel-title">{{ 'family.title.contacts'|trans}}
		<button title='{{ 'person.return'|trans}}' type="button" class="halflings halflings-hand-left btn btn-primary" onClick="window.open('{{ path('person_manage') }}','_self')" style="float: right"></button>
		{% if id != 'Add' %}
			<button title='{{ 'person.add.title'|trans}}' type="button" class="halflings halflings-plus-sign btn btn-primary" onClick="window.open('{{ path('person_edit', {'id': 'Add'}) }}','_self')" style="float: right"></button>
		{% endif %}
		<button title='{{ 'form.cancel'|trans({}, 'BusybeeHomeBundle') }}' type="button" onClick="location.href='{{ path('person_edit', {'id': id}) }}'" class="halflings halflings-remove-circle btn btn-info" style="float: right"></button>
		<button title='{{ 'form.save'|trans({}, 'BusybeeHomeBundle')}}' type="submit" class="halflings halflings-save btn btn-success" style="float: right"></button>
		</h3>
	</div>
	<div class="panel-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
					<div class="panel panel-info busybee-panel">
						<div class="panel-heading">
							<h3 class="panel-title">{{ form_label(form.phone) }}</h3>
						</div>
						<div class="panel-body">
							<p class="alert alert-warning">{{ 'phone.save'|trans({}, 'BusybeePersonBundle') }}</p>
							{{ form_widget(form.phone) }}
						</div>
					</div>
				</div>
{% do form.phone.setRendered %}
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-12 well">
							{{ form_row(form.careGiver1) }}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 well">
                            {{ form_row(form.careGiver2) }}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-info busybee-panel">
						<div class="panel-heading">
							<h3 class="panel-title">{{ form_label(form.emergencyContact) }}</h3>
						</div>
						<div class="panel-body">
							{% if form.emergencyContact.vars.attr.help is not empty %}
								<p class="alert alert-warning">{{ form.emergencyContact.vars.attr.help|trans }}</p>
							{% endif %}
                            {{ form_widget(form.emergencyContact) }}
							{% do form.emergencyContact.setRendered() %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


