{# src/Busybee/FamilyBundle/Resources/views/Family/people.html.twig #}

{% trans_default_domain "BusybeeFamilyBundle" %}

{% form_theme form
"BusybeeFormBundle:Template:bootstrap.html.twig"
	"BusybeeFormBundle:Template:jquery.collection.html.twig"
	"BusybeeFamilyBundle:Family:emergencyContactCollection.html.twig"
	"BusybeeFamilyBundle:Family:studentCollection.html.twig"
%}

<div class="panel panel-primary busybee-panel">
    {% include "BusybeeFamilyBundle:Family:panelHeader.html.twig" with {'header': 'family.title.people'} %}
	<div class="panel-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
					<div class="panel panel-info busybee-panel">
						<div class="panel-heading">
							<h3 class="panel-title">{{ form_label(form.students) }}</h3>
						</div>
						<div class="panel-body">
                            {% if form.students.vars.attr.help is not empty %}
								<p class="alert alert-warning">{{ form.students.vars.attr.help|trans }}</p>
                            {% endif %}
                            {{ form_widget(form.students) }}
                            {% do form.students.setRendered() %}
						</div>
					</div>
				</div>
				{% do form.phone.setRendered %}
				<div class="col-sm-6">
					<div class="panel panel-info busybee-panel">
						<div class="panel-heading">
							<h3 class="panel-title">{{ form_label(form.emergencyContact) }}</h3>
						</div>
						<div class="panel-body">
                            {% if form.emergencyContact.vars.attr.help is not empty %}
								<p class="alert alert-warning">{{ form.emergencyContact.vars.attr.help|trans }}</p>
                            {% endif %}
                            {{ form_widget(form.emergencyContact) }}
                            {% do form.emergencyContact.setRendered() %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


