{# src/Busybee/PersonBundle/Resources/views/Person/script.html.twig #}

{% trans_default_domain "BusybeeFamilyBundle" %}

<script type="text/javascript">
    $(".addPersonAddress").click(function () {

        window.open("{{ path('address_manage', {'id': 'Add'}) }}", "Address", "width=820,height=600");
    });

    $(".refreshPersonAddress").click(function () {
        $.ajax({
            url: "{{ path('address_fetch') }}",
            type: "POST",
            success: function (data) {
                var id1 = $("#family_address1").val();
                var id2 = $("#family_address2").val();
                $(".beeAddressList").empty();

                options = data.options; // Or whatever source information you're working with
                var label1 = "";
                var label2 = "";
                for (index = 0; index < options.length; ++index) {
                    option = options[index];

                    $(".beeAddressList").append('<option value=' + option.value + '>' + option.label + '</option>');

                    if (option.value == id1) {
                        label1 = option.label;
                    }
                    if (option.value == id2) {
                        label2 = option.label;
                    }
                }

                $("#family_address1_list").val(label1);
                $("#family_address2_list").val(label2)
            }
        })
    });

    $("#family_address1_list").on("autocompleteselect", function (event, ui) {
        event.preventDefault();
        var id = ui.item.value;
        var label = ui.item.label;
        $("#family_address1").val(id);
        $("#family_address1_list").val(label);
    });

    $("#family_address2_list").on("autocompleteselect", function (event, ui) {
        event.preventDefault();
        var id = ui.item.value;
        var label = ui.item.label;
        $("#family_address2").val(id);
        $("#family_address2_list").val(label);
    });

    $(document).ready(function () {
        $.ajax({
            url: '{{ path('address_fetch') }}',
            type: 'POST',
            success: function (data) {
                $('.beeAddressList').autocomplete({
                    source: data.options,
                    minLength: 2,
                    delay: 250,
                    disabled: false
                });
                var id1 = $("#family_address1").val();
                var id2 = $("#family_address2").val();

                options = data.options; // Or whatever source information you're working with
                var label1 = "";
                var label2 = "";
                for (index = 0; index < options.length; ++index) {
                    option = options[index];

                    if (option.value == id1) {
                        label1 = option.label;
                    }
                    if (option.value == id2) {
                        label2 = option.label;
                    }
                }

                $("#family_address1_list").val(label1);
                $("#family_address2_list").val(label2)
            }
        });

    });

    $("#erasePersonAddress1").click(function () {
        $("#family_address1").val("");
        $("#family_address1_list").val("{{ 'person.placeholder.address'|trans({}, 'BusybeePersonBundle') }}");
    });

    $("#erasePersonAddress2").click(function () {
        $("#family_address2").val("");
        $("#family_address2_list").val("{{ 'person.placeholder.address'|trans({}, 'BusybeePersonBundle') }}");
    });

    $("#family_address1_list").on("focus", function () {
        $("#family_address1_list").val("");
    });

    $("#family_address2_list").on("focus", function () {
        $("#family_address2_list").val("");
    });

    $(".phoneNumberList").collection({
        name_prefix: '{{ form.phone.vars.full_name }}',
        allow_up: false,
        allow_down: false,
        add: '<button title="{{ 'contact.phone.add'|trans({}, 'BusybeePersonBundle') }}" type="button" class="halflings halflings-plus-sign btn btn-primary" style="float: right;"></button>',
        remove: '<button title="{{ 'contact.phone.remove'|trans({}, 'BusybeePersonBundle') }}" type="button" class="halflings halflings-erase btn btn-warning" style="float: right;"></button>',
        add_at_the_end: true
    });

    $(".careGiverList").collection({
        name_prefix: '{{ form.careGiver.vars.full_name }}',
        allow_up: true,
        allow_down: true,
        add: '<button title="{{ 'family.caregiver.add'|trans }}" type="button" class="halflings halflings-plus-sign btn btn-primary" style="float: right;"></button>',
        remove: '<button title="{{ 'family.caregiver.remove'|trans }}" type="button" class="halflings halflings-erase btn btn-warning" style="float: right;"></button>',
        add_at_the_end: true,
        max: 6
    });

    $(".studentList").collection({
        name_prefix: '{{ form.students.vars.full_name }}',
        allow_up: true,
        allow_down: true,
        add: '<button title="{{ 'family.student.add'|trans }}" type="button" class="halflings halflings-plus-sign btn btn-primary" style="float: right;"></button>',
        remove: '<button title="{{ 'family.student.remove'|trans }}" type="button" class="halflings halflings-erase btn btn-warning" style="float: right;"></button>',
        add_at_the_end: true
    });


</script>