{% trans_default_domain "BusybeeFamilyBundle" %}


{% block student_label %}{% endblock %}
{% block student_errors %}{% endblock %}


{% block student_widget %}
    <div class="well familyStudent">
        <div class="row">
            <div class="col-sm-9">
                {{ form_row(form.person) }}
            </div>
            <div class="col-sm-3 collection-actions">
				<span>
                    {% if form.person.vars.value is defined and form.person.vars.value > 0 %}
                        <button title="{{ 'family.student.edit'|trans }}" style="float: right;" type="button"
                                class=" halflings halflings-edit btn btn-info"
                                onclick="window.open('{{ path('person_edit', {'id': form.person.vars.value}) }}','{{ 'family.student.edit'|trans }}','width=1024,height=900')"></button>
                    {% endif %}
					<button title="{{ 'family.student.remove'|trans }}" type="button"
                            class="collection-remove collection-action halflings halflings-erase btn btn-warning"
                            style="float: right;"></button>
					<button title="{{ 'family.student.add'|trans }}" type="button"
                            class="halflings halflings-plus-sign btn btn-primary collection-add collection-action"
                            style="float: right;"></button>
				</span>
            </div>
        </div>
    </div>
{% endblock student_widget %}