{% trans_default_domain "BusybeeTimeTableBundle" %}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% block title %}{{ parent() }}{{ 'timetable.daysassign.title'|trans() }}{% endblock title %}
{% block headerTitle %}{{ 'timetable.daysassign.title'|trans() }}{% endblock headerTitle %}
{% block headerLead %}{{ 'timetable.daysassign.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
    <div id="formTabs">
        <ul class="nav nav-tabs" role="tablist">
            {% for termName,term in year.terms %}
                <li role="presentation"><a href="#{{ termName|replace({' ': '_'}) }}" role="tab"
                                           data-toggle="tab">{{ termName }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            <div id="messageNotice"></div>
            {% set active = ' active' %}
            {% for termName,term in year.terms %}
                <div class="tab-pane{{ active }}" id="{{ termName|replace({' ': '_'}) }}">
                    {% include '@BusybeeTimeTable/Days/termTab.html.twig' %}
                </div>
                {% set active = '' %}
            {% endfor %}
        </div>
    </div>
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% include '@BusybeeHome/Scripts/fadeAlert.html.twig' %}
    {% set route = 'timetable_day_assignment' %}
    {% include '@BusybeeHome/Scripts/formTabSubmitScript.html.twig' %}
    {% include '@BusybeeTimeTable/Days/rotateToggleScript.html.twig' %}
{% endblock %}