{% trans_default_domain "BusybeeTimeTableBundle" %}

{% extends "@BusybeeTemplate/Default/template.html.twig" %}

{% form_theme form 'BusybeeTemplateBundle:Template:bootstrap.html.twig'
'@BusybeeTemplate/Template/jquery.collection.html.twig'
'BusybeeTimeTableBundle:Line:lineCollection.html.twig'
'@BusybeeTimeTable/Columns/columnCollection.html.twig'
'@BusybeeTimeTable/Days/dayCollection.html.twig' %}

{% block title %}{{ parent() }}{{ 'timetable.edit.title'|trans({'%name%': form.vars.value.getFullName}) }}{% endblock title %}
{% block headerTitle %}{{ 'timetable.edit.title'|trans({'%name%': form.vars.value.getFullName}) }}{% endblock headerTitle %}
{% block headerLead %}{{ 'timetable.edit.description'|trans }}{% endblock headerLead %}

{% block stylesheets %}
    {{ parent() }}
    {% include '@BusybeeTemplate/Toggle/style.html.twig' %}
{% endblock stylesheets %}

{% block contentContainer %}
    {{ all_form_errors(fullForm, "div", "alert alert-danger fadeAlert") }}
    {% block flashMessages %}
        {% include '@BusybeeTemplate/Default/flash.html.twig' with {'flashClass': 'fadeAlert', 'transDomain': 'BusybeeTimeTableBundle'} %}
    {% endblock flashMessages %}
    {{ form_start(form) }}
    {% set h3Content = returnButton({'windowOpen': {'route': path('timetable_manage')}}) %}
    {% if app.request.attributes.get('id') != 'Add' %}{% set h3Content = h3Content ~ addButton({'windowOpen': {'route': path('timetable_edit', {'id': 'Add'}) }}) %}{% endif %}
    {% set h3Content = h3Content ~ resetButton({'type': 'button', 'windowOpen': {'route': path('timetable_edit', {'id': app.request.get('id')})}}) %}
    {% if form.locked.vars.data %}
        {% set h3Content = h3Content ~ saveButton({additional: 'disabled'})|raw %}
    {% else %}
        {% set h3Content = h3Content ~ saveButton() %}
    {% endif %}
    {% set h3Content = h3Content ~ '<span style="float: right;">&nbsp;</span>' %}
    {% set h3Content = h3Content ~ miscButton({'javascript': {'function': 'resetColumnTimes', 'options': [app.request.get('id')]}, 'class': 'btn btn-danger halflings halflings-asterisk', 'title': 'column.resettime.title', 'transDomain': 'BusybeeTimeTableBundle'}) %}
    {% include '@BusybeeTemplate/Page/panelStart.html.twig' with {'header': 'timetable.edit.title', 'transDomain': 'BusybeeTimeTableBundle', 'panelParagraph': 'timetable.edit.description', 'name': form.vars.value.getFullName} %}
    <div class="container-fluid">
        {% if form.locked.vars.data %}
            <div class="row">
                <div class="col-sm-12 alert alert-danger">
                    {{ 'timetable.locked.true'|trans }}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6 well">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col-sm-3 well">
                        {{ form_row(form.nameShort) }}
                    </div>
                    <div class="col-sm-3 well">
                        {% set data = form.year.vars.value %}
                        {% if data is empty %}{% set data = form.year.vars.data %}{% endif %}
                        {{ form_row(form.year, {'value': data}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 well">
                        {{ form_row(form.locked) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="padding-right: inherit; padding-left: inherit;">
                        {% set h3Content = '' %}
                        {% include '@BusybeeTemplate/Page/panelStart.html.twig' with {'header': form.days.vars.label, 'transDomain': 'BusybeeTimeTableBundle', 'panelParagraph': form.days.vars.attr.help, 'panelStyle': 'info'} %}
                        {{ form_widget(form.days) }}
                        {% include '@BusybeeTemplate/Page/panelEnd.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12" style="padding-right: inherit; padding-left: inherit;">
                        {% set h3Content = '' %}
                        {% include '@BusybeeTemplate/Page/panelStart.html.twig' with {'header': form.columns.vars.label, 'transDomain': 'BusybeeTimeTableBundle', 'panelParagraph': form.columns.vars.attr.help, 'panelStyle': 'info'} %}
                        <div id="TimeTableColumns">
                            {{ form_widget(form.columns) }}
                        </div>
                        {% include '@BusybeeTemplate/Page/panelEnd.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include '@BusybeeTemplate/Page/panelEnd.html.twig' %}
    {{ form_end(form) }}
{% endblock contentContainer %}


{% block javascripts %}
    {{ parent() }}
    {% include '@BusybeeTemplate/Scripts/jquery.collection.js.html.twig' %}
    {% include '@BusybeeTimeTable/Columns/columnScript.html.twig' %}
    {% include '@BusybeeTimeTable/Days/dayScript.html.twig' %}
    {% include '@BusybeeTemplate/Toggle/script.html.twig' %}
    {% include '@BusybeeTemplate/Scripts/fadeAlert.html.twig' %}
{% endblock javascripts %}