{# src/Busybee/TimeTableBundle/Resources/views/TimeTable/list.html.twig #}

{% trans_default_domain "BusybeeTimeTableBundle" %}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% block title %}{{ 'timetable.list.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'timetable.list.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{% endblock headerLead %}

{% block contentContainer %}
    {% include 'PaginationBundle:Default:index.html.twig' %}
    {% set h3Content = addButton({'title': 'timetable.add.title', 'transDomain': 'BusybeeTimeTableBundle', 'windowOpen': {'route': path('timetable_edit', {'id': 'Add', 'currentSearch': pagination.search|replace({'%': ''})})}}) %}
    {% include '@BusybeeHome/Page/panelStart.html.twig' with {'header': 'timetable.list.title', 'transDomain': 'BusybeeTimeTableBundle', 'panelParagraph': 'timetable.list.description'} %}
    <div class="container-fluid well">
        <div class="row row-header">
            <div class="col-sm-3" style="display: inline-block;">
                {% if pagination.getSortByName == 'Name' %}
                    <span class="halflings halflings-sort-by-alphabet"></span> {{ 'timetable.label.name'|trans }}
                {% else %}
                    {{ 'timetable.label.name'|trans }}
                {% endif %}
            </div>
            <div class="col-sm-2" style="display: inline-block;">
                {% if pagination.getSortByName == 'Short Name' %}
                    <span class="halflings halflings-sort-by-alphabet"></span> {{ 'timetable.label.nameShort'|trans }}
                {% else %}
                    {{ 'timetable.label.nameShort'|trans }}
                {% endif %}
            </div>
            <div class="col-sm-2 form-inline">
                {{ 'timetable.label.year'|trans }}
            </div>
            <div class="col-sm-2 col-sm-offset-1 withAdd">
                {{ 'actions'|trans({}, 'BusybeeHomeBundle') }}
            </div>
        </div>
        {% for timetable in pagination.getResult %}
            <div class="row row-striped">
                <div class="col-sm-3 form-inline">
                    {{ timetable.name }}
                </div>
                <div class="col-sm-2 form-inline">
                    {{ timetable.nameShort }}
                </div>
                <div class="col-sm-2 form-inline">
                    {{ timetable.year }}
                </div>
                <div class="col-sm-2 col-sm-offset-1 form-inline">
                    {{ editButton({'style': '', 'class': 'halflings halflings-edit btn btn-warning','title': 'timetable.edit.title', 'transDomain': 'BusybeeTimeTableBundle', 'windowOpen': {'route': path('timetable_edit', {'id': timetable.id, 'currentSearch': pagination.search|replace({'%': ''})})}})|raw }}
                    {{ editButton({'style': '', 'class': 'halflings halflings-asterisk btn btn-warning','title': 'timetable.days.edit.button', 'transDomain': 'BusybeeTimeTableBundle', 'windowOpen': {'route': path('timetable_days_edit', {'id': timetable.id, 'currentSearch': pagination.search|replace({'%': ''})})}})|raw }}
                </div>
            </div>
        {% endfor %}
    </div>
    {% include '@BusybeeHome/Page/panelEnd.html.twig' %}
{% endblock contentContainer %}
