{# src/Busybee/InstituteBundle/Resources/views/CampusresourceEdit.html.twig #}

{% trans_default_domain "BusybeeInstituteBundle" %}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% block title %}{{ parent() }}{{ 'homeroom.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'homeroom.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'homeroom.description'|trans }}{% endblock headerLead %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'BusybeeHomeBundle:Toggle:style.html.twig' %}
{% endblock %}

{% block contentContainer %}
    {{ form_start(form, {'attr': {'id': 'homeroom'}}) }}
    {% set h3Content = returnButton({'windowOpen': {'route': path('home_room_manage')}}) %}
    {% if app.request.attributes.get('id') != 'Add' %}{% set h3Content = h3Content ~ addButton({'windowOpen': {'route': path('home_room_edit', {'id': 'Add'})}}) %}{% endif %}
    {% set h3Content = h3Content ~ resetButton() %}
    {% set h3Content = h3Content ~ saveButton() %}
    {% set h3Content = h3Content ~ form_widget(form.changeRecord, {'value': app.request.attributes.get('id')}) %}
    {% include '@BusybeeHome/Page/panelStart.html.twig' with {'header': 'homeroom.edit.title', 'transDomain': 'BusybeeInstituteBundle'} %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 col-md-4 well">
                {{ form_row(form.name) }}
			</div>
			<div class="col-sm-4 col-md-4 well">
                {{ form_row(form.nameShort) }}
			</div>
			<div class="col-sm-4 col-md-4 well">
                {% if form.campusResource.vars.value is empty %}
                    {% set data = form.campusResource.vars.data %}
                {% else %}
                    {% set data = form.campusResource.vars.value  %}
                {% endif %}
                {{ form_row(form.campusResource, {'value': data }) }}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-4 well">
				{% if form.tutor1.vars.value is empty %}
					{% set data = form.tutor1.vars.data %}
				{% else %}
					{% set data = form.tutor1.vars.value  %}
				{% endif %}
                {{ form_row(form.tutor1, {'value': data }) }}
			</div>
			<div class="col-sm-4 col-md-4 well">
                {% if form.tutor2.vars.value is empty %}
                    {% set data = form.tutor2.vars.data %}
                {% else %}
                    {% set data = form.tutor2.vars.value  %}
                {% endif %}
                {{ form_row(form.tutor2, {'value': data }) }}
			</div>
			<div class="col-sm-4 col-md-4 well">
                {% if form.tutor3.vars.value is empty %}
                    {% set data = form.tutor3.vars.data %}
                {% else %}
                    {% set data = form.tutor3.vars.value  %}
                {% endif %}
                {{ form_row(form.tutor3, {'value': data }) }}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-4 well">
                {% if form.schoolYear.vars.value is empty %}
                    {% set data = form.schoolYear.vars.data %}
                {% else %}
                    {% set data = form.schoolYear.vars.value  %}
                {% endif %}
                {{ form_row(form.schoolYear, {'value': data }) }}
			</div>
			<div class="col-sm-4 col-md-4 well">
				{{ form_row(form.website) }}
 			</div>
			<div class="col-sm-4 col-md-4">
			</div>
		</div>
	</div>
</div>
{{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% include 'BusybeeHomeBundle:Toggle:script.html.twig' %}
	<script>
        $('.monitorChange').change(function($e) {
            $('.formChanged').prop('disabled', true);
        });
        $('.changeRecord').change(function($e) {
            var path = '{{ path('home_room_edit', {'id': '__id__'}) }}';
            var id = $(this).val();
            if (!id) id = 'Add';
            window.open(path.replace('__id__', id), '_self');
        });
        $('#resetButton').click(function () {
            $("#homeroom").trigger('reset');
            $('.formChanged').prop('disabled', false);
        });
	</script>
{% endblock javascripts %}