{# src/Busybee/TimeTableBundle/Resources/views/TimeTable/list.html.twig #}

{% trans_default_domain "BusybeeTimeTableBundle" %}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% block title %}{{ 'activitygroups.title.list'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'activitygroups.title.list'|trans }}{% endblock headerTitle %}
{% block headerLead %}{% endblock headerLead %}

{% block contentContainer %}
    {% include 'PaginationBundle:Default:index.html.twig' %}
    {% set h3Content = addButton({'title': 'activitygroups.title.add', 'transDomain': 'BusybeeTimeTableBundle', 'windowOpen': {'route': path('activity_group_manage', {'id': 'Add', 'currentSearch': pagination.search|replace({'%': ''})})}}) %}
    {% include '@BusybeeHome/Page/panelStart.html.twig' with {'header': 'activitygroups.title.list', 'transDomain': 'BusybeeTimeTableBundle'} %}
    <div class="container-fluid well">
        <div class="row row-header">
            <div class="col-sm-3" style="display: inline-block;">
                {% if pagination.getSortByName == 'Name' %}
                    <span class="halflings halflings-sort-by-alphabet"></span> {{ 'activitygroups.label.name'|trans }}
                {% else %}
                    {{ 'activitygroups.label.name'|trans }}
                {% endif %}
            </div>
            <div class="col-sm-3" style="display: inline-block;">
                {% if pagination.getSortByName == 'Short Name' %}
                    <span class="halflings halflings-sort-by-alphabet"></span> {{ 'activitygroups.label.nameShort'|trans }}
                {% else %}
                    {{ 'activitygroups.label.nameShort'|trans }}
                {% endif %}
            </div>
            <div class="col-sm-3 form-inline">
                {% if pagination.getSortByName == 'Course' %}
                    <span class="halflings halflings-sort-by-alphabet"></span> {{ 'activitygroups.label.course'|trans }}
                {% else %}
                    {{ 'activitygroups.label.course'|trans }}
                {% endif %}
            </div>
            <div class="col-sm-3 withAdd">
                {{ 'actions'|trans({}, 'BusybeeHomeBundle') }}
            </div>
        </div>
        {% for timetable in pagination.getResult %}
            <div class="row row-striped">
                <div class="col-sm-3 form-inline">
                    {{ timetable.name }}
                </div>
                <div class="col-sm-3 form-inline">
                    {{ timetable.nameShort }}
                </div>
                <div class="col-sm-3 form-inline">
                    {{ timetable.course }}
                </div>
                <div class="col-sm-3 form-inline">
                    {{ editButton({'style': '', 'title': 'activitygroups.title.edit', 'transDomain': 'BusybeeTimeTableBundle', 'windowOpen': {'route': path('activity_group_manage', {'id': timetable.id, 'currentSearch': pagination.getSearchProperty()})}})|raw }}
                </div>
            </div>
        {% endfor %}
    </div>
    {% include '@BusybeeHome/Page/panelEnd.html.twig' %}
{% endblock contentContainer %}
