{% trans_default_domain 'BusybeeHomeBundle' %}

{% for name,version in versions %}
    {% if version['value'] is not defined %}
        {% set show = 1 %}
        <div class="row row-striped acknowledgement">
            <div class="col-sm-12">
                {% for vName,value in version %}
                    <div class="row row-hover">
                        <div class="col-sm-3">
                            {% if show == 1 %}
                                {{ name }}
                            {% endif %}
                            {% set show = 0 %}
                        </div>
                        <div class="col-sm-3">
                            {{ vName }}
                        </div>
                        <div class="col-sm-6{% if value['flag'] %} {{ value['flag'] }}{% endif %}">
                            {{ value['value'] }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="row row-striped row-hover acknowledgement">
            <div class="col-sm-3">
                {{ name }}
            </div>
            <div class="col-sm-offset-3 col-sm-6{% if version['flag'] %} {{ version['flag'] }}{% endif %}">
                {{ version['value'] }}
            </div>
        </div>
    {% endif %}
{% endfor %}
<P>&nbsp;</P>
<p class="alert alert-success">{{ 'acknowledgement.help.equal'|trans }}</p>
<p class="alert alert-info">{{ 'acknowledgement.help.over'|trans }}</p>
<p class="alert alert-warning">{{ 'acknowledgement.help.upgrade'|trans }}</p>
<p class="alert alert-danger">{{ 'acknowledgement.help.fixnow'|trans }}</p>

