{% trans_default_domain "BusybeeInstituteBundle" %}

{% extends "@BusybeeTemplate/Default/template.html.twig" %}

{% form_theme form
"@BusybeeTemplate/Template/bootstrap.html.twig"
"@BusybeeTemplate/Template/jquery.collection.html.twig"
'@BusybeeInstitute/Department/staffCollection.html.twig'
'@BusybeeInstitute/Department/courseCollection.html.twig' %}

{% block title %}{{ 'department.edit.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'department.edit.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'department.edit.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
    {{ all_form_errors(fullForm, "div", "alert alert-danger fadeAlert") }}
    {{ form_start(form) }}
    {% set h3Content = '' %}
    {% set h3Content = h3Content ~ resetButton({'windowOpen': {'route': path('department_edit', {'id': app.request.get('id')})}})|raw %}
    {% set h3Content = h3Content ~ saveButton()|raw %}
    {% set h3Content = h3Content ~ form_widget(form.departmentList, {'value': app.request.attributes.get('id')}) %}
    {% include '@BusybeeTemplate/Page/panelStart.html.twig' with {'header': 'department.edit.title', 'transDomain': 'BusybeeInstituteBundle', 'panelParagraph': ''} %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 well">
                <div class="row">
                    <div class="col-sm-12 well">
                        {{ form_row(form.name) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 well">
                        {{ form_row(form.nameShort) }}
                    </div>
                    <div class="col-sm-6 well">
                        {{ form_row(form.type) }}
                    </div>
                </div>
                {% if form.courses is defined %}
                    <div class="row">
                        <div class="col-sm-12 well">
                            {% set h3Content = '' %}
                            {% include '@BusybeeTemplate/Page/panelStart.html.twig' with {'header': 'department.course.title', 'transDomain': 'BusybeeInstituteBundle', 'panelParagraph': form.courses.vars.attr.help, 'panelStyle': 'info'} %}
                            {% for error in form.courses.parent.vars.errors %}
                                {% set printMe = error.messageTemplate|replace({'department.course.unique': 'print_me'}) %}
                                {% if printMe == 'print_me' %}
                                    <p class="alert alert-danger"><span
                                                class="glyphicons glyphicons-exclamation-sign"></span>{{ error.message }}
                                    </p>
                                {% endif %}
                            {% endfor %}
                            {{ form_widget(form.courses) }}
                            {% include '@BusybeeTemplate/Page/panelEnd.html.twig' %}
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if form.staff is defined %}
                <div class="col-sm-6 well">
                    {% set h3Content = '' %}
                    {% include '@BusybeeTemplate/Page/panelStart.html.twig' with {'header': 'department.staff.title', 'transDomain': 'BusybeeInstituteBundle', 'panelParagraph': form.staff.vars.attr.help, 'panelStyle': 'info'} %}
                    <div class="staffMessage"></div>
                    {% for error in form.staff.parent.vars.errors %}
                        {% set printMe = error.messageTemplate|replace({'department.staff.uniquestaff': 'print_me'}) %}
                        {% if printMe == 'print_me' %}
                            <p class="alert alert-danger"><span
                                        class="glyphicons glyphicons-exclamation-sign"></span>{{ error.message }}</p>
                        {% endif %}
                    {% endfor %}
                    {{ form_widget(form.staff) }}
                    {% include '@BusybeeTemplate/Page/panelEnd.html.twig' %}
                </div>
            {% endif %}
        </div>
    </div>
    {% include '@BusybeeTemplate/Page/panelEnd.html.twig' %}
    {{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% set route = 'department_edit' %}
    {% include '@BusybeeTemplate/Scripts/monitorForm.html.twig' %}
    {% include '@BusybeeTemplate/Scripts/fadeAlert.html.twig' %}
    {% include '@BusybeeTemplate/Scripts/jquery.collection.js.html.twig' %}
    {% include '@BusybeeInstitute/Department/staffCollection.js.html.twig' %}
    {% if form.courses is defined %}
        {% include '@BusybeeInstitute/Department/courseCollection.js.html.twig' %}
    {% endif %}
{% endblock javascripts %}
