{% trans_default_domain "BusybeeCalendarBundle" %}

{% block calendar_group_label %}{% endblock %}
{% block calendar_group_errors %}{% endblock %}

{% block calendar_group_widget %}
    {% spaceless %}
        {% if form.nameShort.vars.value is empty %}{% set gradeTitle = 'calendar.group.add.title'|trans %}{% else %}{% set gradeTitle = get_setting('student.groups._flip')[form.nameShort.vars.value] %}{% endif %}
        {% set h3Content = '<div class="collection-actions collection-panel">' %}
        {% if manager.isStudentInstalled and value is not null %}
        {% endif %}
        {% set h3Content = h3Content ~ deleteButton({title: 'calendar.group.remove.title', transDomain: 'BusybeeCalendarBundle', class: 'halflings halflings-erase btn btn-warning collection-remove collection-action', style: 'float: right;'}) %}
        {% set h3Content = h3Content ~ saveButton() %}
        {% set h3Content = h3Content ~ '<span style="float: right;">&nbsp;</span>' %}
        {% set h3Content = h3Content ~ upDownButton()|raw %}
        {% set h3Content = h3Content ~ '</div>' %}
        {% include '@BusybeeTemplate/Page/panelStart.html.twig' with {header: gradeTitle, panelStyle: 'info'} %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 well">
            {{ form_row(form.nameShort) }}
            {{ form_row(form.sequence) }}
            {{ form_row(form.year, {'value': app.request.get('id') }) }}
            {{ form_row(form.name) }}
        </div>
    </div>
    {% if form.nameShort.vars.value is not empty and manager.isStudentInstalled %}
        <div class="row">
            <div class="col-sm-12 well well-info">
                <div>{{ editButton({title: 'calendar.group.manage.label', transDomain: 'BusybeeStudentBundle', windowOpen: {route: path('student_add_to_calendar_group', {id: value.id})}})|raw }}

                    {{ 'calendar.group.students.count'|trans({'%{count}': form.vars.value.students.count}) }}</div>
            </div>
        </div>
    {% endif %}
</div>
{% include '@BusybeeTemplate/Page/panelEnd.html.twig' %}
    {% endspaceless %}
{% endblock calendar_group_widget %}
