{# src/General/SecurityBundle/Resources/views/layout.html.twig #}
{% extends "BusybeeHomeBundle:Bootstrap:jumbotron-narrow.html.twig" %}

{% trans_default_domain 'BusybeeSecurityBundle' %}

{% block title %}{{ parent() }}{% endblock title %}

{% block container %}

<div class="container">
	
{% block menuBar %}
<div class="header clearfix">
	<nav>
		<ul class="nav nav-pills pull-right">




	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users<span class="caret"></span></a>
		<ul class="dropdown-menu">
			{% if is_granted('ROLE_USER') %}<li><a href="{{ path("busybee_security_user_edit") }}">Update User: {{ app.user.username }}</a></li> {% endif %}
			{% if is_granted('ROLE_ADMIN') %}<li><a href="{{ path("busybee_security_user_register") }}">Register</a></li>{% endif %}
			{% if is_granted('ROLE_PREVIOUS_ADMIN') %}
				<li><a href="{{ path('home_page', {'_switch_user': '_exit'}) }}">Exit impersonation</a></li>
				<li><a href="{{ path("busybee_security_user_reset_request") }}">Reset Password</a></li>
			{% else %}
				{% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
					<li><a href="{{ path("busybee_switch_user_impersonate") }}">Impersonate</a></li>
				{% endif %}
			{% endif %} 
		</ul>
	</li>

{% if is_granted('ROLE_SYSTEM_ADMIN') %}
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Roles<span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="{{ path("busybee_security_role_add") }}">New Role</a></li>
			<li><a href="{{ path("busybee_security_role_list") }}">List Roles</a></li>
		</ul>
	</li> 
{% endif %}

	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Groups<span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="{{ path("busybee_security_group_list") }}">List Groups</a></li> 
			<li><a href="{{ path("busybee_security_group_new") }}">New Group</a></li>
		</ul>
	</li> 
			


 


		</ul>
	</nav>
	<h3 class="text-muted"><a href="{{ path('home_page') }}">{% block projectname %}Busybee{% endblock projectname %}</a></h3>
</div>
{% endblock menuBar %}

{% block titleBlock %}
<div class="jumbotron">
	<h1>Replace Me {{ _self.getTemplateName() }}</h1>
</div>
{% endblock titleBlock %}

{% block flashMessages %}
	{% if app.request.hasPreviousSession %}
		{% for type, messages in app.session.flashbag.all() %}
			{% for message in messages %}

<div class="row marketing">
	<div class="col-lg-12">
		<div class="alert alert-{{ type }}">
			{{ message }}
		</div>
	</div>
</div>

			{% endfor %}
		{% endfor %}
	{% endif %}
{% endblock flashMessages %}

	{% block SecurityBundleContent %}<p>Replace this: src/General/SecurityBundle/Resources/views/layout.html.twig</p>{% endblock SecurityBundleContent %}
	
	
</div> <!-- /container -->

{% endblock container  %}
