{# src/Busybee/SystemBundle/Resources/views/Setting/edit.html.twig #}
{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% trans_default_domain 'BusybeeSystemBundle' %}

{% block title %}Busybee - {{ 'system.setting.edit.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'system.setting.edit.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'system.setting.edit.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
{{ form_start(form) }}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 alert alert-warning">
			{{ 'system.setting.warning'|trans }}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 well">
			{{ form_row(form.description) }}
		</div>
		<div class="col-sm-6 well">
			{{ form_row(form.value) }}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 well">
			{{ form_row(form.name) }}
		</div>
		<div class="col-sm-6 well">
			<div class="text-right form-group">
				{{ form_widget(form.save) }}
				{{ form_widget(form.cancel) }}
			</div>
		</div>
	</div>
</div>
{{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/bootstrap-checkbox.min.js') }}"></script>
	<script type="text/javascript">
		$('.yes-no').checkboxpicker({
			iconCls: 'glyphicons'
		});
	</script>
{% endblock javascripts %}