{# src/General/SystemBundle/Resources/views/Setting/upload.html.twig #}
{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% trans_default_domain 'SystemBundle' %}


{% block title %}{{ 'system.upload.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'system.upload.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'system.upload.description'|trans }}{% endblock headerLead %}

{% block stylesheets %}
    {{ parent() }}
    {% include '@BusybeeHome/Toggle/style.html.twig' %}
{% endblock %}

{% block contentContainer %}
    {% block flashMessages %}{% endblock %}
	{{ form_start(form) }}
    {% set header = 'system.upload.title' %}
    {% set transDomain = 'SystemBundle' %}
    {% set h3Content = uploadButton() %}
    {% include '@BusybeeHome/Page/panelStart.html.twig' %}
	<div class="container-fluid">
        {% include '@BusybeeHome/Default/flash.html.twig' with {'flashClass': 'fadeAlert', 'transDomain': 'SystemBundle'} %}
		<div class="row">
			<div class="col-sm-6 well">
                {{ form_row(form.default) }}
			</div>
			<div class="col-sm-6 well">
                {{ form_row(form.file) }}
			</div>
		</div>
	</div>
    {% include '@BusybeeHome/Page/panelEnd.html.twig' %}
	{{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% include '@BusybeeHome/Scripts/fadeAlert.js.twig' %}
    {% include '@BusybeeHome/Toggle/script.html.twig' %}
{% endblock %}


