{# src/General/SecurityBundle/Resources/views/User/edit.html.twig #}
{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% form_theme form "BusybeeFormBundle:Template:bootstrap.html.twig" %}

{% trans_default_domain 'BusybeeSecurityBundle' %}

{% block title %}Busybee - {{ 'user.edit.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'user.edit.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'user.edit.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
{{ form_start(form) }}
	<div id="form_body" class="container-fluid">
		{% include "BusybeeSecurityBundle:User:edit_content.html.twig" %}
	</div>
{{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
{{parent() }}
	{% set initialise = "$('.yes-no').checkboxpicker({
			iconCls: 'glyphicons'
		});" %}
	{% include "BusybeeHomeBundle:Form:initAjaxForm.html.twig" %}
	<script type="text/javascript" src="{{ asset('js/bootstrap-checkbox.min.js') }}"></script>
	<script type="text/javascript">
		$('.yes-no').checkboxpicker({
			iconCls: 'glyphicons'
		});
	</script>
{% endblock javascripts %}