{# src/General/SecurityBundle/Resources/views/User/edit.html.twig #}
{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% form_theme form "BusybeeFormBundle:Template:bootstrap.html.twig" %}

{% trans_default_domain 'BusybeeSecurityBundle' %}
{% block stylesheets %}
    {{ parent() }}
    {% include 'BusybeeHomeBundle:Toggle:style.html.twig' %}
{% endblock stylesheets %}


{% block title %}Busybee - {{ 'user.edit.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'user.edit.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'user.edit.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
    {% set header = 'user.edit.title' %}
    {% set transDomain = 'BusybeeSecurityBundle' %}
    {% set h3Content = '' %}
    {% set path = "window.open('{{ path('home_page') }}','_self')" %}
    {% set h3Content = h3Content ~ cancelButton({'additional': 'onClick="{{ path }}"'})|raw %}
    {% set h3Content = h3Content ~ saveButton()|raw %}

{{ form_start(form) }}
    {% include 'BusybeeHomeBundle:Page:panelStart.html.twig' %}

	<div id="form_body" class="container-fluid">
		{% include "BusybeeSecurityBundle:User:edit_content.html.twig" %}
	</div>
    {% include 'BusybeeHomeBundle:Page:panelEnd.html.twig' %}
{{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
	{{parent() }}
    {% include 'BusybeeHomeBundle:Toggle:script.html.twig' %}
    {% include "BusybeeHomeBundle:Form:initAjaxForm.html.twig" %}
{% endblock javascripts %}