{# src/General/SecurityBundle/Resources/views/User/list.html.twig #}
{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% trans_default_domain 'BusybeeSecurityBundle' %}

{% block stylesheets %}
{{ parent() }}
	<link href="{{ asset('css/glyphicons.css') }}" type="text/css" rel="stylesheet" />
	<link href="{{ asset('css/glyphicons-halflings.css') }}" type="text/css" rel="stylesheet" />
    {% include 'BusybeeHomeBundle:Toggle:style.html.twig' %}
{% endblock stylesheets %}

{% block title %}Busybee - {{ 'user.list.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'user.list.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'user.list.description'|trans }}{% endblock headerLead %}

{% set header = 'user.list.title' %}
{% set transDomain = 'BusybeeSecurityBundle' %}

{% block contentContainer %}
	{% include 'PaginationBundle:Default:index.html.twig' %}
    {% include '@BusybeeHome/Page/panelStart.html.twig' %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12" id="result">
			</div>
		</div>
	</div>
	<div class="container-fluid well">
		<div class="row row-header">
			<div class="col-sm-3 col-md-3" style="display: inline-block;">
				{% if pagination.getSortByName == 'User Name' %}
					<span class="halflings halflings-sort-by-alphabet"></span> {{ 'user.list.username'|trans }}
				{% else %}
					{{ 'user.list.username'|trans }}
				{% endif %}
			</div>
			<div class="col-md-5 hidden-sm hidden-xs" style="display: inline-block;">
				{% if pagination.getSortByName == 'Email' %}
					<span class="halflings halflings-sort-by-alphabet"></span> {{ 'user.list.email'|trans }}
				{% else %}
					{{ 'user.list.email'|trans }}
				{% endif %}
			</div>
			<div class="col-sm-4 col-md-2">
				{{ 'user.list.enabled'|trans }}
			</div>
			<div class="col-sm-5 col-md-2">
				{{ 'user.list.actions'|trans }}
			</div>
		</div>
	{% for user in pagination.getResult %}
		<div class="row row-striped">
			<div class="col-sm-3 col-md-3 form-inline">
				{{ user.username }}
			</div>
			<div class="col-md-5 hidden-sm hidden-xs">
				{{ user.email }}
			</div>
			<div class="col-sm-4 col-md-2">
				<input type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="success"
					   data-offstyle="danger" data-on="<span class='halflings halflings-thumbs-up'></span>"
					   data-off="<span class='halflings halflings-thumbs-down'></span>" class="yes-no"
					   value="{{ user.getId }}" {% if user.getEnabled %}checked{% endif %} />
			</div>
			<div class="col-sm-5 col-md-2">
				<button title='{{ 'user.edit.title'|trans}}' type="button" class="halflings halflings-edit btn btn-warning" onClick="window.open('{{ path('security_user_edit', {'id': user.getId}) }}','_self')"></button>
				{% if app.user.getId != user.getId and user.getEnabled %}
					<button title='{{ 'security.impersonate.title'|trans}}' type="button" class="glyphicons glyphicons-theater btn btn-warning" style="margin: 1px 0 0 0 ; padding: 0 4px;" onClick="window.open('{{ path('home_page') }}?_switch_user={{ user.username }}','_self')"></button>
				{% else %}
					<button title='{{ 'security.impersonate.title'|trans}}' type="button" class="glyphicons glyphicons-theater btn btn-default" style="margin: 1px 0 0 0 ; padding: 0 4px;" onClick="window.open('{{ path('home_page') }}?_switch_user={{ user.username }}','_self')" disabled></button>
				{% endif %}
				<button title='{{ 'user.reset.title'|trans}}' type="button" class="glyphicons glyphicons-user-key btn btn-warning" style="margin: 1px 0 0 0 ; padding: 0 4px;" onClick="window.open('{{ path('security_user_reset_request', {'id': user.getId}) }}','_self')"></button>
			</div>
		</div>
	{% endfor %}
	</div>
    {% include '@BusybeeHome/Page/panelEnd.html.twig' %}
{% endblock contentContainer %}


{% block javascripts %}
	{{ parent() }}
    {% include 'BusybeeHomeBundle:Toggle:script.html.twig' %}
	<script type="text/javascript">
		$('.yes-no').change(function(e) {
		    var path = "{{ path('user_toggle_enabled', {'id': '__id__'}) }}";
		    path = path.replace("__id__", this.value);
			$.ajax({
				url: path,
				type: "POST",
				async: false,
				datatype: 'json',
				success: function(data){
					$("#result").stop().hide();           
					$('#result').html(data.message);   
					$("#result").removeClass().addClass('col-sm-12 alert alert-' + data.status);
					$("#result").fadeIn(20);           
					$("#result").fadeOut(3000);           
				},
				error:function(){
					$("#result").stop().hide();           
					$("#result").html('{{ 'There was an error updating the settings'|trans }}');
					$("#result").removeClass().addClass('col-sm-12 alert alert-danger');
					$("#result").fadeIn(20);
					$("#result").fadeOut(3000);           
				}   
			}); 
		});
	</script>
{% endblock javascripts %}
