{# src/General/SecurityBundle/Resources/views/User/register.html.twig #}
{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% trans_default_domain 'BusybeeSecurityBundle' %}

{% form_theme form "BusybeeFormBundle:Template:bootstrap.html.twig" %}

{% block stylesheets %}
{{ parent() }}
{% endblock stylesheets %}

{% block title %}{{ parent() }}{{ 'user.registration.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'user.registration.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'user.registration.description'|trans }}{% endblock headerLead %}


{% block contentContainer %}
<div class="form_error"></div>
{{ form_start(form) }}
	<div id="form_body" class="container-fluid">
		{% include "BusybeeSecurityBundle:User:register_content.html.twig" %}
	</div>
{{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/bootstrap-checkbox.min.js') }}"></script>
	{% set initialise = "$('.yes-no').checkboxpicker({
			iconCls: 'glyphicons'
		});" %}
	{% include "BusybeeHomeBundle:Form:initAjaxForm.html.twig" %}

	<script type="text/javascript">
		$(document).on('click', '#generatePassword', function(){
			$('input[name="password1"]').val('{{ password.text|raw }}');
			$('input[name="password1"]').get(0).type = "text";
			$('input[name="password1"]').blur(function() {
				$('input[name="password1"]').get(0).type = "password";
			});
			$('input[name="password2"]').val('{{ password.text|raw }}');
			alert("{{ 'misc.password1.copy'|trans ({}, 'BusybeeSystemBundle') }}" + "\n\n" + "{{ password.text|raw }}") ;
		});
	</script>
	<script type="text/javascript">
		$('.yes-no').checkboxpicker({
			iconCls: 'glyphicons'
		});
	</script>
{% endblock javascripts %}