{# src/General/SecurityBundle/Resources/views/User/request_content.html.twig #}
{% trans_default_domain 'BusybeeSecurityBundle' %}



<div class="row marketing">
	<div class="col-sm-12">
		<form action="{{ path('busybee_security_user_reset_send_email') }}" method="POST" class="busybee_security_user_reset_request">
		<div class="form-group well">
			{% if invalid_username is defined %}
				<p>{{ 'security.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
			{% endif %}
			<p><label for="username">{{ 'security.request.username'|trans }}</label>
				<input type="text" id="username" name="username" required="required"{% if email is defined %} value="{{ email }}" {% endif %} /></p>
		</div>

		<div class="form-group well text-center">
			<input type="submit" value="{{ 'security.request.submit'|trans }}" class="btn btn-success" />
		</div>
		</form>
	</div>
</div>