{% trans_default_domain 'BusybeeSecurityBundle' %}


{{ form_start(form) }}
	<div id="form_body" class="container-fluid">
		<div class="row">
			<div class="col-sm-6 well">
					{{form_row(form.plainPassword.first) }}
			</div>
			<div class="col-sm-6 well">
					{{form_row(form.plainPassword.second) }}
			</div>
		</div>
		<div class="row ">
			<div class="col-sm-6 col-sm-offset-6 well">
					<div class="text-right form-group">
						{{form_widget(form.save) }}
						{{form_widget(form.cancel) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{{form_end(form) }}
