{# src/Busybee/PersonBundle/Resources/views/Staff/index.html.twig #}

{% trans_default_domain "BusybeePersonBundle" %}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% block title %}{{ parent() }}{{ 'person.staff.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'person.staff.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'person.staff.description'|trans }}{% endblock headerLead %}



{% block contentContainer %}
	{% include 'PaginationBundle:Default:index.html.twig' %}
	<div class="container-fluid well">
		<div class="row row-header">
			<div class="col-sm-2 col-md-2" style="display: inline-block;">
				{% if pagination.getSortByName == 'Family Name' %}
					<span class="halflings halflings-sort-by-alphabet"></span> {{ 'person.staff.familyName'|trans }}
				{% else %}
					{{ 'person.staff.familyName'|trans }}
				{% endif %}
			</div>
			<div class="col-sm-2 col-md-2" style="display: inline-block;">
				{% if pagination.getSortByName == 'Given Name' %}
					<span class="halflings halflings-sort-by-alphabet"></span> {{ 'person.staff.givenName'|trans }}
				{% else %}
					{{ 'person.staff.givenName'|trans }}
				{% endif %}
			</div>
			<div class="col-sm-5 hidden-sm hidden-xs" style="display: inline-block;">
				{% if pagination.getSortByName == 'Email' %}
					<span class="halflings halflings-sort-by-alphabet"></span> {{ 'person.staff.email'|trans }}
				{% else %}
					{{ 'person.staff.email'|trans }}
				{% endif %}
			</div>
			<div class="col-sm-3 col-md-3 withAdd">
				<button title='{{ 'person.staff.add'|trans}}' type="button" class="halflings halflings-plus-sign btn btn-primary" onClick="window.open('{{ path('staff_edit', {'id': 'Add'}) }}','_self')"></button> {{ 'person.actions'|trans }} 
			</div>
		</div>
	{% for staff in pagination.getResult %}
		<div class="row row-striped">
			<div class="col-sm-2 col-md-2 form-inline">
				{{ staff.surname }}
			</div>
			<div class="col-sm-2 col-md-2 form-inline">
				{{ staff.firstName }}
			</div>
			<div class="col-sm-5 hidden-sm hidden-xs form-inline">
				{{ staff.email }}
			</div>
			<div class="col-sm-3 col-md-3 form-inline">
				<button title='{{ 'person.staff.edit'|trans}}' type="button" class="halflings halflings-edit btn btn-warning" onClick="window.open('{{ path('staff_edit', {'id': staff.id}) }}','_self')"></button>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock contentContainer %}
