{# src/Busybee/TimeTableBundle/Resources/views/TimeTable/list.html.twig #}

{% trans_default_domain "BusybeeTimeTableBundle" %}

{% extends "BusybeeFormBundle:Default:template.html.twig" %}

{% block title %}{{ 'line.title.list'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'line.title.list'|trans }}{% endblock headerTitle %}
{% block headerLead %}{% endblock headerLead %}

{% block contentContainer %}
    {% block flashMessages %}
        {% include '@BusybeeForm/Default/flash.html.twig' with {transDomain: 'BusybeeTimeTableBundle', } %}
    {% endblock flashMessages %}
    {% include 'PaginationBundle:Default:index.html.twig' %}
    {% set h3Content = addButton({'title': 'line.title.add', 'transDomain': 'BusybeeTimeTableBundle', 'windowOpen': {'route': path('line_manage', {'id': 'Add'})}}) %}
    {% include '@BusybeeForm/Page/panelStart.html.twig' with {'header': 'line.title.list', 'transDomain': 'BusybeeTimeTableBundle'} %}
    <div class="container-fluid well">
        <div class="row row-header">
            <div class="col-sm-3" style="display: inline-block;">
                {% if pagination.getSortByName == 'Name' %}
                    <span class="halflings halflings-sort-by-alphabet"></span> {{ 'line.label.name'|trans }}
                {% else %}
                    {{ 'line.label.name'|trans }}
                {% endif %}
            </div>
            <div class="col-sm-3" style="display: inline-block;">
                {% if pagination.getSortByName == 'Short Name' %}
                    <span class="halflings halflings-sort-by-alphabet"></span> {{ 'line.label.nameShort'|trans }}
                {% else %}
                    {{ 'line.label.nameShort'|trans }}
                {% endif %}
            </div>
            <div class="col-sm-3 form-inline">
                {% if pagination.getSortByName == 'Course' %}
                    <span class="halflings halflings-sort-by-alphabet"></span> {{ 'line.label.course'|trans }}
                {% else %}
                    {{ 'line.label.course'|trans }}
                {% endif %}
            </div>
            <div class="col-sm-3 withAdd">
                {{ 'actions'|trans({}, 'BusybeeHomeBundle') }}
            </div>
        </div>
        {% for line in pagination.getResult %}
            <div class="row row-striped">
                <div class="col-sm-3 form-inline">
                    {{ line.name }}
                </div>
                <div class="col-sm-3 form-inline">
                    {{ line.nameShort }}
                </div>
                <div class="col-sm-3 form-inline">
                    {{ line.course }}
                </div>
                <div class="col-sm-3 form-inline">
                    {{ deleteButton({'javascript': {'options': [path('line_delete', {'id': line.id}), 'line.delete.confirm'|trans], 'function': 'confirmDelete'}, 'style': '', 'colour': 'warning'})|raw }}
                    {{ editButton({'style': '', 'title': 'line.title.edit', 'transDomain': 'BusybeeTimeTableBundle', 'windowOpen': {'route': path('line_manage', {'id': line.id})}})|raw }}
                </div>
            </div>
        {% endfor %}
    </div>
    {% include '@BusybeeForm/Page/panelEnd.html.twig' %}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% include '@BusybeeForm/Scripts/confirmDelete.html.twig' %}
{% endblock javascripts %}