{# src/Busybee/PersonBundle/Resources/views/Locality/edit.html.twig #}

{% trans_default_domain "BusybeeLocalityBundle" %}

{% form_theme form "BusybeeTemplateBundle:Template:bootstrap.html.twig" %}

<div class="panel panel-info busybee-panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'locality.header.title'|trans }}
            {% if manager.canDelete() and id != 'Add' %}
                {{ deleteButton({title: 'locality.action.delete', transDomain: 'BusybeeLocalityBundle', windowOpen: {route: path('locality_delete', {'id': id})}})|raw }}
            {% endif %}
            {{ resetButton({title: 'locality.action.reset', transDomain: 'BusybeeLocalityBundle', colour: 'info'})|raw }}
            {{ closeButton({title: 'locality.action.close', transDomain: 'BusybeeLocalityBundle', class: 'formChanged btn btn-warning halflings-folder-close halflings'})|raw }}
            {{ saveButton({title: 'locality.action.save', transDomain: 'BusybeeLocalityBundle'})|raw }}
        </h3>
        <p>{{ 'locality.header.description'|trans }}</p>
    </div>
    <div class="panel-body">
        <div class='row'>
            <div class="col-sm-6">
                {% include '@BusybeeTemplate/Default/flash.html.twig' with {flashClass: 'fadeAlert', transDomain: 'BusybeeLocalityBundle'} %}
            </div>
            <div class="col-sm-6 well" style="display: none">
                <div class='form-widget text-right'>
                    {% if manager.canDelete() and id != 'Add' %}
                        <button type="button" onclick="window.open('{{ path('locality_delete', {'id': id}) }}','_self')"
                                class="btn btn-danger glyphicons glyphicons-erase">{{ 'form.delete'|trans({}, 'BusybeeHomeBundle') }}</button>
                    {% endif %}
                </div>
            </div>
            <div class='col-sm-6 well well-success'>
                {{ form_row(form.localityList, {'value': form.vars.value.id|trim }) }}
            </div>
        </div>
        <div class='row'>
            <div class='col-sm-6 well'>
                {{ form_row(form.name) }}
            </div>
            <div class='col-sm-6 well'>
                {{ form_row(form.territory) }}
            </div>
        </div>
        <div class='row'>
            <div class='col-sm-6 well'>
                {{ form_row(form.postCode) }}
            </div>
            <div class='col-sm-6 well'>
                {% if form.territory.vars.value is empty %}
                    {{ form_row(form.country, {'value': get_parameter('country')}) }}
                {% else %}
                    {{ form_row(form.country) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
