{# src/Busybee/PersonBundle/Resources/views/Activity/edit.html.twig #}

{% trans_default_domain "BusybeeStudentBundle" %}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% form_theme form
"BusybeeFormBundle:Template:bootstrap.html.twig"
'@BusybeeStudent/Activity/studentCollection.html.twig' %}

{% block title %}{{ parent() }}{{ 'student.activity.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'student.activity.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{% endblock headerLead %}


{% block contentContainer %}
    {% set transDomain = 'BusybeeStudentBundle' %}
    {% set h3Content = returnButton({'windowOpen': {'route': path('student_activities', {'currentSearch': currentSearch})}})|raw %}
    {% if app.request.get('id') != 'Add' %}
        {% set h3Content = h3Content ~ addButton({'windowOpen': {'route': path('student_activity_edit', {'id': 'Add', 'currentSearch': currentSearch})}})|raw %}
    {% endif %}
    {% set h3Content = h3Content ~ resetButton({'windowOpen': {'route': path('student_activity_edit', {'id': app.request.get('id'), 'currentSearch': currentSearch})}})|raw %}
    {% set h3Content = h3Content ~ saveButton() %}
    {% set h3Content = h3Content ~ form_widget(form.changeRecord, {'value': app.request.attributes.get('id')}) %}
    {{ form_start(form, {'attr':{'id': 'activity_form'}}) }}
    {% include '@BusybeeHome/Page/panelStart.html.twig' with {'header': 'student.activity.title', 'panelParagraph': 'student.activity.description'} %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-8 well">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col-sm-4 well">
                        {{ form_row(form.nameShort) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 well">
                        {% set value = form.year.vars.value %}
                        {% if form.year.vars.value is empty and not form.year.vars.data is empty %}
                            {% set value = form.year.vars.data %}
                        {% endif %}
                        {{ form_row(form.year, {'value': value}) }}
                    </div>
                    <div class="col-sm-6 well">
                        {{ form_row(form.grades) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 well">
                        {{ form_row(form.tutor1) }}
                    </div>
                    {% if form.tutor1.vars.data is not empty %}
                        <div class="col-sm-4 well">
                            <div class="text-center">{{ form.tutor1.vars.data.getPortrait()|raw }}</div>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-sm-8 well">
                        {{ form_row(form.tutor2) }}
                    </div>
                    {% if form.tutor2.vars.data is not empty %}
                        <div class="col-sm-4 well">
                            <div class="text-center">{{ form.tutor2.vars.data.getPortrait()|raw }}</div>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-sm-8 well">
                        {{ form_row(form.tutor3) }}
                    </div>
                    {% if form.tutor3.vars.data is not empty %}
                        <div class="col-sm-4 well">
                            <div class="text-center">{{ form.tutor3.vars.data.getPortrait()|raw }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if form.students is defined %}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12 well">
                            {{ form_row(form.students) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 well">
                            <div class="input-group">
                                {{ form_widget(form.possibleList) }}
                                <div class="input-group-btn">
                                    {{ miscButton({'class': 'btn btn-warning halflings halflings-saved possibleList', 'title': 'activity.student.button.possibleList', 'style': 'height: 34px; margin-top: -1px; float: right; '})|raw }}
                                </div>
                            </div>
                            {{ form_label(form.possibleList) }}
                            <span class="field-help">{{ form.possibleList.vars.attr.help|trans }}</span>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% include '@BusybeeHome/Page/panelEnd.html.twig' %}
    {{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% include '@BusybeeStudent/Activity/studentScript.html.twig' %}
    {% set route = 'student_activity_edit' %}
    {% include '@BusybeeHome/Scripts/monitorForm.html.twig' %}
{% endblock javascripts %}