{# src/Busybee/CurriculumBundle/Resources/views/Course/index.html.twig #}

{% trans_default_domain "BusybeeCurriculumBundle" %}

{% extends "BusybeeFormBundle:Default:template.html.twig" %}

{% block title %}{{ 'course.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'course.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'course.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
    {% include 'PaginationBundle:Default:index.html.twig' %}
    {% set h3Content = addButton({'title': 'course.add.title', 'transDomain': 'BusybeeCurriculumBundle', 'windowOpen': {'route': path('course_edit')}}) %}
    {% include '@BusybeeHome/Page/panelStart.html.twig' with {'header': 'course.title', 'transDomain': 'BusybeeCurriculumBundle'} %}
    <div class="container-fluid well">
        <div class="row row-header">
            <div class="col-sm-3" style="display: inline-block;">
                {% if pagination.getSortByName == 'Name' %}
                    <span class="halflings halflings-sort-by-alphabet"></span> {{ 'course.label.name'|trans }}
                {% else %}
                    {{ 'course.label.name'|trans }}
                {% endif %}
            </div>
            <div class="col-sm-2" style="display: inline-block;">
                {% if pagination.getSortByName == 'Course Code' %}
                    <span class="halflings halflings-sort-by-alphabet"></span> {{ 'course.label.code'|trans }}
                {% else %}
                    {{ 'course.label.code'|trans }}
                {% endif %}
            </div>
            <div class="col-sm-2" style="display: inline-block;">
                {{ 'course.label.version'|trans }}
            </div>
            <div class="col-sm-2" style="display: inline-block;">
                {% if pagination.getSortByName == 'Course Target' %}
                    <span class="halflings halflings-sort-by-alphabet"></span> {{ 'course.label.targetYear'|trans }}
                {% else %}
                    {{ 'course.label.targetYear'|trans }}
                {% endif %}
            </div>
            <div class="col-sm-2 col-sm-offset-1 withAdd">
                {{ 'actions'|trans({}, 'BusybeeHomeBundle') }}
            </div>
        </div>
        {% for course in pagination.getResult %}
            <div class="row row-striped">
                <div class="col-sm-3 form-inline">
                    {{ course.name }}
                </div>
                <div class="col-sm-2 form-inline">
                    {{ course.code }}
                </div>
                <div class="col-sm-2 form-inline">
                    {{ course.version }}
                </div>
                <div class="col-sm-2 form-inline">
                    {{ course.targetYear }}
                </div>
                <div class="col-sm-2 col-sm-offset-1 form-inline">
                    {{ editButton({'style': '', 'class': 'halflings halflings-edit btn btn-warning','title': 'course.edit.title', 'transDomain': 'BusybeeCurriculumBundle', 'windowOpen': {'route': path('course_edit', {'id': course.id})}})|raw }}
                </div>
            </div>
        {% endfor %}
    </div>
    {% include '@BusybeeHome/Page/panelEnd.html.twig' %}
{% endblock contentContainer %}
