{% extends "BusybeeSecurityBundle::layout.html.twig" %}
{% trans_default_domain 'BusybeeSecurityBundle' %}

{% block title %}{{ parent() }}{{ 'registration.confirmation.title'|trans }}{% endblock title %}
{% block SecurityBundleContent %}
    <div class="jumbotron hideSection">
        <h1>{{ 'registration.confirmation.title'|trans }}</h1>
        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
        {% if app.session is not empty %}
            {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
            {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a>
                </p>{% endif %}
        {% endif %}
    </div>
{% endblock SecurityBundleContent %}
