{# src/General/SecurityBundle/Resources/views/User/request_content.html.twig #}

{% trans_default_domain 'BusybeeSecurityBundle' %}

{% set header = 'security.request.title' %}
{% set transDomain = 'BusybeeSecurityBundle' %}
{% set panelParagraph = 'security.help.request' %}
{% set h3Content = saveButton({'class': 'btn btn-success halflings halflings-send', title: 'email.send', transDomain: 'BusybeeHomeBundle'}) %}

<form action="{{ path("busybee_security_user_reset_send_email") }}" method="post" class="security_user_reset_request">
    {% include '@BusybeeTemplate/Page/panelStart.html.twig' %}
    <div id="form_body" class="container-fluid">
        <div class="row">
            <div class="col-sm-5 well">
                {% if invalid_username is defined %}
                    <div class="alert alert-warning" role="alert">
                        <strong>{{ 'Warning'|trans }}
                            !</strong> {{ 'security.request.invalid_username'|trans({'%username%': invalid_username}) }}
                    </div>
                {% endif %}
                {% if forcePasswordReset %}<br/><span
                        class="field-help">{{ 'security.request.forcePassword'|trans }}</span>{% endif %}
                <input type="text" id="username" name="username"
                       required {% if email is defined %} value="{{ email }}" {% endif %} class="form-control"/>
                <label for="username">{{ 'security.request.username'|trans }}</label>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            </div>

            <div class="col-sm-7 well">
                <textarea class="form-control" id="comment" name="comment"></textarea>
                <label for="comment">{{ 'security.request.label.comment'|trans }}</label>
            </div>
        </div>
    </div>
    {% include '@BusybeeTemplate/Page/panelEnd.html.twig' %}
</form>

