{# src/Busybee/EnrolmentBundle/Resources/views/Campus/resources.html.twig #}

{% trans_default_domain "BusybeeEnrolmentBundle" %}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{% block title %}{{ 'homeroom.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'homeroom.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'homeroom.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
    {% include 'PaginationBundle:Default:index.html.twig' %}
    {% set h3Content = addButton({'title': 'homeroom.add.title', 'transDomain': 'BusybeeEnrolmentBundle', 'windowOpen': {'route': path('home_room_edit', {'id': 'Add'})}}) %}
    {% include '@BusybeeHome/Page/panelStart.html.twig' with {'header': 'homeroom.title', 'transDomain': 'BusybeeEnrolmentBundle'} %}
    <div class="container-fluid well">
        <div class="row row-header">
            <div class="col-sm-3 col-md-3" style="display: inline-block;">
                {% if pagination.getSortByName == 'Name' %}
                    <span class="halflings halflings-sort-by-alphabet"></span> {{ 'homeroom.label.name'|trans }}
                {% else %}
                    {{ 'homeroom.label.name'|trans }}
                {% endif %}
            </div>
            <div class="col-sm-2 col-md-2" style="display: inline-block;">
                {% if pagination.getSortByName == 'Short Name' %}
                    <span class="halflings halflings-sort-by-alphabet"></span> {{ 'homeroom.label.nameShort'|trans }}
                {% else %}
                    {{ 'homeroom.label.nameShort'|trans }}
                {% endif %}
            </div>
            <div class="col-sm-3 col-md-3" style="display: inline-block;">
                {% if pagination.getSortByName == 'Room' %}
                    <span class="halflings halflings-sort-by-alphabet"></span> {{ 'homeroom.label.campusResource'|trans }}
                {% else %}
                    {{ 'homeroom.label.campusResource'|trans }}
                {% endif %}
            </div>
            <div class="col-sm-2 col-md-2" style="display: inline-block;">
                {% if pagination.getSortByName == 'Year' %}
                    <span class="halflings halflings-sort-by-alphabet"></span> {{ 'homeroom.label.schoolYear'|trans }}
                {% else %}
                    {{ 'homeroom.label.schoolYear'|trans }}
                {% endif %}
            </div>
            <div class="col-sm-2 col-md-2 withAdd">
                {{ 'actions'|trans({}, 'BusybeeHomeBundle') }}
            </div>
        </div>
        {% for homeroom in pagination.getResult %}
            <div class="row row-striped">
                <div class="col-sm-3 col-md-3 form-inline">
                    {{ homeroom.name }}
                </div>
                <div class="col-sm-2 col-md-2 form-inline">
                    {{ homeroom.nameShort }}
                </div>
                <div class="col-sm-3 col-md-3 form-inline">
                    {{ homeroom.room }}
                </div>
                <div class="col-sm-2 col-md-2 form-inline">
                    {{ homeroom.year }}
                </div>
                <div class="col-sm-2 col-md-2 form-inline">
                    <button title='{{ 'homeroom.edit.title'|trans }}' type="button"
                            class="halflings halflings-edit btn btn-warning"
                            onClick="window.open('{{ path('home_room_edit', {'id': homeroom.id}) }}','_self')"></button>
                </div>
            </div>
        {% endfor %}
        </div>
    {% include '@BusybeeHome/Page/panelEnd.html.twig' %}
{% endblock contentContainer %}
