{% trans_default_domain "BusybeeInstituteBundle" %}

{% extends "BusybeeHomeBundle:Default:template.html.twig" %}

{%  if form.vars.value.id != 'Add' %}
    {% set title = 'groups.year.edit.title' %}
    {% set description = 'groups.year.edit.description' %}
{% else %}
    {% set title = 'groups.year.add.title' %}
    {% set description = 'groups.year.add.description' %}
{% endif %}

{% block title %}{{ parent() }}{{ title|trans }}{% endblock title %}
{% block headerTitle %}{{ title|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ description|trans }}{% endblock headerLead %}

{% block contentContainer %}
{{ form_start(form) }}
    {% set h3Content = returnButton({'windowOpen': {'route': path('groups_years')}}) %}
    {% if app.request.attributes.get('id') != 'Add' %}{% set h3Content = h3Content ~ addButton({'windowOpen': {'route': path('student_year_edit', {'id': 'Add'})}}) %}{% endif %}
    {% set h3Content = h3Content ~ resetButton() %}
    {% set h3Content = h3Content ~ saveButton() %}
    {% include '@BusybeeHome/Page/panelStart.html.twig' with {'header': 'groups.year.title', 'transDomain': 'BusybeeInstituteBundle'} %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 well">
                {{ form_row(form.name) }}
            </div>
            <div class="col-sm-3 well">
                {{ form_row(form.nameShort) }}
            </div>
            <div class="col-sm-3 well">
                {{ form_row(form.year) }}
            </div>
            <div class="col-sm-3 well">
                {{ form_row(form.sequence) }}
            </div>
        </div>
    </div>
    {% include '@BusybeeHome/Page/panelEnd.html.twig' %}
{{ form_end(form) }}
{% endblock contentContainer %}


{% block javascripts %}
	{{ parent() }}
{% endblock javascripts %}